[2020-11-20 06:28] tedteng commented on #452
add the auto-approve feature.

[2020-11-20 06:31] tedteng commented on #447
with the latest approach, will try to create kubectl image with oidc-login plugin which uses for GitHub action

[code]

[2020-11-20 20:52] dansible commented on #444
Cool, let's wait until https://github.com/gardener/gardenctl/issues/455 is fixed which will unblock these other issues

[2020-11-20 20:54] dansible commented on #447
We can't use the oidc kubeconfigs with the cicd as the 2-factor is meant for humans (not automation). We would need a normal kubeconfig with sufficient permissions to perform these tasks

[2020-11-20 21:14] #455 closed

[2020-11-23 14:32] petersutter commented on #328
don't think that this issue is already done.
the operate function is still called with a string parameter, and not with an array
[code]

[2020-11-23 14:40] andrei-panov commented on #329
/assign

[2020-11-23 16:58] #433 closed

[2020-11-24 02:58] #442 closed

[2020-11-24 05:42] tedteng commented on #447
yes, you are right, 2-factor required humans input, and it seems to enable in Live only,  I never met in Dev required me to input the security code.  I thought I could found some silent mode since dev landscape never asking input 2-factor code. however, OIDC required an access browser. I can't handle it when in Github action.

now I am using the normal kubeconfig . as latest testing. It seems work

[2020-11-24 09:01] tedteng commented on #385
PR in `ops-guide` : https://github.tools.sap/kubernetes/ops-guide/pull/175.  generate ~/.garden/config with kubeocnfig md5  when `./setup-kubeconfigs` executed

[2020-11-24 14:51] andrei-panov opened #458 "reduce usage of checkError to make it possible to write tests"
We have a very generic function `checkError` in `utils.go` file.
The fatal flaw of this function that if there a non-nil error then it call for `log.Fatalf(err.Error())` and exit.
It's mean that if this function is used somewhere then it makes it not possible to test the calling function because it will exit during the test execution.
It also prevents us from doing some cleaning after the executio

[2020-11-24 14:54] petersutter commented on #458
💯

[2020-11-24 14:58] dansible commented on #339
At a minimum it would be great to be able to parse just the error messages. Some logs use the format of starting error messages with `E...` and some arbitrary numbers in the start of the log line, others include the full `error` keyword

[2020-11-24 15:16] dansible commented on #346
This may not be possible due to the fact that the loki pod is running on the seed and we get the logs by exec'ing into that pod and curling the localhost endpoint. Potentially this could be done if we can access the endpoint of loki from the shoot (possibly via the VPN)

[2020-11-24 16:09] andrei-panov opened #459 "check `gardenctl logs` output with and without --loki flag"
To test it you should target the shoot cluster which has `loki-0` pod and the whole cluster in the running state.
For example this one: https://dashboard.garden.dev.k8s.ondemand.com/namespace/garden-gardenctl/shoots/gctl-gcp/

Execute two commands and find out if the produced output is expectable:
- `gardenctl logs etcd-main etcd`
- `gardenctl logs etcd-main etcd --loki`

[code]

[code]

[2020-11-24 20:12] #448 closed

[2020-11-25 00:56] tedteng commented on #458
yes also observe this in https://github.com/gardener/gardenctl/pull/404#discussion_r514777299. the `checkError`  not return and exit after invoked, haven't got an idea of how to improve it at that time.

[2020-11-25 02:34] tedteng opened #463 "add kubeconfig gitignore"
**Describe the bug**
add kubeconfig gitignore

**To Reproduce**
Steps to reproduce the behavior:
1. Which target was set 'gardenctl get target'
2. Which command was entered [e.g. 'gardenctl show vpn-seed']
3. What was the output of the command

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your

[2020-11-25 02:42] #452 closed

[2020-11-25 08:20] tedteng commented on #447
manually check ssh AWS and Azure all green for  SSH testing,  but GCP failed in action (python v3.8 and Gcloud cli with the latest version).  will investigating.
(skip openstack as is internal which not able to access from github.com)

![image](https://user-images.githubusercontent.com/42234376/100200382-79522500-2f39-11eb-9af6-74e7ed1060b5.png)

[2020-11-25 09:46] andrei-panov commented on #328
/unassign
I have another ticket at the moment.

[2020-11-25 15:23] neo-liang-sap opened #466 "several issues in `gardenctl ssh aws_node`"
**Describe the bug**

Currently there are several issues in `gardenctl ssh aws_node`, the initial error is
![image](https://user-images.githubusercontent.com/42594392/100248359-5c881280-2f76-11eb-9454-2e892583d65b.png)

[code]

First one

 in short, some aws command returns more than one result but we didn't check (we assume the return is only one line), this occurs (so far as i see) in a.ImageID

[2020-11-26 02:18] tedteng commented on #328
in `operate.go`  there are a lot of ` 	os.Exit(2) ` without any information return.  It may have a chance to improve it when refactoring

![image](https://user-images.githubusercontent.com/42234376/100300305-a998d280-2fd0-11eb-8281-aa4b2bd5a3e4.png)

https://github.com/gardener/gardenctl/blob/71eca904ef392bc4a32706b018594f97676a9c91/pkg/cmd/operate.go#L112-L139

[2020-11-26 02:30] tedteng commented on #447
after debug the current gcp ssh workaound in operate.go not support in github action yet.

arguments
![image](https://user-images.githubusercontent.com/42234376/100301060-4e67df80-2fd2-11eb-8a3d-1be51dbc2529.png)

[2020-11-26 03:25] tedteng commented on #393
yes as ops-toolbelt is one of the options, in a container to git clone gardenctl code then test it,
as research in Github action recently, it seems more easily use an action to achieve now.  so the current approach I am using action as a container to test

[2020-11-26 03:27] tedteng commented on #393
- [ ] logs_test.go as https://github.com/gardener/gardenctl/pull/425 coverd

[2020-11-26 05:26] neo-liang-sap commented on #444
as https://github.com/gardener/gardenctl/issues/455 merged, closing this issue as fixed
/close

[2020-11-26 05:26] #444 closed

[2020-11-26 06:25] neo-liang-sap opened #469 "func getTargetMapInfo(targetReader TargetReader) doesn't return namespace info"
**Describe the bug**
func getTargetMapInfo(targetReader TargetReader) doesn't return namespace info

**To Reproduce**
1.target a garden/seed/namespace
2.invoke getTargetMapInfo() function
3.no namepsace info included, other information garden,project,seed,shoot,shootTechnicalID are included

**Expected behavior**
namespace info should also be included

**Screenshots**
https://github.com/gardener/g

[2020-11-26 06:52] neo-liang-sap opened #470 "validateArgs bug in "gardenctl logs tf""
**Describe the bug**

Say we have current target stack:
[code]
we have a seed targeted

But in logic https://github.com/gardener/gardenctl/commit/16fc236f9ff027a465d4075eccb2c5c9dd9f9d21#diff-59f23253994b1605ea49a120ea68de0c2ee3a4240c2825bb741f7b707695211fR80 , gardenctl will fall into `return errors.New("No seed or shoot targeted")`

this commit is included in https://github.com/gardener/gardenct

[2020-11-26 09:24] petersutter commented on #458
Also the os.Exit calls should be removed or at least reduced. See also this comment from @tedteng https://github.com/gardener/gardenctl/issues/328#issuecomment-734033925
Instead, like @andrei-panov wrote, the error should bubble up the call stack.

[2020-11-26 13:44] dansible opened #472 "Improve documentation for users on how to setup and configure gardenctl"
It would be great to add some more documentation for end users (specifically non-admins) for how they can setup and use gardenctl. Some of the topics:

- [ ] Downloading your OIDC-kubeconfig (or service account kubeconfig)
- [ ] Setup `~/.garden/config` to point to the kubeconfig
- [ ] How to target your garden
- [ ] What you have access to in your project (clarify what is a project vs namespace)

[2020-11-26 16:21] uvwild commented on #472
**### Me too:**
I can configure .garden/config with the clusters
then I can do` gardenctl ls gardens `(which shows the entries)

Trying to list any other resource  `gardenctl ls XXXX`
returns
_Error: the server could not find the requested resource (get XXX.core.gardener.cloud)_
(with XXX in projects, seeds,shoots,issues,namespaces

There is some essential information missing explaining the config

[2020-11-26 16:28] petersutter commented on #472
The kubeconfig that you use for the garden config must be the (virtual) garden cluster. It's the cluster that exposed the `Project`, `Shoot`, `Seed` etc. resources

[2020-11-30 01:30] #463 closed

[2020-11-30 06:10] tedteng commented on #393
- [ ] kubectl.go
- [ ] kubectx.go
will cover in https://github.com/gardener/gardenctl/issues/447

[2020-11-30 14:28] #406 closed

[2020-11-30 14:31] neo-liang-sap opened #474 "enhance documentation / help command in gardenctl"
Thanks for @mandelsoft reporting this in DOD sync and landscape mtg, here i'm copy and pasting content in issue description

[code]

[2020-11-30 15:33] dansible opened #475 "Condense commands in `gardenctl infra orphan list`"
Currently the `gardenctl infra orphan list` command doesn't provide any info on what the `gardenctl infra orphan list` command does. It would be great to:

- [ ] Condense the command into a single verb `gardenctl orphan`
- [ ] Add a meaningful help message for what this does (lists shoot resources that don't exist in the Gardener TF state)

[2020-11-30 19:52] dansible opened #477 "Add `gardenctl show infra` command"
It would be great to have a command to show all the cloud provider infra created by gardener (VPCs, Subnets, Routes, VMs, etc).

Some of this functionality is implemented in the `gardenctl infra orphan list` command (see https://github.com/gardener/gardenctl/issues/475 and https://github.com/gardener/gardenctl/issues/252) but would need to be extracted/refactored to be able to use in this case as

[2020-12-01 01:24] tedteng commented on #470
I think you can simply handle this issue by change code to

`
} else if !(IsTargeted(targetReader, "project") || IsTargeted(targetReader, "shoot") && IsTargeted(targetReader, "seed")) && args[0] == "tf" {
`

I don't know you will fix it in your PR https://github.com/gardener/gardenctl/issues/436 or I will help you to open a new PR  to fix and merge it?  let me know what's your next steps?

[2020-12-01 02:21] #466 closed

[2020-12-01 02:32] neo-liang-sap commented on #470
Hi @tedteng , thanks for your comments.
I tried your proposal but seems not working from my side, could you please check and confirm? thanks!
![image](https://user-images.githubusercontent.com/42594392/100689953-813e1900-33c0-11eb-9018-355f2212b534.png)
![image](https://user-images.githubusercontent.com/42594392/100689967-89965400-33c0-11eb-99c4-2b945442999c.png)
-Neo

[2020-12-01 03:08] tedteng commented on #447
achieved execute test_local through GitHub action. which also covers more testing cases mention in form  #393  (not include gcp as not support yet and ssh)however, it takes almost 10 mins. planning optimize it

![image](https://user-images.githubusercontent.com/42234376/100691912-adf42f80-33c4-11eb-9e18-01c917ca44b2.png)

[2020-12-01 03:23] vlerenc commented on #475
@dansible @neo-liang-sap @DockToFuture I must admit, I didn't even know we have this command. What is it doing and how?

On the one hand, it seems it would have to have some knowledge on what and how Gardener creates the resources (to find orphans) and on the other hand, it's rather infrastructure-specific, which brings me to the point of extensibility in `gardenctl`.

Somewhat related, @rfranzke

[2020-12-01 03:26] vlerenc commented on #477
Related, @rfranzke recently proposed to pull out all resources from the Terraform file. We already pull some out to hand them over to other components (such as the VPC ID), but not yet all.

@dansible @neo-liang-sap @DockToFuture What would be your way to get to this data, if this proposal gets picked up? I ask, because it would be a waste to duplicate the work and `gardenctl` couldn't reliably "f

[2020-12-01 03:44] vlerenc commented on #252
Sorry, I didn't tracked `gardenctl`. By accident, via the recently mentioned #475 and #477, I found this one.

Related, @rfranzke recently proposed to pull out all resources from the Terraform file. We already pull some out to hand them over to other components (such as the VPC ID), but not yet all.

@dansible @neo-liang-sap @DockToFuture Topics like this should have been better discussed with the

[2020-12-01 06:27] tedteng commented on #470
ok, I see, I didn't pay attention to you are target the namespace at that time. As the information provided above, I think you can get the idea of how to handle this kind of issue next time when using `IsTargeted `, I believe you can add `IsTargeted(targetReader, "namespace")`  inside the code. It should fix the issue now.

[code]

![image](https://user-images.githubusercontent.com/42234376/100704

[2020-12-01 07:40] tedteng commented on #447
as the latest changes, the total time cost around 3 mins after using container in Github action

![image](https://user-images.githubusercontent.com/42234376/100710711-15bd7100-33eb-11eb-8ada-0d6a2c6f8599.png)

[2020-12-01 13:38] andrei-panov commented on #458
Do we have any guidelines? Since it's not possible to fix all places in one shot at least we can collect and document some desired (soft, flexible...) directions of future development.

[2020-12-01 13:48] #475 closed

[2020-12-01 13:49] neo-liang-sap commented on #436
tf issue fixed in comments https://github.com/gardener/gardenctl/issues/470

[2020-12-01 14:02] jfortin-sap commented on #475
@vlerenc Essentially, this command simply pulls the list of cloud resource ids from the cloud cli of the cloud provider associated to the shoot that should be present in the terraform state file, checks the presence in the terraform state file and if not it is declared an orphan.

[2020-12-01 14:28] vlerenc commented on #475
@jfortin-sap It is a good approach, I guess. Then again, extensions don't have to use Terraform and what is not in the state file is not shown (could be identified via tags?).

In general, we have seen that this question is an interessant one to answer/show the information also to our end users (not only `gardenctl` users when doing ops). They ask us, which resources are you creating, what is bloc

[2020-12-01 17:02] jfortin-sap commented on #477
@vlerenc @rfranzke  We would basically use the cloud provider cli to retrieve all the resources and print it out in a presentable digestible format? Would this be fine?

[2020-12-02 01:31] tedteng commented on #385
as discussed in a planning meeting yesterday, Planning to add backup config logic first

[2020-12-02 08:58] dguendisch opened #478 "Support `hermesctl` CLI"
When debugging ccloud issues, we sometimes use `openstack` to analyze resources in the customers accounts.
However sometimes it's necessary to check the auditlogs as well. CCloud colleagues have a CLI for this called `hermesctl`, see https://github.com/sapcc/hermes-ctl
We'd need support from gardenctl to execute `hermesctl` also for openstack clusters.

[2020-12-02 12:40] neo-liang-sap commented on #478
Hi @dguendisch ,
thanks for this enhancement request, i would like to help on this issue.
I wonder what env variable needs to be set before using `hermes-ctl`? for example when running sth like `gardenctl openstack xxx` we exported list of env variable like `OS_AUTH_URL` `OS_TENANT_NAME` `OS_PROJECT_DOMAIN_NAME` etc , my assumption is `hermes-ctl` use same env variable as `openstack`?

I see from

[2020-12-02 13:08] dguendisch commented on #478
When I manually used `hermesctl` I just passed `OS_AUTH_URL` and `OS_AUTH_TOKEN`
But maybe @kayrus knows best whether `hermesctl` will work equally well with the env vars mentioned by you.

[2020-12-02 13:19] neo-liang-sap commented on #478
`OS_AUTH_TOKEN` might be not feasible as i didn't find it in `secret->cloudprovider` or `CloudProfileConfig`.
I would prefer to use `OS_AUTH_URL`/ `OS_USERNAME`/ `OS_PASSWORD` / `OS_TENANT_NAME` / `OS_DOMAIN_NAME`
These values could be get from secret / CloudProfileConfig

[2020-12-02 13:22] andrei-panov opened #479 "introduce new packages"
Hi all,
I want to discuss a generic question about gardenctl packages.
Currently there only one global package cmd with a very global scope. What you thinking about to introduce  packages like this:
[code]
It will increase testability, reduce scope, make refactoring simpler, will allow us to use the same packages for testing (currently we use cmd_test and can’t test non-public methods), and as a s

[2020-12-02 13:45] dguendisch commented on #478
I just tried with the above envs and got:
[code]

Did not think about this. Obviously our technical users don't necessarily have the audit permissions required to view the audit logs. Thus the same will be true for customer accounts.
Guess then it's not feasible/meaningful to add this in `gardenctl` 🤔

[2020-12-02 13:54] #478 closed

[2020-12-02 14:53] stoyanr opened #480 "Connecting to a AWS instance that exists but failed to join the cluster via `gardenctl ssh` always fails"
**Describe the bug**
Connecting to a AWS instance that exists but failed to join the cluster via `gardenctl ssh` always fails.

**To Reproduce**
Steps to reproduce the behavior:
[code]

Note that since the instance doesn't join the cluster, it's deleted every 20 min. I tried with 2 of these instances with the same result.

**Expected behavior**
It should successfully connect to the instance via ss

[2020-12-02 14:54] stoyanr commented on #480
@ialidzhikov You mentioned that you had to workaround this as well, could you please share your experience?

[2020-12-02 15:20] neo-liang-sap commented on #480
Hi @stoyanr ,

Thanks for reporting this.

When i looked at this shoot i didn't see the node you mentioned (should have gone) , i tried ssh to another normal node and ssh seems ok.

I also met same problem when ssh to some machine (not only for aws).

From the log you pasted:
- the ip and port is reachable (`IP 18.196.163.225 port 22 is reachable`)
- `Warning: Permanently added '18.196.163.225' (E

[2020-12-03 05:51] tedteng opened #482 "Gardenctl update enhancement."
**Describe the bug**
The update feature only displays the information currently

[code]

I like to install the latest version or previous version with a version number in local when using the update feature

[2020-12-03 06:11] neo-liang-sap commented on #482
- could you please remove `Describe the bug` from description? it's not a bug, when you open new issue other than bug please choose "open blank issue"
- from user perspective i don't see any reason why they should revert to an old version, we should always encourage user to use latest version of gardenctl. If you'd like to revert back to some previous version due to development purpose, then it's

[2020-12-03 06:12] neo-liang-sap commented on #482
/invite @dansible , what do you think?

[2020-12-03 06:24] neo-liang-sap commented on #479
Nice proposal, i would suggest we cleanup all existing opening PRs, fix existing bugs (at least bugs we consider critical) in backlog, then we can start this refactor.
Let's discuss this in detail in next week planning mtg.

[2020-12-03 07:54] tedteng commented on #482
about the `update` feature (gardenctl update),  as I mentioned above the current process needs manual installation.  which is my main purpose,  regarding the older version installation is not the main pain point for me now. just an extra feature.  I am not too worry about older version installation part, I am fine without this part. besides, the command of an older version installation maybe like

[2020-12-04 07:20] tedteng commented on #482
![image](https://user-images.githubusercontent.com/42234376/101133664-2583c200-3644-11eb-9143-04cca542df23.png)
![image](https://user-images.githubusercontent.com/42234376/101133694-346a7480-3644-11eb-8928-ec78e2411c08.png)

[2020-12-04 08:59] andrei-panov commented on #482
add `--make-backup` flag? Then for the previous version, you can run `prev_gardenctl` ?

[2020-12-04 16:23] stoyanr commented on #480
@neo-liang-sap Yes, I guess you are right. I tried to connect to the machine via a bastion created with `gardenctl` after adding a manual long sleep in the `gardenctl` code as advised by @ialidzhikov. Unfortunately this still didn't work. Connecting to the bastion works, however, from there to the actual instance I got "connecton refused" even though the instance was there and running according to

[2020-12-04 16:23] #480 closed

[2020-12-04 16:41] jguipi commented on #469
I ran the test on my side and seems like I can see the namespace
![image](https://user-images.githubusercontent.com/11049349/101189727-67e9d680-3625-11eb-96df-880e160e3d29.png)
And the output was :
![image](https://user-images.githubusercontent.com/11049349/101189784-7f28c400-3625-11eb-8866-511c088c6742.png)
As you can see the shootTechnicalID (the namespace) is present.

[2020-12-05 05:27] neo-liang-sap commented on #469
Hi @jguipi , thanks for looking into, in this case please feel free close this issue, thanks!
-Neo

[2020-12-07 01:30] tedteng commented on #482
It could be, but I haven't decided whether need to handle the previous version yet or how to handle it in the proper ways. but I think the auto-upgrade is more useful now.

[2020-12-07 02:02] #474 closed

[2020-12-08 08:33] tedteng commented on #385
- add new logic to backup config file first on local `~/.garden/config.bak`
- able to handle comments when initial `TrustedKubeConfigMd5` if the config contains comments

![image](https://user-images.githubusercontent.com/42234376/101458901-76602700-3972-11eb-9741-82b36522bf1e.png)

[2020-12-08 14:10] timebertt opened #486 "gardenctl get shoot leaks Seed's kubeconfig"
**Describe the bug**

When executing `gardenctl get shoot`, it leaks the Seed's kubeconfig in the current working directory.

**To Reproduce**

[code]

**Expected behavior**

gardenctl should not leak any kubeconfigs in unexpected places.

**Gardenctl Version (please complete the following information):**
 - Version/Commit v0.24.0

[2020-12-08 14:10] timebertt commented on #486
/assign

[2020-12-08 14:15] tedteng commented on #486
Thanks, just saw this leak issue too when `gardenctl get garden` will download kubeconfig as well, not sure whether design as this behavior

[2020-12-08 14:33] #486 closed

[2020-12-08 15:41] #436 closed

[2020-12-09 13:28] danielfoehrKn opened #492 "AWS SSH - fails due to existing resource"
**Describe the bug**
Gardenctl fails to ssh into AWS node when one of the AWS resources already exist.

This happens e.g. when there is already an operator ssh-ing into the same node / or you want to use ssh with two terminals.

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Which target was set 'gardenctl get target'
2. Which command was entered [e.g. 'gardenctl show vpn-seed']
3. W

[2020-12-09 14:09] neo-liang-sap commented on #492
/assign
thanks for @danielfoehrKn for reporting this, i will fix it

[2020-12-10 01:43] neo-liang-sap commented on #492
Hi @danielfoehrKn , i proposed PR https://github.com/gardener/gardenctl/pull/494 to fix this problem.
Basically this problem is sometimes `gardenctl ssh` exit unexpectedly so the ingress rule exist in security group so when `gardenctl ssh` next time it is impossible to add it.
In my fix i get all ingress rules from host security group and put them in a array like ["22","1.2.3.4/32","443","2.3.4.5/

[2020-12-16 08:37] neo-liang-sap opened #496 "Enhance gardenctl process react against some system signal like Ctrl+C (^C)"
Thanks for @dguendisch catching this point in EU/APJ hands-on session.
Take `gardenctl ssh` for example, `gardenctl ssh` take several steps and if user press Ctrl+C (^C) during some of the steps, the process will exit immediately without cleanup resources, this will leads to resource leakage.
This issue is created to enhance gardenctl react to Ctrl+C, ideally when user press Ctrl+C, gardenctl shou

[2020-12-17 04:07] tedteng commented on #492
#494 which I use today is seem not working, another issue when port check return exit status 1, it seems also break the cleanup function, which make resource leakage

[code]

then I switch to #494

[code]

[2020-12-17 06:16] neo-liang-sap commented on #492
1) for https://github.com/gardener/gardenctl/pull/494 not working? could you please provide your `gardenctl get target` so i can use the cluster for debugging? this applies to such scenario in future
2) for `ip port check breaks cleanup function`, currently we have logic to check when next time `gardenctl ssh` if Bastian machine exist, we will not create it ; if we have SG there, we will not creat

[2020-12-17 07:26] tedteng commented on #492
1. The leakage resource I already removed for  `canary/projects/hc-dev/fire-1-1-haas` because it may blocked garden work flow.  so you may not able to reproduce from the user cluster now.  maybe try next time

2. sure, I will open the new ticket. as recall it used to invoke cleanup function when port not reachable instead of exit directly which may make resource leakage

[2020-12-17 07:37] tedteng opened #497 "ssh resource leakage"
**Describe the bug**
I got same issue #492 today when I troubleshooting user cluster issue.  then use PR https://github.com/gardener/gardenctl/pull/494 to ssh node.

however, the result exit directly without call cleanup method after port not reachable.

[code]

[2020-12-19 04:45] vlerenc opened #499 "Overhaul gardenctl, make it safer and more extensible"
TBD

[2020-12-19 04:49] vlerenc commented on #12
It is not 100% clear what we will gain by a `kubectl` plugin (what is stated in the description with the arguments seems not to be possible), but it would definitely speak to the community and it features an extension concept, which we also need (e.g. to package IaaS specific commands separately).

Since we anyhow need to overhaul it and make it safer and more extensible, this discussion here shal

[2020-12-19 04:49] #12 closed

[2020-12-21 08:02] timebertt commented on #499
Thanks for summarizing, @vlerenc!

Here are some additional thoughts from my side. They don't have to be discussed here, just wanted to put them on the record somewhere for future discussions.

I think we have multiple options for realizing this on the executable/plugin level:
- one binary/plugin per cloudprovider, each using a central library from gardenctl for the smart detection features, acces

[2020-12-21 10:25] andrei-panov commented on #499
Hi,
I’m a big fan of the command line but sometimes there too much to type even with autocompletion.
During my contribution to gardenctl I thought about to start *local* gardentctl in such API server mode and expose available functionality via REST to make it possible to interact via some kind of web-based UI.
What I saw during DoD hand-on session that valuable time spent is navigation over differ

[2020-12-21 13:55] vlerenc commented on #499
@timebertt Yes, from experience with /diag in the bot, I can only agree that we should have only one command that executes a multitude of checks, some of them are IaaS-specific. They should all adhere to the same contract, so that the findings can be uniformly aggregated, assessed and visualised (json, yaml, table, markdown).

So I vote for multiple plugins for the targeting mechanism. Probably we

[2020-12-22 06:54] timebertt commented on #499
Yes, something like this would work for me. And is probably even cleaner semantically...

I would add one more reason, which also partly motivates the request for switching between Control Plane and shoot.
Oftentimes I'm analysing some seed-global problem or some issue effecting multiple shoots on one seed and then I target a Seed, randomly look into some namespaces and if I find something interes

[2020-12-22 07:34] vlerenc commented on #499
This can probably be solved by the history targeting mechanisms (k seed - and similar).

Yes, I know the problem and also hope, the history feature might help. Something similar to `git` was what I was thinking, but haven't detailed out above and chickened out with `-` only, maybe `kubectl shoot HEAD` or `kubectl shoot HEAD^1` for the previous one. You could combine that with additional parameters

[2020-12-22 07:38] vlerenc commented on #499
Use case B is (maybe) harder and generally another problem. It's also bugging me and my workflows. Generally, I would very much like to have a solution that provides me the targetting, but side-effect free. If I target a cluster in one pane and the same in another and then `kubens`, I hate its side-effects. Is it possible to automatically rectify the situation, something like clone-on-demand?

[2020-12-22 07:52] timebertt commented on #499
Well, I can imagine different flows for this:
- `k clone` to clone the current kubeconfig
- `k shoot|seed|... --clone` to target a new cluster but get a cloned/"isolated" kubeconfig
- option in the plugin config allowing to turn on "clone-on-target" by default

Or even all of them, so everyone can choose the workflow they like.

Personally, I would really like to see support for this, as I heavily

[2020-12-22 09:23] vlerenc commented on #499
@timebertt Hmm... isn't a general `clone` difficult? Let's say, your current `kubeconfig` is one in a local folder backing a `git` repo or whatever. Where would you physically clone the `kubeconfig` to? That would only work in combination with your other work, i.e. a session-based temp folder of sorts, right?

The second option, `k shoot|seed|... --clone` has too much cognitive overhead for me per

[2020-12-22 09:36] timebertt commented on #499
Yeah, I would never clone it to the current working directory. That's apparently quite dangerous.

Yes, I would employ some similar mechanism like I do currently with the terminal session specific temp dir. We will anyways need some local cache managment for the smart targeting, credentials encryption and so on, so this shouldn't be too much overhead.

[2020-12-22 09:50] vlerenc commented on #499
@timebertt Hmm... not sure. I like to have a robust solution with only minimal assumptions and integration into "my personal shell environment". The `$PROMPT_COMMAND` modification I need for the hooks is necessary, but otherwise I would like to keep it to a minimum.

What is the "local cache management for the smart targeting"? I am torn between my wish to not have side effects and having a shared

[2020-12-23 02:53] #450 closed

[2020-12-23 07:30] timebertt commented on #499
I was just talking about that we will anyways need some local directory structure for caching the topology detection results and also to store the kubeconfigs with the encrypted credentials somewhere.
`gardenctl` should of course manage all of this under the hood without any need for the user to set it up (only requirement should be the hook setup).

And if that structure and mechanisms are alread

[2020-12-23 08:17] vlerenc commented on #499
Sure, thanks @timebertt.

👍

[2021-01-13 07:29] neo-liang-sap opened #500 "gardenctl ssh to az nodes failed with lots of panic"
**Describe the bug**
In debugging of some loki issue when we were trying to ssh to one of seed node we encountered sth like these
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Which target was set 'gardenctl get target'
2. Which command was entered [e.g. 'gardenctl show vpn-seed']
3. What was the output of the command

**Expected behavior**
`gardenctl k get nodes`
`gardenctl ssh nod

[2021-01-13 11:22] neo-liang-sap commented on #500
the issue seems intermittent - i tried sometime later today and it's success without problem, for same shoot, same node
![image](https://user-images.githubusercontent.com/42594392/104445873-a388a080-55d4-11eb-88d3-7d416b1ff645.png)

[2021-01-19 11:38] vlerenc commented on #499
@mvladev You were mentioning that we have another/better option to access the shoots than temporary service accounts (which, incidentally, is also the way the web terminals get access)? Could you please share the link here?

[2021-01-20 08:28] tedteng commented on #499
I was thinking how about implement operation CRD somewhere and expose functions to support API call (etc. HTTP/REST/GraphQL).  The credentials of shoot cluster/Seed cluster process communcation internally inside of cluster.  API expose Seed/Shoot functions  which used by `/diag`,`orphan`

It generated output for Github comments when call from `/diag` or raw data output used by `gardenctl` or plugi

[2021-02-24 07:47] tedteng opened #502 "ssh aws node failure"
**Describe the bug**
Warning:
Be aware that you are entering an untrusted environment!
Do not enter credentials or sensitive data within the ssh session that cluster owners should not have access to.
....
Downloaded id_rsa key
Check Public IP
(1/4) Fetching data from target shoot cluster
...
(2/4) Setting up bastion host security group
...exec configurations that could contain malicious code. Plea

[2021-02-25 01:35] tedteng opened #503 "add flag able to calling cleanupAwsBastionHost in ssh subcommand"
as a bug from https://github.com/gardener/gardenctl/issues/502, it caused the resource leakage.
I like to add a flag in `ssh` able to invoke `cleanupAwsBastionHost`  instead of manually removed leaking resources (instances, SG, etc)

[2021-03-01 21:09] dfishburn opened #505 "What does a garden config look like"
**Describe the bug**
I am finding difficulty configuring gardenctl for the features indicated.
I cannot find documentation which directly lists all the things than can / should go into the garden.config file.

**To Reproduce**

Version:
[code]
I used this configuration:
[code]
**Expected behavior**
[code]
Trying each of these commands:
[code]
That worked as I set the target earlier.
[code]
I can s

[2021-03-02 00:29] tedteng commented on #505
Step 1 `gardenctl target -g -devaws`
Step 2 `gardenctl ls projects` then `gardenctl target -p projectName`
 or `gardenctl target -g devaws -p projectName` directly

    If possible, find the VpcId of the worker node

Step 1 `gardenctl target -g devaws -p projectName -t shootName`
Step 2 `gardenctl kubectl get cm` to check vpcid from terraform status or use `gardenctl aws xxxxx`  with aws cli

Find

[2021-03-02 00:47] #503 closed

[2021-03-02 13:24] dfishburn commented on #505
Thank you for the response.
Things break on the first step:
[code]
So I removed the `-`
[code]
Projects doesn't work though
[code]
This was really the only `ls` that worked
[code]
Still using the config as presented in the issue.

[2021-03-02 13:41] tedteng commented on #505
oh, I missed one part.
I assume the ~/.kube/iotdevk8s--devawsk8s-cluster-admin.yaml is one of your project kubeconfig file which is Servicer Account download from Members page?

then `gardenctl target -g devaws` is target your project now.  use `gardenctl ls shoots` will check how many shoots under the project.
if you need to switch other project `gardenctl target -g prod`

[2021-03-02 13:47] petersutter commented on #505
kubeConfig: ~/.kube/iotdevk8s--devawsk8s-cluster-admin.yaml
  dashboardUrl: http://localhost:8001/api/v1/namespaces/kubernetes-dashboard/services/https:kubernetes-dashboard:/proxy/

`gardenctl` needs to be configured with the (virtual) garden kubeconfig, that you can download from the gardener dashboard.
You have two options:
- Download personalized kubeconfig by clicking on your avatar in the top

[2021-03-04 13:52] vlerenc commented on #499
In regards to the targetting topic, @danielfoehrKn suggested to use https://github.com/danielfoehrKn/kubeswitch.

[2021-03-04 14:21] petersutter commented on #499
`kubeswitch` depends on having all the required kubeconfigs locally / fetch them in advance. With OIDC kubeconfigs this "may" not be that much of an issue, however I would rather not have all the kubeconfigs locally on my system (being in vault or not) and only fetch them on demand if I really need them.
However, I generally like the idea of splitting the `kubeconfig` retrievel from the other `gar

[2021-03-04 14:24] danielfoehrKn commented on #499
That would not be required. If you like, we can setup a short sync

[2021-03-04 14:39] petersutter commented on #499
sounds good

[2021-03-04 16:52] danielfoehrKn commented on #499
@petersutter and I had a quick sync regarding reusing the targeting functionality and have a very rough idea how it could look like.
However, we would like to have some additional people involved - maybe we can have a meeting next week or so  @vlerenc  - WDYT

[2021-03-05 00:58] neo-liang-sap commented on #499
Hi @danielfoehrKn , could you please forward the mtg request to me? SRE team would like to be involved in this too, if proper :)

[2021-03-05 01:25] tedteng commented on #499
@danielfoehrKn Please add me, I am also interested in this topic and `kubeswitch` as well

[2021-03-05 17:04] danielfoehrKn commented on #499
Sure, will do.

[2021-03-10 08:30] danielfoehrKn commented on #499
After thinking about it again, we decided, for now, to not invest in integrating the gardenctl v2 with kubeswitch to reuse functionality.

Reason
 - kubeswitch only knows the concepts of kubecontext names and not Gardener resources Shoot / Seed / ... This makes it hard to build gardenctl features on top that rely on this notion.
 - Many of kubeswitche's advanced features are only needed for fuzzy

[2021-03-10 08:32] danielfoehrKn commented on #499
However @tedteng @neo-liang-sap you are more than welcome to approach me if you are interested in a quick introduction to kubeswitch (for fuzzy search over all landscapes, history targeting, aliasing, etc.).

[2021-03-12 01:23] tedteng opened #506 "SSH Azure multi-node failure at the same time"
**Describe the bug**
It happened daily troubleshooting from the end-user. Azure node ssh failure

1) node 2 not able to access at the same time by User
2) exit status 1 sign break cleanup process, which means extra resources could be leakage.

**To Reproduce**
Nodes:
shoot--cpu-worker-0-z1-74476-4k6c2 (Running)
shoot--cpu-worker-0-z1-74476-9987n (Running)

User ssh access node 1 without issue,  th

[2021-03-15 10:46] morremeyer opened #507 "Segmentation fault on gardenctl target shoot <shoot>"
**Describe the bug**
When using `gardenctl target shoot <shoot>`, `gardenctl` segfaults.

**To Reproduce**
Steps to reproduce the behavior:

1. Current targets:
2.
[code]

2. Which command was entered [e.g. 'gardenctl show vpn-seed']

[code]

3. What was the output of the command

[code]

**Expected behavior**
No segfault, shoot gets targeted.

**Gardenctl Version (please complete the following in

[2021-03-16 00:55] tedteng commented on #507
Hi @morremeyer,  I couldn't reproduce your issue.
Could you help check following,
[code]
Could you help me verify whether able to execute the command and `vhs6ir7a0e` is it exist from the result after your target `garden` and `project`
[code]

and one more thing, Which roles are you from the Member page in your project? `Owner`,`admin`,`viewer` and `UAM`.

[2021-03-19 09:58] petersutter opened #508 "gardenctl v2 - SSH controller proposal - old"
## Motivation
`gardenctl` (v1) has the functionality to setup ssh sessions to the targeted shoot cluster. For this, infrastructure resources like vms, firewall rules etc have to be created. `gardenctl` will clean up the resources after the SSH session. However there were issues in the past where that infrastructure resources did not get cleaned up properly, e.g. due to some error and was not retri

[2021-03-19 10:16] petersutter commented on #499
I just created a proposal for the ssh controller task in a separate issue which can be discussed here https://github.com/gardener/gardenctl/issues/508

[2021-03-19 11:35] rfranzke commented on #508
Thanks, a few comments:

1. I don't see the provider type in your `SSH` resource proposal.
2. What is `.spec.node`/`spec.flagProviderID`? Why is it needed? The `SSH` resource should only create a bastion with access to the nodes, that's it. From there the user can SSH to whatever node is desired.
1. What about calling the API group `operations.gardener.cloud`?
2. Why the `.spec.shootRef` has a `na

[2021-03-19 12:45] petersutter commented on #508
thanks @rfranzke for your comments. I updated the description accordingly

done

right, I have removed it from the example

sounds good, done

Very good point! Restricting this to the current namespace makes the validation obsolete

Yes, with your recommendation from (4) it makes things much easier and it would not be required. I have ~~striked through~~ the respective paragraphs in the proposal

[2021-03-19 13:57] petersutter commented on #508
@holgerkoser proposed to rename the resource to `SSHSession`.

(👍 / 👎)  If there are no objections, I will rename it accordingly.

[2021-03-20 10:23] rfranzke commented on #508
Hm, not sure, I'd rather vote  for `Bastion` (because that's what the controller actually creates - the SSH session needs to be established by the user afterwards and is out of scope of the controller)?

Yes, OK, right.

👍🏻

OK, yes, true, but is this really a problem? I would think it's good enough to have one dedicated SSH keypair per `SSH`/`SSHSession`/`Bastion` resource. User-specific key-pair

[2021-03-21 06:52] vlerenc commented on #508
@petersutter Thank you for picking this topic up. Here a few comments:

In miss the component that actually sees the public key in the seed and reconfigures `sshd`.

Why is the SSH request/resource not node-specific? I guess, it was included, but then @rfranzke wrote (and you removed it):

Now its generally open to all nodes? Do we really want/need that? Here my thoughts:

Pro:
- One request to ha

[2021-03-21 11:17] timebertt commented on #508
Why do we have to generate new node credentials at all? I would give the client responsibility for that.
So simply add the user's ssh public key to the `BastionHost` resource and the controller is then responsible for allowing access with it to the bastion host.
Then it could add the Shoot's ssh credentials to the bastion host so that the user can login to all machines from there on.

By this, we

[2021-03-21 11:48] vlerenc commented on #508
That's what we actually don't want, because then we cannot control how well they were picked, whether they are rotated and stored safely (the user hasn't leaked her private key), etc. At no point we can/should trust the end user/operator, I believe.

I believe that is not quite true. As with security in general, it is always about multiple layers of security. There is no single measure that, if do

[2021-03-22 05:54] prashanth26 commented on #508
Thanks @petersutter for looking into this topic.

To help with spinning up a Bastian VM by MCM the following would be the flow,
- We would have to create/setup all the fields required MCM resources - `MachineDeployment`, `MachineClass` and `Secret(s)` (referred by the machineClass)
- A chart for machineClass deployment can be found [here](https://github.com/gardener/gardener-extension-provider-aws

[2021-03-22 06:38] vlerenc commented on #508
@prashanth26 In regards to the "SSH key pair" on infrastructure level: it is the purpose of this BLI to completely eliminate them/have none/drop that code. It is inherently unsafe to have them in the first place as they are neither personal nor can they be rotated (at least not in AWS, I believe to remember; there they are immutable once the EC2 instance is created). So, we want to get rid of them

[2021-03-22 07:14] timebertt commented on #508
Hmm, ok. That wasn't exactly clear to me. But how it be better to hand out credentials of the same kind to the user/operator on the fly? They could also immediately leak it and we have to trust them not to do so. The only thing that would make it less risky is, that the credentials are fresh, right?
If the controller creates them on the fly, there is similarly no way to rotate them. I guess, the o

[2021-03-22 08:10] vlerenc commented on #508
Why would they leak "immediately"? Doesn't the generation on-the-fly have two very evident key properties:
- They were just created, so they first have to leak, but age-old credentials may have leaked a long time ago
- The whole process will invalidate them within hours (they will always be created on-the-fly, because there simply are no old ones to still use)

I don't understand your point. They

[2021-03-22 08:14] vlerenc commented on #508
*   Hmm, ok. That wasn't exactly clear to me.

See https://github.com/gardener-security/security-backlog#goals: What we cannot get rid of or replace with dynamic tokens, has to be rotated and credentials in the hand of operators are a problem in that regard.

From: Tim Ebert ***@***.***>
Date: Monday, 22. March 2021 at 08:15
To: gardener/gardenctl ***@***.***>
Cc: Lerenc, Vedran ***@***.***>, Comm

[2021-03-22 08:53] timebertt commented on #508
Yep, please. There are some misunderstandings at play here.

[2021-03-22 09:05] prashanth26 commented on #508
Okay. Got it. Will keep that in mind.

[2021-03-22 10:14] timebertt commented on #508
Ok, there were indeed some misunderstandings happening here. @vlerenc and I had a chat to clarify.

Originally (based on the initial proposal from @petersutter), I assumed that the SSH controller would store the generated credentials in some secret in the garden. And that's why I thought of the credentials as "shared", as it's accessible by all every project member / gardener operator.

The propos

[2021-03-22 12:31] petersutter commented on #508
I didn't understood the remark with the network setup. The heartbeat is coming from whatever client, e.g. `gardenctl`. The landscape administrator configures the controller, that cleans up the resource on missing heartbeats:
- max lifetime - to not have bastions that can exist "forever"
- TTL

If the landscape admin configures the TTL high enough (like 8h), the client would not necessarily send a

[2021-03-22 13:02] vlerenc commented on #508
@petersutter I was coming from the practical side and how to use this feature in conjunction with custom SSH clients, etc. If the heart-beat is not short-lived, but rather 4h or 8h (and can be extended once or twice), great. :-)

Personally, I would rather handle it this way:
- In the garden cluster the operator places the "intent" to gain access to a particular node or nodes (can be extended afte

[2021-03-22 13:54] petersutter commented on #508
I would once again come back to the proposal from @timebertt of using the user's public key for the authentication, however with some slight adjustments. @vlerenc you said that

However the validating webhook could take a look a the Algorithm used, the validity bounds (`NotBefore` should be a recent date,  `NotAfter` should not be too far in the future) they keylength and maybe perform other check

[2021-03-22 14:18] vlerenc commented on #508
This way the client is forced to provide a new and strong public key. This would make things much easier

Is that information in a plain (SSH RSA) private/public key? Aren't these fields only available in certs? Also, if we require strong/quick pseudo-rotation/validity, how would that help?

[2021-03-22 15:08] petersutter commented on #508
Oh right, I was not thinking on using an ssh public key. This does not work then

[2021-03-23 01:33] tedteng commented on #508
How the exit/clean-up mechanism for the bastion in v2, maybe already discussed somewhere I missed it.?
because we may have the following issue if reuse bastion host
- the current design(gardenctl v1 ssh ) is user `exit` bastion host the cleanup method invoked immediately and all resources removed (remove order:  Bastion host -> firewall rules(Public IP allow) -> security group).
- User A creates B

[2021-03-23 03:27] vlerenc commented on #508
@tedteng That's what is meant with [reference counter for the bastion](https://en.wikipedia.org/wiki/Reference_counting) above. The controller in the seed "keeps book" of all "intents" for this bastion and deletes (ideally delayed, but that's a bit more effort) the bastion after the last "intent" (=usage) is gone.

[2021-03-24 01:02] tedteng commented on #385
as code freeze, this feature has been enabled from the internal version in Ticket 18.

[2021-03-29 09:45] petersutter commented on #508
will open a new issue with a new proposal with a different approach as a result from "offline" discussions

[2021-03-29 09:45] #508 closed

[2021-03-29 09:51] petersutter opened #510 "gardenctl v2 - SSH"
## Motivation
`gardenctl` (v1) has the functionality to setup ssh sessions to the targeted shoot cluster. For this, infrastructure resources like vms, firewall rules etc have to be created. `gardenctl` will clean up the resources after the SSH session. However there were issues in the past where that infrastructure resources did not get cleaned up properly, for example due to some error and was no

[2021-03-29 09:54] petersutter commented on #510
as just discussed with @rfranzke it rather makes sense to open a GEP for this. I will prepare it and then close this issue

[2021-03-31 14:11] petersutter commented on #510
GEP-15 https://github.com/gardener/gardener/pull/3802

[2021-03-31 14:51] #510 closed

[2021-04-26 00:52] tedteng opened #511 "target history feature"
I enhanced the target features with execute the previous target item, list target history item, search features, and demo in the middle of last week with Gardener Team members @vlerenc and @petersutter.
We like to implement it in `gardenctl v1`

![image](https://user-images.githubusercontent.com/42234376/116015682-b9464100-a66c-11eb-8313-bb5cc3ff38b1.png)

[2021-05-11 11:15] anoopjb commented on #450
IMHO, This gardenctl feature will be useful. 👍

In our Jenkins CI runs we need to wake the cluster when the build starts and hibernate when the job finishes.
Now we are planning to use `kubectl patch shoot` to set `/spec/hibernation/enabled` and achieve hibernation. We feel this approach will break at some point when there is a change in the shoot CRD.
It will be nice to have this support from gar

[2021-05-11 11:20] neo-liang-sap commented on #450
i will work on this issue when available
/reopen

[2021-05-14 09:25] stoyanr opened #514 "Can't shell into a node since my username contains uppercase letters"
**Describe the bug**
I tried to shell into a node, and got:
[code]

Obviously this is because my username (I500152) contains an uppercase letter.

**To Reproduce**
Always reproducible if your username contains uppercase letters.

**Expected behavior**
I should have been able to shell, my username should have been converted to lowercase when composing the rootpod name.

**Screenshots**
If applicabl

[2021-05-14 09:29] neo-liang-sap commented on #514
@stoyanr - could you please share your `gardenctl get target` for me to reproduce this issue? if it's confidential feel free send me via email or slack, thanks!
/assign

[2021-05-14 09:57] #514 closed

[2021-05-14 10:02] #492 closed

[2021-05-14 15:30] #432 closed

[2021-05-14 21:56] #477 closed

[2021-05-24 08:18] tedteng commented on #32
fyi, Just noticed the current unit tests coverage rate for each package in `gardenctl`

![image](https://user-images.githubusercontent.com/42234376/119318066-6ed7d480-bcab-11eb-811c-25807b3f72c2.png)

[2021-07-06 02:20] #511 closed

[2021-09-01 14:17] neo-liang-sap opened #521 "gardenctl ssh openstack nodes returns error `invalid character 'm' after array element`"
**Describe the bug**
[code]
**To Reproduce**
Steps to reproduce the behavior:
see above section

**Expected behavior**
gardenctl ssh should work for openstack nodes
**Screenshots**

**Additional context**

/assign

[2021-09-22 04:10] neo-liang-sap opened #522 "g shell node should pop up some error message when failed to delete the ops-pod"
when you g shell a node, if you use exit to exit, the ops-pod will be deleted.
if you use ctrl d/c to exit, the pod will still be there
so gardenctl should not accept ctrl d/c signal during clean

[2021-09-22 04:47] neo-liang-sap commented on #522
Neo Liang:gardener:  12:08 PM
if you g shell node_name  and use exit  to exit the pod, the pod should be deleted, if you use ctrl d/c  the pod might be still there, i will add a bug in gardenctl to fix this
New

Ashwani Kumar  12:13 PM
I think I did ctrl d/c and it didn’t delete the pod but Shreyas did exit and that also didn’t delete the pod

Neo Liang:gardener:  12:13 PM
hmmm, i will check
12:15

[2021-09-29 04:37] #522 closed

[2021-10-05 11:16] hoeltcl opened #524 "Static code analysis"
Gardener informs its stakeholders in its [CNCF CII Badge](https://bestpractices.coreinfrastructure.org/en/projects/1822#analysis), that static code checks are applied by using Checkmarx. This repository has findings, which have to be assessed by the component owner(s). As required all prio high findings were already been immediately assessed. Please find the maximum processing times until when to

[2021-10-14 07:18] stoyanr opened #525 "Index out of range during floating ip cleanup when trying to ssh to an openstack server"
**Describe the bug**
`gardenctl` crashes with `index out of range` during floating ip cleanup when trying to ssh to an openstack server.

**To Reproduce**
Steps to reproduce the behavior:
1. Which target was set 'gardenctl get target'

Target an openstack shoot:
[code]

2. Which command was entered [e.g. 'gardenctl show vpn-seed']

Try to ssh to one of the servers:
[code]

3. What was the output o

[2021-10-19 08:30] shaoyongfeng opened #526 "can't run aliyun cli command via gardenctl"
**Describe the bug**
I run following command but get error
gardenctl aliyun ecs DescribeInstances

**To Reproduce**
Steps to reproduce the behavior:
1. target to garden cluster and a shoot cluster
2. gardenctl aliyun ecs DescribeInstances
3. output is
2021/10/19 16:29:03 Aliyun CLI failed with ERROR: 'aliyun' is not a valid command or product. See `aliyun help`.

**Expected behavior**
A clear and

[2021-10-19 15:12] shaoyongfeng opened #528 "information in README.md is inaccurate"
**Describe the bug**
In README.md, there is a option called --elasticsearch for logs sub command. but it doesn't support at all.

**To Reproduce**
Steps to reproduce the behavior:
run gardenctl logs etcd-main --elasticsearch

**Expected behavior**
please adjust README.md.
based on my testing, correct command should be gardenctl logs etcd-main etcd

**Screenshots**
If applicable, add screenshots to

[2021-10-20 08:34] shaoyongfeng opened #529 "there is no any output of tf sub command if there is no running job"
**Describe the bug**
If there is no running tf container, gardenctl tf infra shoot-name doesn't give any output

**To Reproduce**
Steps to reproduce the behavior:
1. gardenctl target -g gardencluster -s seedcluster
2. gardenctl tf infra shoot-name

**Expected behavior**
print No running tf " + toMatch
**Screenshots**
If applicable, add screenshots to help explain your problem.

**Gardenctl Version

[2021-12-06 13:49] aaronfern opened #532 "Invalid pod name on gardenctl shell <node>"
**Describe the bug**
gardenctl throws the following error while using the `gardenctl shell <node>` command
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Which target was set 'gardenctl get target'
 `gardenctl target shoot druid-test`
2. Which command was entered [e.g. 'gardenctl show vpn-seed']
 `gardenctl shell <node_name>`
3. What was the output of the command
[code]

**Expected b

[2021-12-09 14:52] #524 closed

[2022-04-03 11:44] hoeltcl opened #537 "Static code analysis"
Gardener informs its stakeholders in its [CNCF CII Badge](https://bestpractices.coreinfrastructure.org/en/projects/1822#analysis), that static code checks are applied by using Checkmarx. This repository has findings, which have to be assessed by the component owner(s). As required all prio high findings were already been immediately assessed. Please find the maximum processing times until when to

[2022-04-03 11:44] hoeltcl commented on #537
@neo-liang-sap

[2022-04-03 11:46] neo-liang-sap commented on #537
this repo has been deprecated - why still need attention?
CC @donistz