[2018-01-27 13:13] vlerenc opened #3 "Garden CLI Improvements"
Thank you for providing `gardenctl`. Here what I found out using it and how we can make it even better:

* [x] In general think about making all output (but the help) **structured** and think about allowing for format options like `-o json` and `-o yaml` (like `kubectl`) and then we can again introduce a table/prose mode again, but we should have a technical output mode before that (e.g. `yaml` in

[2018-01-28 04:59] vlerenc opened #4 "Brew Formula"
Can we please brew gardenctl, so that Mac users can more easily install this tool? Or is that not worth the effort (single binary anyway) as we would have to maintain a tap, too?

[2018-01-31 10:41] vlerenc opened #6 "No help if config is missing"
When not having a `config`, `gardenctl` is not helping the user, even `gardenctl -h` is not reachable, either:
[code]
Expected is to get to the help independent of the configuration file, ideally explaining what to do (without reading the README.md, that is not available locally if the user has not cloned the repo).

[2018-01-31 10:47] vlerenc opened #7 "Order of ls resources surprising"
`gardenctl ls` shows:
[code]

Maybe this order is more logical:
[code]

[2018-01-31 10:55] vlerenc opened #8 "Project hard to target"
`gardenctl target` doesn't find best fit:

[code]

More problematic, it doesn't accept the actual project name (annotation at the namespace)
[code]

One has to write the full namespace name:
[code]

It would be great, if the matcher would have found the "right" target right away, but certainly `gardenctl` should find the project by annotation (or without the `garden-` prefix, which would be less c

[2018-01-31 10:57] vlerenc opened #9 "Wrong response when dropping a project target"
When dropping a project, the response is surprising/wrong ("A seed is targetted", even though it never was and the resulting target is only a Garden cluster):
[code]

[2018-01-31 11:02] vlerenc opened #10 "Missing seed information when listing shoots of a project"
According to #3, this should be the (ticked, i.e. already implemented way?) to get to the seed information of the shoots within a project (it should group them by seeds, but still groups them by project):

[code]

[2018-01-31 11:06] vlerenc opened #11 "Panic when showing the api server, but no shoot in target (user errors should not end in panics)"
[code]

[2018-02-03 06:59] mvladev opened #12 "Support for kubectl plugin?"
As of k8s 1.8 `kubectl` supports [plugins](https://kubernetes.io/docs/tasks/extend-kubectl/kubectl-plugins/).

As an end-user I would like to do:

[code]

This will allow for a quick debugging without the need to switch context, namespaces and etc every single time.

[2018-02-05 10:16] DockToFuture commented on #9
First of all, thanks for reporting the Issue. I´ve looked into it, but I couldn´t reproduce the error.

$ gardenctl get target
target:
- kind: garden
  name: dev
- kind: project
  name: garden-core

$ gardenctl drop project
Dropped project garden-core

$ gardenctl get target
target:
- kind: garden
  name: dev

[2018-02-05 10:22] DockToFuture commented on #6
Thank you for your Feedback. Link to URL was added in help page together with relevant informations.

[2018-02-05 10:23] DockToFuture commented on #7
The order of ls was changed.

[2018-02-05 10:23] #7 closed

[2018-02-05 13:44] DockToFuture commented on #11
Thank you for providing feedback on Gardenctl. Issue is fixed.

[2018-02-05 13:44] #11 closed

[2018-02-06 04:15] vlerenc opened #13 "gardenctl kubectl not working on targetted cluster"
When trying to use `gardenctl kubectl` I ended up in the `gromit` cluster, which is a pretty dangerous thing to happen:
[code]

[2018-02-06 13:36] #10 closed

[2018-02-07 15:34] #3 closed

[2018-02-09 12:29] #8 closed

[2018-02-12 09:07] DockToFuture commented on #12
Gardenctl is settled one layer above of kubectl and therefore its not perfectly suitable to provide it as plugin for kubectl. It covers more than just the pure functionality of interacting with one cluster.
As an end user you can still set your context for a kubeconfig file and the little overhead seems to be worth the abstraction.
`$ g k config set-context alice -- --cluster=shoot-garden-core-i02

[2018-02-19 06:56] rfranzke opened #16 "`garden target project`: expected syntax"
The namespaces in the Garden clusters which are used as projects have the following labels:

[code]

The `gardenctl target project` command expects to enter the name of the namespace, not the name of the project (`gardenctl target project garden-my-project` instead of `gardenctl target project my-project`).

Can we change that?

[2018-02-19 07:56] DockToFuture commented on #16
Currently we go with both options, if it is more adequate we can drop the second one. What´s your opinion on that @vlerenc, as the main initiator?

[2018-02-19 07:57] rfranzke commented on #16
Ah, didn't know that. Supporting both is absolutely fine, let's keep it like that.
Just saw 4b23f775a6d419fe8d442601a24e10886d6dc138. We should not hard-code the prefix but rather read the labels.

[2018-02-19 12:16] vlerenc commented on #16
Well, not sure why we support the namespace (actually only an implementation detail), but I definitely also hoped for the project name, see also #8:

I guess we don't have to cut out the namespace feature (could be nice when copy&pasting), but the targeting should definitely also/primarily work with the project name, a.k.a. name annotation. That's shorter and matching the language of the users (th

[2018-02-19 12:32] rfranzke commented on #16
Sure, let's do that, thank's for pointing that out.

[2018-02-19 12:32] #16 closed

[2018-02-20 12:56] rfranzke opened #18 "Faster way to target Shoots"
Is there a faster way to target a Shoot cluster other than
[code]
?

If not, can we have a faster way to do so?

Thanks.

[2018-02-22 07:25] DockToFuture commented on #18
A faster way is `gardenctl target <NAME>`

[2018-02-22 08:26] rfranzke commented on #18
Just tried that out:

[code]

[2018-02-22 08:37] rfranzke commented on #18
We identified that the current target stack must directly point to the Garden cluster, otherwise it won't work. `gardenctl get target` shows the current target stack (help text is misleading and going to be improved), `gardenctl drop` drops a target from the stack.

Closing the ticket therefore.

[2018-02-22 08:37] #18 closed

[2018-02-26 12:19] rfranzke opened #19 "gardenctl logs operator"
Using `gardenctl logs operator` shows less than `kubectl logs <operator-pod-name>`

Expected behaviour: same output independent of used command

[2018-02-28 11:18] grolu opened #20 "Index out of bounds if config is empty"
This is a minor issue that I noticed when I first installed gardenctl on my Mac. After building the tool, I typed
`gardenctl`
and got the following error message
[code]
The reason for the error is that I was lacking a cluster entry in the gardenctl config file.
However, I would expect some nicer output, something like "You need to add a cluster config to your configuration before you can use the t

[2018-02-28 12:41] DockToFuture commented on #20
Thank you for reporting this issue, exception handling was added and issue is therefore closed.

[2018-02-28 12:41] #20 closed

[2018-02-28 12:50] DockToFuture commented on #19
When a shoot is targeted `gardenctl` filters the logs from the operator pod for the shoot and if no shoot is targeted it prints all the logs from the operator.

[2018-04-17 13:39] vpnachev opened #24 "Missing support for kubernetes v1.9"
Currently, gardenctl supports only k8s cluster version 1.6, 1.7 and 1.8.

When I execute `gardenctl ls issues` against k8s cluster version 1.9, I got error
[code]

[2018-04-20 15:35] vpnachev opened #25 "IaaS secrets are retrieved are not retrieved from the garden cluster"
Story:

So I wanted to check what resources are left in the IaaS account,
For this I executed:
[code]

The IaaS secret for the 'test' shoot cluster is still existing in the garden cluster, but it look like the `gardenctl` tries to get it from the seed cluster, where it is deleted.

[2018-04-24 04:06] vlerenc opened #26 "Update `gardenctl` to the new landscapes"

[2018-04-25 10:16] DockToFuture commented on #26
Updated to the new landscapes with #27

[2018-04-25 10:16] #26 closed

[2018-04-25 10:27] DockToFuture commented on #9
The issue is closed for now, when it reoccurs we can open it again. But it seems so far, that nobody else had the issue.

[2018-04-25 10:27] #9 closed

[2018-04-25 10:30] DockToFuture commented on #13
Issue is closed for now, when it reoccurs we can open it again.

[2018-04-25 10:30] #13 closed

[2018-04-27 06:42] vpnachev commented on #6
If `$HOME/.garden/taget` is missing, then `gardenctl --help` returns an error `Please provide a gardenctl configuration before usage`

If I create an empty target file `touch $HOME/.garden/target`, then `gardenctl --help` is working fine.

[2018-04-27 06:59] DockToFuture commented on #6
Thank you for pointing that out, it is fixed now.

[2018-04-27 06:59] #6 closed

[2018-05-17 13:17] vlerenc opened #29 "Show fails"
After I have targeted a garden->project->shoot, the `show` command only works for the Gardener itself, but not for the control plane components in the seed or the vpn-shoot or dashboard:

For orientation:
[code]

OK:
[code]

Not OK:
[code]

Also, I was expecting to access the shoot with `gardenctl kubectl ...` after I have targetted it, but I only see the Garden cluster.

[2018-06-06 13:18] vlerenc commented on #12
@DockToFuture Following up above: Is there some support in plugins to tweak (for the duration of the session/shell/environment) the active Kubernetes cluster? Then the integration as plugin could be even slicker than via a dedicated CLI.

Alternatively, we could re-discuss the idea we had a long time ago: manipulate the kubeconfig, add new clusters (whenever we target it) and switch the current co

[2018-06-06 13:21] vlerenc commented on #4
Let's close this in favor of the `kubectl` plugin discussion in #12.

[2018-06-06 13:21] #4 closed

[2018-06-06 14:47] DockToFuture commented on #12
A kubectl plugin is nothing more than plugin.yaml file and an executable. I could store the config in `~/.kube/plugins/gardenctl/config` instead of `~/.garden/config` together with the executable and plugin.yaml file, which looks like this.

[code]
But currently the call would be `kubectl plugin gardenctl kubectl get pods`, which feels wrong. Better would be something like this`kubectl plugin gard

[2018-06-09 10:53] bergerx opened #30 "kubernetes dashboard `/ui` redirect is now removed"
Recently in Kubernetes dashboard deprecated the `/ui` redirect: https://github.com/kubernetes/kubernetes/pull/53766

`gardenctl show dashboard` still tries to open `http://127.0.0.1:8002/ui` which is not valid anymore.

URL should now be:
[code]

[2018-06-11 07:37] DockToFuture commented on #30
Thanks for reporting, is now fixed.

[2018-06-11 07:37] #30 closed

[2018-06-14 18:16] rfranzke opened #31 ""gardenctl target shoot" throws segmentation error"
*Moved from gardener/gardener#220 (@praveendhac)*

Created new shoot cluster successfully. Saw segmentation error while setting target to Shoot cluster
`gardenctl target shoot pd-shoot1-azure`

**Crash Trace**
`panic: runtime error: invalid memory address or nil pointer dereference
[signal SIGSEGV: segmentation violation code=0x1 addr=0x28 pc=0x11ef756]

goroutine 1 [running]:
github.com/gardener/

[2018-06-15 07:20] DockToFuture commented on #31
The secret not found error was caused due to the renaming of the namespaces for the shoot cluster in the gardener(gardener/issues/164). Gardenctl was adapted in commit https://github.com/gardener/gardenctl/commit/b21b4bde14663faee381697cb1d93a8b53a3e81a to use the TechnicalID provieded by the gardener. Please use the latest version of gardenctl.

[2018-06-19 13:51] #31 closed

[2018-06-24 09:46] vlerenc opened #32 "Lint Checks, More Unit/Integration Tests (and Code Coverage)"
Once it gets decided how to continue from here (plugin and gex discussion -> therefore this issue is icebox'ed ), let's include into the changes also an increased focus on:
* Lint checks
* More unit tests (and code coverage) as current code coverage is at 3,8 % at the time of this writing
* Integration tests (if possible)

[2018-06-25 13:16] bergerx opened #33 "No Auth Provider found for name "azure""
**Describe the bug**
Gardenctl doesn't work with AAD+RABAC enabled AKS cluste with regular user credentials (user has the `cluster-admin` `ClusterRole` assigned).

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. install an AAD enabled AKS cluster to use as garden cluster: https://docs.microsoft.com/en-us/azure/aks/aad-integration
2. Get admin token:
[code]
3. Define cluster-admin role

[2018-06-25 15:16] bergerx opened #34 "Binary distribution of gardenctl"
Is it possible to make versioned releases of `gardenctl` and have a binary distribution. After the recent shoot namespace adaptation everyone in my team had to manually compile the binary, we've been thinking about compiling it for 3 main platforms (macos, linux and windows) and making it available internally.

It would be more beneficial for everyone if thats done on upstream.

[2018-06-26 17:11] vlerenc commented on #34
You are right, that's still missing, FYI: We are also thinking in the direction of #12.

[2018-08-15 14:32] bergerx opened #35 "Gardenctl cant operate on garden clusters deployed on 1.11"
**Describe the bug**
Gardenctl doesnt work on gardens deployed on 1.11 kubernetes clusters.

**To Reproduce**
Steps to reproduce the behavior:
1. Upgrade a garden kubernetes cluster to 1.11.
2. `gardenctl ls seeds`
3. gardenctl reports `Kubernetes cluster has version v1.11.1 which is not supported`

**Expected behavior**
gardenctl to operate on garden cluster.

**Screenshots**
[code]

**Gardenctl

[2018-08-16 07:58] DockToFuture commented on #35
Dependencies were updated and work now with kubernetes 1.11.

[2018-08-16 07:58] #35 closed

[2018-08-28 15:14] epierotto opened #36 "gardenctl should have a way to print its version"
**Describe the bug**
gardenctl should have a way to print its version

**To Reproduce**
Steps to reproduce the behavior:
`gardenctl` does not show any possible way to display its version.

**Expected behavior**
As `gardenctl` user I would like to know which version I'm using by just issuing a `gardenctl` command.

Example:
`gardenctl version` (This is how version display is implemented on `kubectl

[2018-08-28 16:31] bergerx commented on #34
I briefly checked but dont understand which ci tool is in use.
Is there any way that we can help in implementing a binary distribution for this issue?

[2018-08-29 13:18] DockToFuture commented on #36
Feature was added with first release

[2018-08-29 13:18] #36 closed

[2018-08-29 13:20] DockToFuture commented on #34
We are using concurse and the first release of gardenctl was created for mac and linux.

[2018-08-29 13:46] msohn commented on #34
looks like we lack public documentation about ci tools and process we use, I asked the ci team if they can have a look and fix this

[2018-08-29 22:27] bergerx commented on #34
Thanks a lot for the quick response, this is really helpful for us.

[2018-08-29 22:27] #34 closed

[2018-09-21 20:06] esimeon-ptc opened #37 "gardencl does not support K8s v1.11.2"
**Describe the bug**
gardencl does not support K8s v1.11.2

**To Reproduce**
$ ./gardenctl ls gardens
gardenClusters:
- name: cloud-garden-01

$ ./gardenctl ls shoots
Kubernetes cluster has version v1.11.2 which is not supported

$ ./gardenctl ls seeds
Kubernetes cluster has version v1.11.2 which is not supported

**Attitude of gratitude (AoG)**
Thank you in advance for your help

[2018-09-21 20:39] bergerx commented on #37
I guess you meant 1.11.2, rather than 1.11.12 (as you wrote 1.11.12 in title and description)?

Very recently a pipeline and release support added to this repo, so you can check https://github.com/gardener/gardenctl/releases/tag/0.2.0

[2018-09-21 20:42] esimeon-ptc commented on #37
Thx, I fixed the typo

[2018-09-21 20:45] bergerx commented on #37
I updated my comment after yours, can you try with latest release, it should be working.

[2018-09-21 21:04] esimeon-ptc commented on #37
Thank you for the quick response,
The latest release tested ok.
 https://github.com/gardener/gardenctl/releases/tag/0.2.0

[2018-09-21 21:20] esimeon-ptc commented on #37
Thanks again for your help.
I was able to retrace my steps.
Visited Gardenctl repo and I cut-n-paste the curl command under Installation.
The link is hard coded to 0.1.0 version.

Installation
gardenctl is shipped for mac and linux in a binary format. The easiest way to install it, is to download the file or curl it.

curl -LO https://github.com/gardener/gardenctl/releases/download/0.1.0/gardenctl

[2018-09-21 21:20] #37 closed

[2018-10-04 10:18] DockToFuture opened #38 "Add download function for VPN log files"
### Feature

Add download function for VPN log files to ease the debugging of VPN problems on the different infrastructures.

### Implementation Proposal:
- [x] Download VPN logs file of all kube-apiserver on the seed side
- [x] Download VPN log file of prometheus on the seed side
- [x] Download VPN log file of the shoot

[2018-10-04 10:35] #38 closed

[2018-10-10 08:34] ThormaehlenFred opened #39 "Static code analysis"
Gardener informs its stakeholders in its [CNCF CII Badge](https://bestpractices.coreinfrastructure.org/en/projects/1822#analysis), that static code checks are applied by using Checkmarx. This repository has findings, which have to be assessed by the component owner(s). As required all prio high findings were already been immediately assessed. Please find the timeline until when to assess the remai

[2018-10-11 06:30] marwinski opened #40 "gardenctl download logs need to put the project name into the folder structure"
**Describe the bug**
Logs are combined from different clusters if they have the same name in different projects

**To Reproduce**
see our dev environment, cluster seed-az

**Expected behavior**
each directory should only contain logs for one single cluster

**Screenshots**
n/a

**Gardenctl Version (please complete the following information):**

**Additional context**

[2018-10-11 10:33] #40 closed

[2018-10-15 08:17] DockToFuture commented on #39
Medium findings were assessed.

[2018-10-15 08:17] #39 closed

[2018-10-26 12:25] DockToFuture opened #41 "Add landscape information"
Add a cmd to expose landscape information via a garden cluster.
- total number of shoots per garden cluster
- number of shoots per iaas in a garden cluster

Expose further landscape information (obligatory):

- number of nodes
- number of cpus etc.

[2018-10-26 19:14] vlerenc commented on #41
This data (and much more) is already available at the gardener metrics endpoint. You could query that instead? If you are interested, please approach @dkistner and @wyb1.

[2018-10-28 10:16] DockToFuture commented on #41
Yes, the gardener metrics endpoint will be integrated in the future.

[2018-11-05 14:20] DockToFuture opened #42 "Adapt Target function"
Adapt target function to match projects which does not contain a "garden-" prefix.

[2018-11-05 14:51] #42 closed

[2018-11-07 09:31] ThormaehlenFred opened #43 "Static Code Analysis"
Gardener informs its stakeholders in its [CNCF CII Badge](https://bestpractices.coreinfrastructure.org/en/projects/1822#analysis), that static code checks are applied by using Checkmarx. This repository has findings, which have to be assessed by the component owner(s). As required all prio high findings were already been immediately assessed. Please find the timeline until when to assess the remai

[2018-11-14 07:48] vlerenc opened #45 "Support for Worker Node SSH"
How about adding direct support in `gardectl` to `ssh` into worker nodes? The ops guide (in the works, kb/ssh-to-aws-shoot-node.md) anyways describes a way that is no longer supported as Gardener doesn't create the bastion ASGs anymore for AWS (cc @plkokanov). GCP on the other hand, requires opening up firewall rules (ideally, `gardenctl` closes them afterwards again).

E.g. on AWS we could now au

[2018-11-14 08:49] plkokanov opened #46 "gardenctl show prometheus provides wrong ingress credentials"
**Describe the bug**
`gardenctl show prometheus` uses the wrong credentials for authenticating with the prometheus' ingress resource

**To Reproduce**
Steps to reproduce the behavior:
1. gardenctl target shoot `shoot-name`
2. gardenctl show prometheus
3. uses the basic auth credentials from the shoot's kubeconfig rather than the ingress credentials required to login to prometheus

**Expected behav

[2018-11-14 10:17] DockToFuture commented on #45
After experiencing how arduous it is to ssh into nodes on different cloudproviders, gardenctl will support this feature within the next releases. This will be really helpful.

One can use the regular issue or the template, or maybe we provide a feature template in the future as well.

[2018-11-19 09:08] #46 closed

[2018-11-28 13:23] adracus opened #49 "Adapt to new Gardener status labels"
Since https://github.com/gardener/gardener/pull/552, Gardener reports a Shoot's healthiness additionally via the `shoot.garden.sapcloud.io/status` label. The old (`shoot.garden.sapcloud.io/unhealthy`) label is still there but is deprecated and will be removed in the future. `gardenctl` should adapt and use the new `status` label with its current three distinct values `healthy`, `unhealthy` and `pr

[2018-11-29 07:36] DockToFuture opened #50 "Show Kibana dashboard"
Extend the ```gardenctl show``` cmd to open a kibana dashboard for the targeted cluster when called with ```kibana``` argument.

[2018-12-03 11:43] #50 closed

[2018-12-05 09:27] DockToFuture opened #51 "Fix "trial-secretbinding" not found"
Update to read Secret from SecretBinding Reference for Shoot Cluster instead of Secret directly.
Changed requirements due to trial clusters.

[2018-12-05 09:58] #51 closed

[2018-12-07 11:29] #41 closed, assigned to nobody

[2018-12-07 11:31] #49 closed

[2019-01-07 09:54] DockToFuture opened #52 "Adapt gardenctl register and unregister to use"
Adapt gardenctl ```register``` and ```unregister``` cmd to add or remove user from clusterrolebinding list.
( Changed from```garden-administrators``` clusterrolebinding to ```garden.sapcloud.io:system:administrators``` clusterrolebinding which is exposed via the virtual apiserver)

[2019-01-11 07:05] DockToFuture opened #53 "Adapt gardenctl to work with a virtual garden cluster"
Gardenctl should look for a virtual garden cluster apiserver in the ```garden``` namespace if available and use it.

[2019-01-11 14:49] DockToFuture opened #54 "Design Proposal for uniform Garden Cluster access"
The garden cluster setup has changed over time and is most likely setup in one of the following three ways shown in the proposal. To unify access over ```gardenctl``` it is proposed to store the credentials for the garden cluster in separate secrets (as shown in SampleSecret) in the ```garden``` namespace of the virtual cluster. The secret should be annotated with a garden specific key to be able

[2019-01-11 16:41] mandelsoft commented on #54
label in any case
- runtime: garden

in case of multiple runtimes (scenario 3 and 4 (no ring but dedicated clusters)) there are multiple
secrets labelled this way.
The secret`s name can then be used as logical cluster name. Or it is given by a dedicated annotation
using the namescheme of gardener .../cluster-name

[2019-01-11 16:47] rfranzke commented on #54
What is scenario 4?
ok, and the secrets `.data` looks like
[code]
?

[2019-01-13 18:09] DockToFuture commented on #54
Yes, the encoded kubeconfig is the only data required in the secret.

[2019-01-14 09:57] DockToFuture commented on #54
The cluster name as annotation would be the preferred way.

[2019-01-14 09:59] rfranzke commented on #54
OK, anyway, no objections against it.

[2019-01-15 12:06] mwieczorek opened #55 "No Auth Provider found for name "gcp""
**Describe the bug**
I'd like to be able to connect to gardener cluster installed on GKE. Right now it's not possible because of such error when I do `gardenctl ls projects`:

`No Auth Provider found for name "gcp"`

**To Reproduce**
Steps to reproduce the behavior:
- install gardener on GKE
- get kubeconfig for GKE cluster, set proper `~/.garden/config` etc
- run `gardenctl ls projects`

**Expect

[2019-01-15 12:09] bergerx commented on #55
There had been a similar issue for Azure here: https://github.com/gardener/gardenctl/issues/33

[2019-01-15 12:10] mwieczorek commented on #55
To fix it we need to just add:

[code]

in one of the files. It also requires some additional projects/packages in Gopkg but the binary size is not much bigger

Would you consider such change?

[2019-01-16 08:01] vasu1124 commented on #55
@DockToFuture PTAL

[2019-01-16 09:13] DockToFuture commented on #55
Gardenctl was updated to version 0.6.0, which contains your fix and also adds the azure packet.

[2019-01-16 09:13] #55 closed

[2019-01-16 09:17] #52 closed

[2019-02-19 08:01] #33 closed

[2019-03-19 03:35] vlerenc commented on #53
Thanks, isn't that already resolved?

[2019-03-19 03:37] vlerenc commented on #54
What's the status here?

[2019-03-19 03:42] vlerenc opened #68 "Aliyun CLI support"
`gardenctl` has support for the different infrastructure CLIs, all but the latest addition, `aliyun`. Could this be added as well, please (it's so handy, when necessary)?

cc: @jia-jerry, Minchao Wang, and Emoin Lanyu

[2019-03-19 03:45] vlerenc opened #69 "Cluster Autoscaler Support"
I just noticed that `gardenctl` does not directly support the cluster autoscaler control plane component (e.g. to dig up logs). Could this be added, please?

[2019-03-19 04:44] jia-jerry commented on #68
Emoin will support to implement it.

[2019-03-19 11:17] DockToFuture commented on #53
If you have targeted a virtual garden cluster "sure" but it if you have targeted a soil cluster not all commands are actually supported, like ls shoots e.g..

[2019-03-19 11:18] DockToFuture commented on #54
We haven't started with the garden implementation. But we could tackle it in the near future.

[2019-03-19 13:09] petersutter commented on #54
for the dashboard (terminals) we have "worked around" this via configuration but for sure this would be the superior approach, so +1 from me

[2019-03-22 09:32] #68 closed

[2019-03-22 11:10] vlerenc commented on #68
Great, just tried the new version and the `aliyun` sub command works. Thank you! :-)

Minor cosmetic comment on the help: The `aliyun` sub command in `gardenctl` should be before `aws` (alphabetical order), but it is (separated by an empty line) before `info`.
[code]

Something else, the `ssh` sub command does not yet work, right?

[code]

[2019-03-22 11:27] DockToFuture commented on #68
Thx, the order is fixed now. The subcommand isn't yet implemented.

[2019-03-22 11:40] DockToFuture opened #71 "Implement SSH access for alibaba cloud"
Extend ```gardenctl ssh``` cmd to work with shoot cluster on alibaba cloud.

[2019-03-25 15:37] ThormaehlenFred commented on #43
there are two new medium findings in Checkmarx

[2019-03-26 13:47] vlerenc commented on #54
cc @amshuman-kr @swapnilgm @shreyas-s-rao @georgekuruvillak FYI and #514.

[2019-03-27 03:13] amshuman-kr commented on #54
@vlerenc Thanks for the update.

For which use-cases would `gardenctl` require access to the clusters underlying the virtual cluster?

[2019-03-27 07:25] DockToFuture commented on #54
In case you wanna debug or update the actual gardener setup or the gardener ring.

[2019-04-12 08:42] DockToFuture opened #73 "Read kubeconfig and ssh key secret from garden cluster"
Read the kubeconfig and ssh secrets from garden cluster instead of seed cluster.
The secrets are synced in the garden cluster and can be accessed under ```<shoot-name>.<kubeconfig|ssh>```
- [x] read the kubeconfig from the garden cluster, done by #107
- [x] read the ssh keys from the garden cluster

[2019-04-12 11:53] PlamenPanev opened #74 "gardenctl should not rely on installed jq"
**Describe the bug**
gardenctl ssh does not work when `jq` is not installed.

**To Reproduce**
Steps to reproduce the behavior:
1. Which target was set 'gardenctl get target'
2. Which command was entered [e.g. 'gardenctl show vpn-seed']
[code]
3. What was the output of the command

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable,

[2019-04-14 21:13] ialidzhikov opened #76 "Switch to go modules"
---
[Go modules wiki in golang/go](https://github.com/golang/go/wiki/Modules)

[2019-05-02 13:54] #76 closed

[2019-06-02 19:41] ialidzhikov opened #80 "Adapt to CloudProfile change"
With gardener/gardener#930 the AMI is no longer part of the CloudProfile resource.
gardenctl was relying on it during `gardenctl ssh` to determine the `--image-id` of the bastion vm.

https://github.com/gardener/gardenctl/blob/6031b4adf8992802e309e11cf044a14b22b8f982/cmd/ssh.go#L85-L94

[code]

[2019-06-04 06:31] ialidzhikov commented on #80
/assign @ialidzhikov

[2019-06-11 12:52] #80 closed

[2019-06-11 13:44] ThormaehlenFred commented on #43
there are five medium findings in Checkmarx

[2019-06-11 13:49] ThormaehlenFred commented on #43
is it possible to do the assessment in Checkmarx until 18.06.2019?

[2019-06-12 12:28] DockToFuture commented on #43
Assessment is done.

[2019-06-12 12:28] #43 closed

[2019-06-19 07:18] ialidzhikov commented on #12
I am interested in this one. Will try to poc something in my free time.

[2019-06-19 07:47] DockToFuture commented on #12
Sounds good, if we could also get also rid of ```--``` to signify the end of the options for the cmds, it would be a decent plugin with ease to use.

[2019-06-19 07:49] DockToFuture commented on #12
I will look at the second part.

[2019-06-19 10:32] marwinski opened #83 "gardenctl {shell,ssh} does not appear to work when OS is JeOS"
**Describe the bug**
```gardenctl shell``` and ```gardenctl ssh``` don't work when the operating system on the nodes is JeOS.

**To Reproduce**
[code]

cluster is dev - core - dm-jeos3

**Expected behavior**
It should work

**Screenshots**
n/a

**Gardenctl Version (please complete the following information):**

see above

**Additional context**

[2019-06-20 22:35] ialidzhikov commented on #83
Thanks for reporting! #84 proposed for the shell cmd.

[2019-06-25 08:47] petersutter opened #85 "register / unregister: unclear error message"
when trying to register / unregister I see the error message
`No email specified and no github url configured in garden config`

It is not clear from the error message how the config should look like

[2019-06-25 08:50] petersutter opened #86 "target garden"
when I want to target a garden cluster and don't specify a name I get an error message.
[code]
 It would be nice if the names would be listed instead of an error message so I can easily pick one without having to type `gardenctl ls gardens`

[2019-07-03 09:07] #83 closed

[2019-07-03 11:13] #86 closed

[2019-07-03 13:41] DockToFuture opened #89 "Update gardenctl to use project resource for ls and target cmd"
Use ```Project``` resource in gardenctl for listing and targeting projects instead of namespaces with ```garden.sapcloud.io/role=project``` label.

[2019-07-03 13:54] #85 closed

[2019-07-04 10:33] DockToFuture opened #90 "Integrate plant resource"
Integrate plant resource into gardenctl.

**Expectation:**

Should be possible to target plant resource (say we have another k8s cluster, added / managed by gardener ) and execute cmd against it, e.g. ```gardenctl shell```.

[2019-07-04 13:55] DockToFuture opened #91 "Automate ssh cmd for different cloud provider"
Automate the ```ssh``` cmd in ```gardenctl``` to automatically create the necessary resources using the respective cloud sdk, open a ssh session and close it properly after connection tear down to avoid remnant resources.

This process should be implemented to avoid left over resources from the user.

[2019-07-15 08:18] #89 closed

[2019-07-15 20:12] ialidzhikov opened #98 "Cannot list shoots in project"
**Describe the bug**
Cannot list shoots in project

**To Reproduce**
Steps to reproduce the behavior:
1. Which target was set 'gardenctl get target'
[code]

2. Which command was entered [e.g. 'gardenctl show vpn-seed']
[code]
3. What was the output of the command

[code]

but there are shoots in the project.

**Expected behavior**

**Screenshots**
If applicable, add screenshots to help explain you

[2019-07-24 18:10] vasu1124 opened #102 "Gardenctl completion"
`gardenctl completion` should not write to a file but to stdout.

Also, we should follow the `kubectl` design:
`gardenctl completion bash`
and
`gardenctl completion zsh` <-- new feature :-)

[2019-07-29 07:06] #71 closed

[2019-07-29 08:29] EmoinLanyu opened #104 "Target cmd failed when 2 shoots have a same name"
**Describe the bug**
Target cmd currently cannot distinguish a shoot cluster when multiple shoots have the same name even if they are in different projects.
This could be a bug in target.go targetShoot() where all the shoots with the same name will be appended to the list despite the seed/project they belong to.

**To Reproduce**
Steps to reproduce the behavior:
1. Create 2 shoot clusters with the

[2019-08-03 19:27] ialidzhikov opened #106 "ssh, get and download commands fails with configmaps "" not found"
**Describe the bug**
ssh and download commands fail with configmaps "x" not found after #94 .

**To Reproduce**
Steps to reproduce the behavior:
1. Which target was set 'gardenctl get target'
[code]
2. Which command was entered [e.g. 'gardenctl show vpn-seed']
[code]
3. What was the output of the command
[code]
**Expected behavior**

**Screenshots**

**Gardenctl Version (please complete the follow

[2019-08-06 07:17] #104 closed

[2019-08-07 12:45] #106 closed

[2019-08-13 07:57] ialidzhikov opened #108 "OS user during ssh command"
Currently the ssh command outputs always user `core`.
With the support of new operating systems like Ubuntu and JeOS, the `core` user is no longer valid and available.
For Ubuntu the user is `ubuntu`, for JeOS - `ec2-user`.

[2019-08-13 08:06] KristianZH commented on #108
As a short-term solution i can just change the connect message to:

```Connect: ssh -i key -o "ProxyCommand ssh -W %h:%p -i key <username>@34.254.230.86" <username>@10.242.11.39```
And maybe a message which says to look on the cloud provider documentation and find the user for their OS there.

@ialidzhikov @DockToFuture
What do you think about this?

[2019-08-13 08:47] ialidzhikov commented on #108
IMO it is okay for temp solution.

[2019-08-15 06:01] #102 closed

[2019-09-02 14:31] ialidzhikov opened #118 "Adapt to GEP-4"
Adapt to the changes introduced with gardener/gardener#1284.

[2019-09-02 14:36] ialidzhikov commented on #118
/assign @ialidzhikov

[2019-09-19 11:39] rfranzke opened #121 "Adapt to new `core.gardener.cloud/v1alpha1` APIs"
gardener/gardener#1430 is merged, and with it all resources are available in the the new `core.gardener.cloud/v1alpha1` API group. The old `garden.sapcloud.io/v1beta1` API group will be deprecated and removed in the next months. Please adapt your internals to using the new API group.

[2019-09-19 11:44] ialidzhikov commented on #121
Can I close as duplicate of #118?

[2019-09-19 11:47] rfranzke commented on #121
Sure, didn't see that, sorry.

[2019-09-19 11:47] #121 closed

[2019-09-27 16:28] #118 closed

[2019-10-04 08:34] DockToFuture opened #123 "Create bastion host for gcp ssh cmd"
Due to: https://github.com/gardener/machine-controller-manager/issues/339 a bastion host needs to be created to be able to ssh into the gce  machines.

[2019-10-07 13:02] petersutter opened #124 "register / unregister: read email from config"
Currently, `gardenctl` either accepts the email(s) as part of the `register`/`unregister` command or reads a github url from the config and tries to guess the email by taking the `USER` env var and calling [github's users](https://developer.github.com/v3/users/#get-a-single-user) endpoint. This only works for SAP's landscapes.

Why is this done via github api?
Why not add a new config property for

[2019-10-11 12:15] mnimm opened #126 "gardenctl ssh - Risk when connecting to shoots"
When gardenctl ssh is used by operators to connect to shoot clusters, they should be aware of related risks:
(1) Everything they do/type on the node can be seen by the shoot owner. So operators should not use secret information (e.g. seed credentials) on shoots or shoot pods.
(2) The risk of client-vulnerabilities. E.g. an outdated ssh client or network stack might make it possible for shoot owner

[2019-10-18 05:20] rfranzke opened #127 "Targeting shoots may take long"
**Describe the bug**
On large landscapes with many shoots, `gardenctl target shoot` may take very long.

**To Reproduce**
Steps to reproduce the behavior:
See above.

**Expected behavior**
The command should finish within a second or so.

**Gardenctl Version (please complete the following information):**
[code]

[2019-10-21 10:55] ialidzhikov commented on #127
+1

[2019-10-22 07:51] #127 closed

[2019-10-22 09:24] schrodit opened #130 "Gardenctl panics when accessing node that has not joined the cluster"
**Describe the bug**
Gardenctl panics when trying to ssh into a node that has not yet joined the cluster.

[code]
https://github.com/gardener/gardenctl/blob/master/pkg/cmd/ssh.go#L317

The same command is working for gardenctl 0.11.0

**To Reproduce**
Steps to reproduce the behavior:
1. gardenctl ssh <node ip from aws console>

**Expected behavior**
SSH into node or error message that states that

[2019-10-25 15:11] ialidzhikov commented on #130
Thanks for reporting!
This should be fixed with #131. If you manage to reproduce with the master branch g/gctl, please reopen.

[2019-10-25 15:11] #130 closed

[2019-10-30 12:00] ialidzhikov opened #132 "gardenctl target should work when the kubeconfig secret is missing"
Currently the target command fails when the kubeconfig secret is missing.
[code]

However the Shoot could fail with the creation but targeting and executing `g <provider-cli>` should be possible in order to check the infrastructure resources.

[2019-10-31 09:52] ialidzhikov opened #133 "Require at least 1 approving review from codeowner/maintainer"
Currently PR authors can merge their own PRs without an approval from `CODEOWNERS` or maintainer. I suggest to configure the repository settings to require at least 1 approving review from codeowner/maintainer as g/g, g/g-ext and others.

[2019-10-31 21:17] vpnachev commented on #133
:+1:

[2019-11-04 08:10] #133 closed

[2019-11-04 12:27] plkokanov opened #134 "Add a terraform subcommand"
**What would you like to be added**:
We should add scripts that can ease work with terraform states.

**Why is this needed**:
Sometimes there are errors caused by terraform job pods:
1. A resource has already been created by a previous execution but the terraform state was not properly saved
1. There are resource leaks due to multiple executions of terraform jobs

To fix these the operator has to

[2019-11-05 10:22] plkokanov commented on #134
Here's what I'm planning for the commands to look like:

[code]

@vlerenc @DockToFuture wdyt?

[2019-11-05 12:03] DockToFuture commented on #134
Sounds good to me! Regarding the first part, we have already implemented a download function for the terraform files, see ```gardenctl download tf infra```. Maybe you could reuse the code for that or factor it out.

[2019-11-06 08:54] #126 closed

[2019-11-06 08:54] #123 closed

[2019-11-06 08:54] #91 closed

[2019-11-06 22:26] ialidzhikov commented on #134
Hmm, I am with mixed feelings about it. With `g terraform` an operator needs to run the exact terraform version (and probably the exact provider version) that is used in the current terraformer (used in the current g/g-ext). Otherwise most likely there will be some incompatibilities such as new version of terraform state, unsupported syntax features and etc.
`g aws` or any cloud provider cli is fr

[2019-11-06 22:50] ialidzhikov opened #135 "Improvements around hibernation"
1. `g info` currently only shows number of Shoots per Seed. It is frequently used it to check how many Shoots are hosted on the Seed. Along with the total count, a good improvement would be to add the count of currently hibernated and running Shoot control planes to get a better overview.

[code]

2. `g shell` could be hibernation aware. Currently it shows an `EOF` error:

[code]

It could show a

[2019-11-07 07:37] DockToFuture commented on #134
The tf version validation is crucial here, if we don't want to break things up.  And even with a valid validation such commands should only be used with precaution. But there shouldn't be a difference if you do it in an automated way or manual.
Terraform was never the "sustainable solution" but a good start in the beginning.

[2019-11-07 07:45] DockToFuture commented on #108
After making use of the provisioned ```gardener``` user, can we close this?
@ialidzhikov @KristianZH

[2019-11-07 07:48] KristianZH commented on #108
I think that we use it only for the bastions for now

[2019-11-07 07:51] KristianZH commented on #108
I am currently working now on PR, where the ssh command will work with `node-name`, not `ip`.

In this way the `node-name` would be taken from the machine object and we would be able to ssh even on not joined node in the cluster. After that i will fix this issue and will close it :)

[2019-11-07 07:52] plkokanov commented on #134
This is one of the reasons I decided to open the issue as a hack/script for the ops-toolbelt after initially considering it for gardenctl.

Generally, running `terraform init` will report errors if there is a missmatch between the terraform versions used to handle the `main.tf` files.

The convenient thing you would get from gardenctl when using terraform is easier credential management and automa

[2019-11-07 09:21] KristianZH commented on #108
Yes, i think we can close it :)

[2019-11-07 12:04] #108 closed

[2019-11-07 15:33] DockToFuture opened #136 "Dark Side of Kubeconfig"
Restrict kubeconfig authentication info to prevent exploits as described in [the dark side of kubeconfig](https://banzaicloud.com/blog/kubeconfig-security/#leak-credentials).

[2019-11-11 11:47] #73 closed

[2019-11-12 07:31] #136 closed

[2019-11-12 07:34] #124 closed

[2019-11-12 08:20] DockToFuture opened #141 "Tag all infrastructure resources"
Tag all infrastructure resources created by ```gardenctl```.
This is necessary to filter for gardenctl specific resources and the implementation of a garbage collector, which will clean up all remnant resources, forgotten by the user to clean up.

[2019-11-13 12:26] petersutter opened #142 "Gardenctl cannot be opened because the developer cannot be verified"
**Describe the bug**
When I try to run `gardenctl` I see the following error message:
`"gardenctl" cannot be opened because the developer cannot be verified.`

**To Reproduce**
Steps to reproduce the behavior:
1. Use macOS 10.15.1
2. Download latest gardenctl (the issue probably occurs with every gardenctl version I assume)
3. Just run gardenctl with `gardenctl`

**Expected behavior**
I should be

[2019-11-13 12:31] petersutter commented on #142
I was able to workaround it by
- navigating to the `gardenctl` bin in the `finder`
- right click on the `gardenctl` bin -> Open (and holding the shift key)
- confirm the dialog by pressing the `Open` button.

[2019-11-13 14:27] DockToFuture commented on #142
In the past you could select under Security Preferences:
Allow downloaded Apps from ```Anywhere```.
Catalina only allows ```App store ``` and ```App store & identified developer```
In order to become one you have  to join Apple's Developer Program for $99 per year.

[2019-11-13 14:43] DockToFuture commented on #142
But you could bypass gatekeeper with sudo ```spctl --master-disable``` which will set the ```Anywhere``` option again.

[2019-11-13 19:02] petersutter opened #143 "Multiple gardenctl command arguments"
Currently, you have to run multiple commands in order to target a shoot for a specific garden
 landscape and project.
`gardenctl target garden my-garden`
`gardenctl target project my-project`
`gardenctl target shoot my-shoot`

Allow gardenctl to be called with multiple arguments. Something like:
`gardenctl target --garden my-garden --project my-project --shoot my-shoot`

[2019-11-14 04:55] rfranzke commented on #143
+1, very much appreciated. IMHO it would be even better if it would be possible to omit the `--<flag>` flags, i.e., `gardenctl target my-garden my-project my-shoot`

[2019-11-14 08:44] petersutter commented on #143
and instead of running the following commands for all landscapes:
`gardenctl target garden dev`
`gardenctl register`
`gardenctl target garden staging`
`gardenctl register`
`gardenctl target garden canary`
`gardenctl register`
....

this should be possible:

- `gardenctl register dev staging canary`
- `gardenctl unregister dev staging canary`

optimally this does not change the current target

[2019-11-14 08:54] DockToFuture commented on #143
``` g register  --all```

[2019-11-15 13:12] DockToFuture opened #145 "Wait until bastion host is up for establishing a ssh connection"
Wait until bastion host is up for establishing a ssh connection.
Currently ```gardenctl ssh``` tries to directly connect to bastion host instead of waiting until instance is up.

[2019-11-19 08:49] ialidzhikov opened #147 "gardenctl gets wrong Shoot credentials"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
1. Find a Shoot name that is used several times across multiple  projects - e.g dev
2. Execute a cloud provider specific command like `g aws ec2 describe-instances`
3. Ensure that the instances could be from different account and credentials under `~/.garden/cache/<landscape>/projects/<proj>/<shoot>/.aws/cre

[2019-11-20 07:39] #141 closed

[2019-11-20 09:20] #145 closed

[2019-11-20 14:38] DockToFuture commented on #69
### Definition of done
Add cluster autoscaler to:
- [x] 1. logs cmd
- [ ] 2. show cmd

[2019-11-21 19:10] #135 closed

[2019-11-22 10:13] #69 closed

[2019-12-10 07:19] #132 closed

[2019-12-23 08:58] ialidzhikov commented on #142
Also this happens only when you download the binary via the browser. You should use the README.md install instructions where curl is used - ref https://github.com/gardener/gardenctl/tree/v0.15.0#installation.

Ref https://github.com/bazelbuild/bazel/issues/9304#issuecomment-527936336.

/close

[2019-12-23 08:58] #142 closed

[2020-01-21 08:08] #143 closed

[2020-02-03 08:52] JensHaley opened #159 "gardenctl register <email> does not work"
**Describe the bug**
gardenctl register <mail> does not work. It worked with kubectl.

Response after executing command (slightly modified for security reasons):
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Which target was set 'gardenctl get target'
Contact me for details.

2. Which command was entered [e.g. 'gardenctl show vpn-seed']
See above.
3. What was the output of the comma

[2020-02-03 08:56] petersutter commented on #159
Hi @JensHaley, please update your gardenctl to v0.16.0

[2020-02-03 08:57] DockToFuture commented on #159
The domain has altered therefore please update to the latest version.

[2020-02-03 09:08] JensHaley commented on #159
Thanks. That helped.

[2020-02-03 09:08] #159 closed

[2020-02-03 09:14] petersutter opened #160 "Inform in case newer version is available"
It would be nice if gardenctl would inform me if a new version is available, similar like other tools do it. And maybe also give instructions on how to update.

[2020-02-06 06:30] plkokanov opened #161 "SSH private key file saved in current directory when using `gardenctl ssh`"
Currently when using `gardenctl ssh` the private key is saved in the current directory (from where the command is called), at least when ssh-ing to aws nodes. If someone forgets to delete the key immediately after the session is over, or some other action is done on the current dir - it is copied, archived, commited in git we risk exposing credential

For alicloud I see that the key is moved to th

[2020-02-06 13:25] WorkAlexGahr opened #162 "Install link not working?"
Hi,

seem when i use

curl -LO https://github.com/gardener/gardenctl/releases/download/$\(curl -s https://raw.githubusercontent.com/gardener/gardenctl/master/LATEST\)/gardenctl-darwin-amd64

I get

404: Not Found

Ist the link still correct?

[2020-02-06 13:32] DockToFuture commented on #162
Try `curl -LO https://github.com/gardener/gardenctl/releases/download/$(curl -s https://raw.githubusercontent.com/gardener/gardenctl/master/LATEST)/gardenctl-darwin-amd64`

For some reason you have two `\` in your link.

[2020-02-06 14:15] WorkAlexGahr commented on #162
Thanks i think still not working:

Ok even on webbrowser i get :https://raw.githubusercontent.com/gardener/gardenctl/master/LATEST/gardenctl-darwin-amd64

gets a 404

[2020-02-06 14:25] DockToFuture commented on #162
It can't work in the webbrowser with this url, the inner part is just used to fetch the version in this case `v0.16.0`. Either you use `https://github.com/gardener/gardenctl/releases/download/v0.16.0/gardenctl-darwin-amd64` or use `curl -LO https://github.com/gardener/gardenctl/releases/download/$(curl -s https://raw.githubusercontent.com/gardener/gardenctl/master/LATEST)/gardenctl-darwin-amd64`.

[2020-02-06 14:38] WorkAlexGahr commented on #162
boot give me booth a 404 not found
I'm using zsh on the mac any issue with this?

[2020-02-06 14:40] petersutter commented on #162
I have the same issue with zsh. When copying the text, it will automatically add `\` before `(` and `)`

[2020-02-06 15:13] DockToFuture commented on #162
If this is a zsh autoplugin problem use `bash` and then download gardenctl.

[2020-02-06 21:47] vpnachev commented on #161
I think it is better to keep it next to the kubeconfig file of the same shoot cluster in `${HOME}/.garden/cache`.

[2020-02-10 07:16] #162 closed

[2020-02-26 15:37] petersutter opened #164 "Target garden by apiServerUrl"
It would be nice if I could target the `garden` by providing the `apiServerUrl` / `server` as alternative to the name.

Background: In the dashboard on the cluster's details page an operator should be able to copy the `gardenctl` commands to
- target the shoot
  - Example:`gardenctl target --server https://example.com --seed the-seed --shoot my-shoot`)
- target the seed of this shoot
  - Example:

[2020-03-02 14:38] neo-liang-sap opened #165 "enable `gardenctl` to support select namespace while targeting garden/seed/shoot"
Currently with 0.16 version of `gardenctl` we can target sth like `gardenctl target -g <GARDEN> -s <SEED> -t <SHOOT>`
It would be nice to add an switch of `-n namespace` to select the namespace

[2020-03-02 14:40] neo-liang-sap commented on #165
Oh - looks like i can't assign this issue to myself ;) could someone assign this to me? or add me permission in this repo to take issues ;)
my username is `neo-liang-sap`
Thanks!

[2020-03-02 15:15] petersutter commented on #165
done

[2020-03-02 15:17] petersutter commented on #164
with https://github.com/gardener/gardenctl/issues/165 one could also target the namespace in addition, like `gardenctl target --server https://example.com --seed the-seed --namespace shoot-technical-id`

[2020-03-03 08:14] neo-liang-sap commented on #161
Hello,

I'm trying to make some contribution to `gardenctl` :)

Here's the PR - https://github.com/gardener/gardenctl/pull/166

BTW please assign this ticket to me - i don't have access to self-assign...

Thanks!
-Neo

[2020-03-04 06:48] neo-liang-sap commented on #165
Hi @petersutter :

I looked into `gardenctl target` related code and have some thoughts on this issue, do correct me if i was wrong in understanding this issue.

Currently there are 4 kinds of `target` - garden/seed/project/shoot - see https://github.com/gardener/gardenctl/blob/master/pkg/cmd/types.go#L73 , `namespace` is not an kind of `target`

Talking about `namespace` personally i think this s

[2020-03-04 07:49] neo-liang-sap commented on #160
the latest release version could be obtained via (i took shell for example)
[code]
returns `v0.16.0`

i will investigate how to implement sth similar in go for `gardenctl`.

please assign this ticket to me, thanks!

[2020-03-04 12:38] petersutter commented on #165
The problem with this is that you can't combine it into one command, so I guess your second point is desired outcome, if possible.

So from my point of view, when running
`gardenctl target -g xxx -s xxx -n namespace`
and then
`gardenctl k get pods` it would list the pods of the targeted namespace

[2020-03-04 14:00] #161 closed

[2020-03-09 09:39] #160 closed

[2020-03-10 05:01] neo-liang-sap commented on #165
PR - https://github.com/gardener/gardenctl/pull/168

[2020-03-11 08:50] #165 closed

[2020-03-11 09:01] neo-liang-sap opened #169 "Poc to add namespace to be kind of target - follow up on issue 165 (add gardenctl target namespace xxx)"
This issue is an followup issue from https://github.com/gardener/gardenctl/issues/165
In https://github.com/gardener/gardenctl/issues/165 , `gardenctl target namespace xxx` or `gardenctl target -g xxx -s xxx -p xxx -t xxx -n xxx` is supported.
The aim of this issue is to add namespace to be kind of target, like garden/shoot/seed/project.
The refactor will have impact on :
* gardenctl ls/get/drop/t

[2020-03-11 09:03] neo-liang-sap commented on #169
please assign this issue to me , thanks!

[2020-03-11 12:36] ialidzhikov opened #170 "Cannot use the openstack cli"
**Describe the bug**
Cannot use the openstack cli with gardenctl.

**To Reproduce**
[code]

**Gardenctl Version (please complete the following information):**
[code]

**Additional context**
Add any other context about the problem here.

[2020-03-18 15:27] ThormaehlenFred opened #174 "Type in dialogue"
**Describe the bug**
When executing gardenctl ssh, there is a small typo in the dialogue
current
`Opend SSH Port on Node.`

**To Reproduce**
gardenctl ssh

**Expected behavior**
should be:
`Opened SSH port on node.`

**Screenshots**
If applicable, add screenshots to help explain your problem.
[code]

**Gardenctl Version (please complete the following information):**
 - latest

**Additional context

[2020-03-18 15:42] DockToFuture commented on #174
Is fixed.

[2020-03-18 15:42] #174 closed

[2020-03-19 07:28] donistz opened #175 "Not possible to use OIDC based kubeconfig files for authentication"
**Describe the bug**
It is not possible to use gardenctl for operation of seed clusters where the K8S API Server is configured with OIDC based authentication.
**Expected behavior**
It should be possible to configure the usage of OIDC based kubeconfig files for accessing the Gardener seed clusters.

[2020-03-19 12:24] #169 closed

[2020-03-25 13:47] neo-liang-sap commented on #170
i tried to look into this issue but didn't figure out the root cause, i'm sharing what i found if a bit helpful:
- the error `Missing value auth-url...` is due to missing authentication url when running `g openstack` command.
- the authURL is injected in line https://github.com/gardener/gardenctl/blob/master/pkg/cmd/operate.go#L215 `cloudProfileConfig `
- `cloudProfileConfig ` is getting values fr

[2020-03-26 15:24] neo-liang-sap commented on #170
Hi @ialidzhikov / @DockToFuture :
Based on my comments above i'm trying to go further.
I decoded the `in.Spec.ProviderConfig.Raw` just using plain go function and getting the json contents.
- i used demo code like this (at end of function `getOpenstackCloudProfileConfig `):
[code]

- and the json structure is looking like below:

![image](https://user-images.githubusercontent.com/42594392/77663087

[2020-03-26 20:36] dansible opened #176 "`gardenctl ls issues` causes a runtime panic"
**Describe the bug**
Running `gardenctl ls isssues` causes a runtime panic on [v0.16.0](https://github.com/gardener/gardenctl/releases/tag/v0.16.0).

This occurs regardless of what project/seed/shoot is currently targeted.

[code]

**Gardenctl Version (please complete the following information):**
 - Version/Commit [e.g. ba79e6e55ff4857011589d71e279d2d654c86713]

[2020-03-27 01:44] tedteng commented on #176
I will have a look

[2020-03-27 15:27] neo-liang-sap commented on #176
sorry i noticed this issue last week and plan to fix it when i'm back from vacation - a very quick fix is here https://github.com/gardener/gardenctl/pull/177
@dansible @tedteng FYI...

[2020-03-29 13:26] #176 closed

[2020-03-30 06:47] #170 closed

[2020-03-30 11:36] neo-liang-sap commented on #164
some internal discussion with @petersutter ;)

[2020-04-01 15:27] neo-liang-sap opened #181 "refactor kubeconfig read function"
This is from discussion in https://github.com/gardener/gardenctl/pull/180#discussion_r401570297
These lines of code appear in project several times and would like to make an function for these , also will do an refactor on whole project regarding this.
https://github.com/gardener/gardenctl/blob/master/pkg/cmd/get.go#L163-L166
[code]

[2020-04-01 15:27] neo-liang-sap commented on #181
please assign this issue to me - thanks!

[2020-04-02 12:26] #164 closed

[2020-04-08 06:13] tedteng opened #183 "gardenctl logs issue"
**Describe the bug**
gardenctl logs function with some bug, let me know if I executed as wrong way.

**To Reproduce**
Steps to reproduce the behavior:

[code]

it should be display the logs info from pod ci-integr.infra.tf-destroy-5vwqx, but
[code]

**Expected behavior**
output infra.tf log
eg
[code]

**Screenshots**
![image](https://user-images.githubusercontent.com/42234376/78750076-13149400-79a

[2020-04-08 06:13] tedteng commented on #183
Please assign it to me if it is a bug, I will fix it

[2020-04-08 08:08] tedteng commented on #183
https://github.com/tedteng/gardenctl/commit/138cb443318660245e3bb6c406cb3b14ce103aa4

base one the exist result `ci-integr.infra.tf-destroy-p5qr7`
It seem string match not correct, remove `-job`

result as expected

[code]

meanwhile also found some logic for `logsTerraform`, it loop all pod from all namespaces in seed level. so it cloud be  have multiple tf infra result output  at the same time.

[2020-04-09 10:30] #181 closed

[2020-04-09 12:58] #183 closed

[2020-04-20 04:53] rfranzke opened #188 "gardenctl target target -u"
Can we support targeting a cluster by providing the Gardener Dashboard URL?
For example:

[code]

[2020-04-20 04:55] neo-liang-sap commented on #188
sure i will look into it, please assign this issue to me , thanks!

[2020-04-20 05:00] rfranzke commented on #188
Thanks Neo!

[2020-04-20 06:22] tedteng opened #189 "target url directly"
I am curious whether is worth set up the following feature or already have it?

target url directly access to garden/shoot/seed/project

eg
`https://dashboard.garden.canary.k8s.ondemand.com/namespace/garden-i333878/shoots/ez6hydlg6k/`

as we can see from url we already have shoots name `ez6hydlg6k`, namespace `garden-i333878`,  project`i333878` , canary with Suffix `-virtual`. I haven't figure out

[2020-04-20 06:27] DockToFuture commented on #189
There is a similiar issue open #188 by targeting the cluster via url. We can also add this to the target function as you specified. Maybe you want to sync here with @neo-liang-sap.

[2020-04-20 06:40] tedteng commented on #189
thanks

[2020-04-20 07:15] petersutter commented on #189
See also https://github.com/gardener/dashboard/pull/657

[2020-04-20 08:22] tedteng commented on #189
@petersutter  that looks awesome which also similar what I want to do as well. copy and paste without typing too much

should I still keep this ticket open working on that or just close it because you already provide the feature. ?

[2020-04-20 08:27] neo-liang-sap commented on #188
PR submitted in https://github.com/gardener/gardenctl/pull/190

[2020-04-20 09:44] petersutter commented on #189
I had deleted my response to which you are referring because I thought that this was a duplicate of the target server command. My response pointed to the corresponding dashboard pr https://github.com/gardener/dashboard/pull/657

But it still makes sense to close this PR and continue the discussion in https://github.com/gardener/gardenctl/issues/188

[2020-04-20 09:46] tedteng commented on #189
sure agree and close ticket

[2020-04-20 09:56] #189 closed

[2020-04-21 04:14] rfranzke opened #191 "gardenctl ssh does not work"
**Describe the bug**
`gardenctl ssh` does not work:

[code]

**To Reproduce**
`gardenctl ssh <nodename>`

**Expected behavior**
It should work.

**Gardenctl Version (please complete the following information):**
[code]

[2020-04-21 05:55] tedteng commented on #191
Hi rafael. May I know which shoot you are access it

[2020-04-21 06:05] rfranzke commented on #191
It was an AWS shoot. I guess it doesn't matter which. Take any AWS shoot.

[2020-04-21 06:06] tedteng commented on #191
OK I see I will take a look this issue

[2020-04-21 06:10] tedteng commented on #191
em I am take one of aws shoot it looks good from my side

···
(⎈ |shoot--garden--aws-eu6:default)➜  kc.wiki git:(master) gardenctl ssh ip-10-250-0-33.eu-central-1.compute.internal

Warning:
Be aware that you are entering an untrusted environment!
Do not enter credentials or sensitive data within the ssh session that cluster owners should not have access to.

Downloaded id_rsa key

(1/4) Fetching d

[2020-04-21 06:27] rfranzke commented on #191
Maybe it only works for ready nodes? I was trying to ssh into a VM where the node was `NotReady` (kubelet didn't run anymore), so I wanted to take a look, but this didn't work/failed with above error. Maybe something else was broken as well on the VM itself. Yesterday I was trying another cluster and got the same error, hence, I decided to open this issue today. Let me check if I can reproduce it

[2020-04-21 06:49] tedteng commented on #191
I see I was also met before when I try to check kubelet log form pending nodes.
I will also check it later when I see the pending nodes whether have same issues

[2020-04-21 14:30] vpnachev commented on #175
There is an issue in gardener about generating kubeconfig with OIDC context - https://github.com/gardener/gardener/issues/1433. It should ease support in gardenctl about OIDC.

[2020-04-21 14:55] vpnachev opened #192 "Improve handling of external resources"
**What would you like to be added**:
From time to time `gardenctl` is leaking cloud provider resources which is hard to find out and delete later.
An example is `gardenctl ssh <node-name>` which is ensuring the required node is accessible via pubic internet by creating a public IP, and depending on the cloud provider creates a bastion machine. If the ssh session is not gracefully deleted - the clo

[2020-04-22 00:52] tedteng commented on #192
I will take a look ,  you can assign it to me

[2020-04-23 11:38] #188 closed

[2020-04-24 02:04] tedteng commented on #191
Testing today for AWS Pending nodes it looks also able to ssh it.

[code]

[2020-04-24 02:56] tedteng commented on #191
Ok, I think I can reproduce it somehow.

I observed the Pending nodes have been changed.
I can access the Pending Nodes(10-250-27-187) from the previous msg but have been kicking it out later. then Pending node change to (10-250-13-89).

link to issue https://github.com/gardener/gardenctl/issues/192

kubelet log checking but have been kicking it out of the session.
[code]

[2020-04-24 18:24] danielfoehrKn opened #193 "Gardenctl fails for AWS - hardcoded instance type"
**Describe the bug**
Currently for AWS the instance-type t2 is hardcoded when [creating the bastion instance](https://github.com/gardener/gardenctl/blob/10a537942b94234914758c0f6d053dc1cf218ecd/pkg/cmd/ssh_aws.go#L236).

Depending on the AWS region, the [T2 instance type is unavailable](https://github.com/trailofbits/algo/issues/1285 ) and leads the following error.
It was not immediately clear to

[2020-04-25 02:46] neo-liang-sap commented on #193
please assign this issue to me, thanks

[2020-04-27 00:42] tedteng commented on #192
after investigation there are the following scenarios will cause the leaking and other issues.

* scenarios 1) status checks timeout https://github.com/gardener/gardenctl/issues/191
Event instance status is running, till need to wait the status check passed before ec2 instance able to access.  some of case status check may take more than 60s

Error
[code]

* scenarios 2) status checks not passed o

[2020-04-27 08:32] tedteng commented on #192
Signed-off
PR: https://github.com/gardener/gardenctl/pull/195

[2020-04-30 08:22] vpnachev commented on #192
@hardikdr @prashanth26 as MCM maintainers could you provide your feedback about whether it is possible to manage SSH access to the VMs via the `machine.sapcloud.io/v1alpha1.Machine` resource. On some providers only a public IP has to be attached, on others a bastion VM has to be deployed and bridged with the private network of the shoot.

[2020-04-30 11:46] petersutter commented on #192
@vpnachev I really like the idea of using the `machine.sapcloud.io/v1alpha1.Machine` resource to manage SSH access to the VMs or maybe even have a dedicated CRD with an own controller that manages this and just makes use of `machine.sapcloud.io/v1alpha1.Machine` in case a machine is needed.

Once we have this in place we could even use the terminal-controller-manager for having ssh access from the

[2020-05-04 06:08] tedteng commented on #192
ok. I will create ssh-controller-manager CRD in the seed to create/manage the VMs

[2020-05-04 06:37] hardikdr commented on #192
I overall agree with @vpnachev @petersutter.

A minor variant to what is proposed could be, we simply create a dedicated `bastion` MachineDeployment with PubilcIPs enabled[via classes]. So in case machine-creation fails, it could be automated by deployment-controller.
- Though currently, MCM assumes that the created machines are going to k8s nodes, and if they don't health-check replaces them. We

[2020-05-04 07:57] #193 closed

[2020-05-04 09:08] tedteng commented on #192
correct me if I in the wrong approach.

as far as I can think now,  the existing MCM manages to create/remove lifecycle for all bastion resources, VM, security group for VM, and Public IPs, all in the customer subscriptions.

If I code and implement `bastion-machine CRDs` in seed, the `bastion-machine CRDs`  will call MCM to manage the bastion VM cross all cloud providers(aws,az,gcp...). however,

[2020-05-04 09:10] petersutter commented on #192
👍

👍

hm, I don't have a strong opinion on that. Anyone else?

What we should also keep in mind is that the seeds and shoots could be in isolated environments (e.g. not accessible from the internet), hence the `ssh-controller-manager` or however you want to call it should run on each seed, similar to the `gardenlet` approach.

[2020-05-04 09:16] petersutter commented on #192
@tedteng before you start with the implementation, can you please share an example of such a `bastion-machine` CR?
And also share an example of the `MachineDeployment` CR that you would create when acting upon the `bastion-machine` CR.

[2020-05-04 10:40] tedteng commented on #192
sure I am trying to figure out the whole approach first make sure it is correct approach .

correct me if it is not correct for the following CR, I new for MCM , few questions

- `t2.nano` as the smallest instance not in AWSMachineClass yet
- I haven't get the idea about Public IPs yet.
- about exist host node, does MCM available to update `securityGroups` to open 22 port

`bastion-machine`
[code]

[2020-05-04 10:44] neo-liang-sap commented on #192
In most region it is the case but in some region `t2.nano` is not available e.g. eu-north1, see https://github.com/gardener/gardenctl/pull/194 . FYI

[2020-05-05 00:23] tedteng commented on #191
PR: https://github.com/gardener/gardenctl/pull/195

[2020-05-05 08:19] tedteng commented on #192
Hi all

I will keep an existing `gardenctl ssh` solution first as an alternative. then planning to add a new solution to use a `pod` as a bastion instance.

main idea useing  `kubectl run -it --rm bastion-ssh --image=ops-toolbelt` or https://gardener.cloud/050-tutorials/content/howto/ssh-into-node/

This is more light compare with MCM (need new Public IP for the bastion instance, update existing s

[2020-05-05 10:30] petersutter commented on #192
Hi @tedteng ,

I don't think that we want to get rid of accessing the node via ssh. Also, the link to the documentation does not describe ssh access to the node. It just describes how to access the node using a privileged pod. But this only works if the kube-apiserver is available and the node to which you want to have access to is ready. Sometimes this is not the case, hence having a possibility

[2020-05-05 11:55] tedteng commented on #192
Hi @petersutter , My bad expression.  I don't want to get rid of accessing the node via ssh either. I think the current solution is purer and a sample way use cloud CLI to communicate with each cloud provider directly. I like to keep it. The only issue now has a chance remaining the resource in Cloud by abnormal behavior sometimes.

so my planning is we use `Pod` as a bastion instance normally.  I

[2020-05-13 07:27] neo-liang-sap opened #196 "improve the error message when running `gardenctl az network vnet delete ` while not targeting the shoot"
**Describe the bug**
1) target az seed of an azure cluster
2) try deleting one of the error vnet `gardenctl az network vnet delete `
3) the error msg is `resource name may not be empty` this is not comprehensive

**To Reproduce**
Steps to reproduce the behavior:
see above

**Expected behavior**

the error msg should be clear like "you are not targeting the shoot , please target shoot before procee

[2020-05-13 07:28] neo-liang-sap commented on #196
please assign this issue to me, thanks!

[2020-05-14 19:35] jfortin-sap opened #197 "Automatically export the targeted kubeconfig"
**What would you like to be added:**
Automatically export the targeted kubeconfig and load it in the environment (KUBECONFIG)

**Why is this needed:**
Facilitate switching between multiple clusters without specifying gardenctl

[2020-05-19 17:17] #196 closed

[2020-05-25 13:06] neo-liang-sap opened #199 "update gardenctl help documentation for `gardenctl target dashboardUrl <dashboardUrl>`"
currently gardenctl supports `gardenctl target dashboardUrl <dashboardUrl>` but this is not displayed in gardenctl --help or just gardenctl command.

will update gardenctl --help and display help information on gardenctl target dashboardUrl

[2020-05-25 13:06] neo-liang-sap commented on #199
please assign to me, thanks!

[2020-05-26 02:26] neo-liang-sap commented on #199
sorry i had some misunderstanding on this issue, the `gardenctl target dashboardUrl` help info will only be available when `gardenctl target` is entered as this is an subcommand for gardenctl target.
this will not be displayed when`gardenctl` entered , so this issue is not valid/.

[2020-05-26 02:26] #199 closed

[2020-05-28 02:34] tedteng commented on #192
Hi as latest PR:https://github.com/gardener/gardenctl/pull/195

Let me know any concerns I am using Pod as jump box instead of CRD.
I can assume the limitation for Pod as jump box so far is Pod not able to schedule due to different reasons, but we still can use the old way to create bastion instance as jump box in that case if needed at that time.

- no extra resources generated on Cloud Provider

[2020-05-28 08:05] vpnachev commented on #192
What is the difference compared with `gardenctl shell` which is also using pod to get access to the node?

[2020-05-29 01:52] tedteng commented on #192
didn't realize `gardenctl shell` already provides the same solution. I will update Readme

[2020-05-29 03:42] hardikdr commented on #192
A general comment, CAPI community is trying to solve a similar issue, it's still being discussed.
It could be useful to understand the overall scope of the problem and possible solutions, you might want to take a look:

https://docs.google.com/document/d/1FVRxo9toKSUmvKIUFFzPFhnFrfdR9s7S6Bl4shovNlg/edit#heading=h.3mwmvwsf4jyi

[2020-06-01 17:39] jfortin-sap commented on #74
@DockToFuture Does this still need attention? I would like to pick it up.

[2020-06-02 06:52] DockToFuture commented on #74
Yes, the issue is still open if you want to pick it up, I can assign it to you.

[2020-06-02 12:38] jfortin-sap commented on #74
@DockToFuture great, assign it to me

[2020-06-08 06:14] #74 closed

[2020-06-08 12:41] danielfoehrKn commented on #197
Environment variables can only be passed from parent to child (as part of environment export/inheritance), not the other way around - please [see here](https://unix.stackexchange.com/questions/372627/is-it-possible-to-pass-environment-variables-from-child-to-parent-in-user-space).

I am working around this issue in the [tool I am using](https://github.com/danielfoehrKn/kubectl-switch), by sourcing

[2020-06-08 13:31] danielfoehrKn opened #208 "Extension concept for cloud-provider specific operations"
Gardener has an [extensibility concept](https://github.com/gardener/gardener/blob/7eac7538ace99585a452e11e322a2a1dd0ecced1/docs/proposals/01-extensibility.md#L1), allowing cloud-provider specific tasks, to be developed independent of the Gardener core repository.

Similarly, it would be nice if `gardenctl` would offer a concept where `gardenctl` would define an interface with operations that plugi

[2020-06-08 19:13] jfortin-sap commented on #197
@danielfoehrKn Would it be possible to create a tmp file to store the env-var, and if that tmp file exist after gardenctl exits the sub shell, then set it?

[2020-06-08 19:20] jfortin-sap commented on #147
@DockToFuture I can take this one

[2020-06-08 19:55] danielfoehrKn commented on #197
Only the current shell session,  or its parent can set an environment variable that persist in the current session to my understanding.

So you would need something that is sourced by the shell that calls gardenctl. Now gardenctl can either directly return the path to the kubeconfig file or write a tmp file somewhere, it does not really matter. Then the caller can consume that and set it as en env

[2020-06-08 20:45] jfortin-sap commented on #197
@danielfoehrKn During gardenctl execution, does it not return to parent once the command is complete? and then before it exits we can perform an operation?

[2020-06-08 20:56] danielfoehrKn commented on #197
If you execute the `gardenctl` binary from the command line it will [fork()](https://man7.org/linux/man-pages/man2/fork.2.html)  the current shell process and then exec() into the child process. `gardenctl` therefore runs in a child process. So you cannot just set the environment variable in `gardenctl` before it exits.

[2020-06-15 05:54] #147 closed

[2020-06-18 20:25] Magoli1 opened #210 "Create a GitHub Action for automatic build & push of Docker Image to DockerHub"
Hey everyone,

I really like that you are providing a Dockerfile for easy consumption of gardenctl! 👍
What do you think about a GitHub Action that automatically builds the corresponding docker image and pushes it to DockerHub, whenever there are changes? This would allow an easier consumption, without the need of building it first. Also the integration into CI/CD scenarios would be seamless.

I wo

[2020-06-19 09:25] petersutter commented on #210
That would be nice 👍 , however I would suggest to adapt the pipeline definition in order to build and publish the image.
Examples can be found [here](https://github.com/gardener/dashboard/blob/master/.ci/pipeline_definitions#L10-L17) or [here](https://github.com/gardener/ops-toolbelt/blob/master/.ci/pipeline_definitions#L10-L25)

The documentation can be found [here](https://gardener.github.io/cc-

[2020-06-22 01:28] neo-liang-sap opened #211 "Add kubectx support for gardenctl"
As OIDC related feature are going to be enabled for some scenario, and oidc kubeconfig based operation is fully assoicated with `kubectx` command line, i'd like to add kubectx support for gardenctl.

https://github.com/ahmetb/kubectx

If it's an proper enhancement request please assign this issue to me and i will work on this one.

Thanks.

[2020-06-23 01:14] neo-liang-sap commented on #175
Hi @DockToFuture / @vpnachev
Currently in oidc enabled scenario, `gardenctl` is not able to target `shoot`, i'm not sure whether i'm using correctly as follows, will this issue https://github.com/gardener/gardenctl/issues/175 fix this? or https://github.com/gardener/gardener/issues/1433 will fix?
CC @dansible
Thanks!

![image](https://user-images.githubusercontent.com/42594392/85349733-d3396380-b5

[2020-06-26 09:35] #211 closed

[2020-07-01 14:40] jguipi opened #216 "Not possible to SSH to a node"
**Describe the bug**
A clear and concise description of what the bug is.

While trying to troubleshoot a cluster that was generating the following error :
[code]
I noticed that I wasn't able to ssh to the node using `gardenctl ssh` it always threw an error at the bastion host creation.
![image](https://user-images.githubusercontent.com/11049349/86257095-19707180-bb87-11ea-8c11-4c416d32cb6f.png)

*

[2020-07-01 23:43] tedteng commented on #216
Hi Juste, have you try `ssh shell <nodename>`. meanwhile, I am trying to search project zz-zzz from live and canry but didn't found it do you have project dashboard URL ? I like to reproduce the issues.

[2020-07-02 04:31] jguipi commented on #216
The cluster seems to have resolve itself

[2020-07-02 04:31] #216 closed

[2020-07-06 18:38] #197 closed

[2020-07-07 00:59] tedteng commented on #192
sorry is this requirement still available?

[2020-07-07 08:17] knightXun opened #217 "gardenctl can not support aws format kubeconfig"
it's seems gardenctl will read some content from kubeconfig, and judge the format whether is illeage.I see some code of gardenctl and compare this with my aws format kubeconfig, finding gardenctl can not support aws kubeconfig very well. Please notice this.

[2020-07-07 08:22] neo-liang-sap commented on #217
gardenctl can't support some kind of kubeconfig e.g. containing use with command line content.
say if your kubeconfig user part contains `aws-iam-authenticator` command line to generate user info, this could not be consumed by gardenctl

btw i found some misunderstanding content in your description which i can't edit them, e.g. `weather `->`wether`, `finding gardenctl can support aws kubeconfig ve

[2020-07-07 08:26] knightXun commented on #217
@neo-liang-sap thanks.

[2020-07-09 11:49] jfortin-sap commented on #134
Hello, I would like to work on implementing it. Can you please assign me the ticket?

After reviewing the ticket's issue feedback, I have a few questions.

How do we handle terraform version validation? I assume it will be the user's responsibility to have the proper version installed?

Secondly, I would like to confirm the work flow before I get started.

In a nutshell, "gardenctl terraform init"

[2020-07-13 05:58] knightXun opened #220 "How can I write right config for gardenctl?"
![image](https://user-images.githubusercontent.com/8334944/87275470-b54b9700-c510-11ea-8651-4876c43bde89.png)

I make gardenctl config above, but I can't get any shoots. Is there some mistake in my ~/.garden/config?

[2020-07-13 06:13] tedteng commented on #220
can you show me ` gardenctl get target` to Displays the current target ?

[2020-07-13 08:26] knightXun commented on #220
![pp的副本](https://user-images.githubusercontent.com/8334944/87281200-8f7cbd00-c525-11ea-9d84-6207dee3d7a9.png)

[2020-07-13 08:28] petersutter commented on #220
from the error message above it looks like you have targeted the wrong cluster. Make sure you have targeted the (virtual) garden cluster

[2020-07-13 17:15] #134 closed

[2020-07-14 03:29] knightXun commented on #220
@petersutter I got it, I should download this config from garden dashboard

[2020-07-14 03:29] #220 closed

[2020-07-14 22:39] jfortin-sap commented on #208
@danielfoehrKn Can you assign this to me?

[2020-07-15 00:16] tedteng opened #222 "fetch Public IP and restrict the source IP range."
**Describe the bug**
Base on security scan
bastions host will create security groups with 0.0.0.0/0 IP range allow to access as jumpbox.
will enhance SSH feature, fetch user Public IP first then create security groups base on the user Public IP instead of 0.0.0.0/0.

[2020-07-15 00:16] tedteng commented on #222
/assign

[2020-07-15 21:00] jfortin-sap commented on #208
@danielfoehrKn I would like to confirm the workflow with you before I get started. So, for example the gardenctl aws extension provider would be in it's own github repo "gardenctl-extension-provider-aws", building it would produce "extension-provider-aws.so" where the interface method forceCleanupInfrastructure(String vpcId) would exist where as we would load that module on runtime if we are manip

[2020-07-16 09:36] Magoli1 commented on #210
Hey @petersutter any updates on this?

BR Robert

[2020-07-16 09:47] petersutter commented on #210
Hi @Magoli1, sorry I'm not a code owner of gardenctl but the PR looks good
PTAL @gardener/gardenctl-maintainers

[2020-07-16 09:49] petersutter commented on #210
maybe @AndreasBurger can also have a quick look at #215 if he spots anything that needs to be changed

[2020-07-16 14:07] #210 closed

[2020-07-20 06:41] danielfoehrKn commented on #208
I think we should get together with other gardenctl maintainers to decide wether this is something that should be worked on in the first place, when, and generally how it could look like..
However, at least in my point of view gardenctl has also other problems that might be better to tackle first. Major ones being
- increase stability of the existing `ssh` command
- (add a verbosity flag)

[2020-07-20 08:00] tedteng commented on #208
regarding stability issue for `ssh` command  is that happen when access `AWS`

I used to be investigated on that
https://github.com/gardener/gardenctl/pull/203
https://github.com/gardener/gardenctl/pull/195

In my case `ssh` timeout due to status check initiating due to waiting instance-status.status,Values=ok

[code]
![image](https://user-images.githubusercontent.com/42234376/87912609-433ef900-ca

[2020-07-20 15:26] vlvasilev opened #225 "Unable to create bastion due to invalid IAM Instance Profile name"
**Describe the bug**
I am trying to connect to a non joining node as per this [documentation](https://gardener.cloud/documentation/050-tutorials/content/howto/shell-to-node/). When I execute `gardenctl ssh <node-name-from-machine-status>` it fails creating bastion
[code]

**To Reproduce**
Steps to reproduce the behavior:
The gardenctl was targeting a shoot from aws on Canary.

**Expected behavior*

[2020-07-20 15:50] neo-liang-sap commented on #225
/assign

[2020-07-20 15:56] neo-liang-sap commented on #225
Hi @vlvasilev , thanks for reporting this, could you please remove `C***y` from your description as it contains sensitive information?

i was unable to re-produce your problem as i see your shoot cluster is kind of problematic - all machines are in pending status. I'm not 100% sure but i remember `garden ssh` could not ssh to machine with pending status. I would suggest you first try reconcile you

[2020-07-20 16:22] vlvasilev commented on #225
Dear @neo-liang-sap,
First this is not mine cluster. As Developer On Duty I wan't to ssh on a non joining node as is described in the documentation.
The shoot is old and as you see even the new machine are 10 minutes old.
I have past link to the documentation. If gardenctl have no longer such option why it is available in the latest release.

[2020-07-21 00:40] tedteng commented on #225
Hi @vlvasilev  The IAM profile was removed https://github.com/gardener/gardenctl/pull/218 and merged in the latest version v0.18.0. It looks like your upgrade to the latest gardenctl version but seems the terminal session not the latest gardenctl version at that time.

[2020-07-21 10:53] #217 closed

[2020-07-21 12:30] rufreakde opened #227 "Bash Completion Fails"
**Describe the bug**
Sourcing the bash completion results in an error:
`ERROR: /dev/fd/12:type:1080: bad option: -t`

Command I tried to use in my .zshrc:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. `brew install gardener/tap/gardenctl`
2. `source <(gardenctl completion bash);`
3. see error: `/dev/fd/11:type:1080: bad option: -t`

**Expected behavior**
Source of bash completion sh

[2020-07-21 13:27] #222 closed

[2020-07-21 13:42] neo-liang-sap commented on #227
/assign
will take look at it

[2020-07-21 13:45] neo-liang-sap commented on #175
@DockToFuture as https://github.com/gardener/gardenctl/pull/221 is closed and merged i believe this one could also be closed?
thanks
-Neo

[2020-07-21 13:53] DockToFuture commented on #175
Thanks for noticing. Closed with #221.

[2020-07-21 13:53] #175 closed

[2020-07-22 01:56] neo-liang-sap commented on #227
Hi @rufreakde ,
I assume you are using `zsh` as i saw you were trying to source to `.zshrc`, actually if you want to source completion for `zsh` you should run `source <(gardenctl completion zsh);`, it works in my Mac with zsh

from code the implementation is https://github.com/gardener/gardenctl/blob/master/pkg/cmd/completion.go#L26 you can see difference implementation in `bash` and `zsh`

for g

[2020-07-22 06:02] rufreakde commented on #227
Ah should have tried this from the start!
[code]
Works :)
Thank you very much.

[2020-07-22 06:02] #227 closed

[2020-07-23 02:44] tedteng opened #229 "increase stability of the existing ssh command"
**Describe the bug**
`gardenctl ssh` not stability when connecting AWS. most of time exit with an error
[code]

**To Reproduce**
 `gardenctl ssh nodename`

**Expected behavior**

**Screenshots**

**Gardenctl Version (please complete the following information):**
gardenctl:
		version     : v0.18.0
		build date  : 2020-07-13
		go version  : go1.14.3
		go compiler : gc
		platform    : darwin/amd64

*

[2020-07-23 02:44] tedteng commented on #229
/assign

[2020-07-23 02:53] neo-liang-sap opened #230 "add a verbosity flag for `gardenctl ssh`"
Per discussion in https://github.com/gardener/gardenctl/issues/208#issuecomment-660835724 one verbosity flag needs to be added for `gardenctl ssh`

[2020-07-23 02:53] neo-liang-sap commented on #230
/assign

[2020-07-23 03:02] tedteng commented on #208
PR for https://github.com/gardener/gardenctl/pull/231  @danielfoehrKn

[2020-07-23 03:12] neo-liang-sap commented on #230
/close
already included in https://github.com/gardener/gardenctl/pull/231

[2020-07-23 03:12] #230 closed

[2020-07-23 05:15] #229 closed

[2020-07-23 05:16] DockToFuture commented on #225
Can we close this issue? @vlvasilev

[2020-07-24 05:20] vlvasilev commented on #225
@DockToFuture yes

[2020-07-24 05:26] neo-liang-sap commented on #225
/close

[2020-07-24 05:26] #225 closed

[2020-07-27 14:46] petersutter opened #232 "Support Access Restrictions"
**What would you like to be added**:
`Gardenctl` should add support for access restrictions.
In case a shoot is flagged with an access restriction, `gardenctl` should notify /warn the operator before an operator accesses or starts with the troubleshooting and should inform about the access restriction.

**How it could be configured in gardenctl**
A simplified version of the dashboard configuration

[2020-07-27 15:23] neo-liang-sap commented on #232
/assign

[2020-07-28 02:08] neo-liang-sap commented on #232
Hi @petersutter ,

Thanks for submitting this, here's some of my implementation proposal:

1) My suggestion is that, i can directly check shoot configuration:

say after https://github.com/gardener/gardenctl/blob/master/pkg/cmd/target.go#L1008

i can get shoot annotations via `shoots[0].GetAnnotations()`, i can get shoot labels via `shoots[0].GetLabels()`

a) if `shoot annotation` contains `suppor

[2020-07-28 08:07] petersutter commented on #232
Hi @neo-liang-sap ,

sure 1) would be the straight forward and easiest approach. However, as you have already mentioned in 3) with `apj-access` / `usa-access` etc., there is a possibility for other access restrictions. The configuration that I have posted above is just an example. Another gardener community member could configure it completely different, even the keys could be different than `seed

[2020-07-28 14:07] wiegandf opened #233 "As non garden admin I am not able to target shoots"
**Describe the bug**
I am not an admin in this garden but wanted to use gardenctl to manage the shoots in my project. I can target my project, but not my shoots.

**To Reproduce**
Steps to reproduce the behavior:
1. Which target was set 'gardenctl get target'

[code]
2. Which command was entered [e.g. 'gardenctl show vpn-seed']
`gardenctl target shoot shoot-xyz`
3. What was the output of the comma

[2020-07-28 14:54] petersutter commented on #233
@DockToFuture I also requested this feature in the past but I think I haven't opened an issue for it and just asked you directly if this is possible with `gardenctl`. Would be nice to have also for the [vscode-gardener-tools](https://github.com/gardener/vscode-gardener-tools/) `gardenctl` integration

[2020-07-28 14:56] neo-liang-sap opened #234 "add verbose internal logging feature"
Per some discussion i will work on `verbose internal logging` feature for gardenctl.

Currently there's lots of `fmt.Println("xxxx")` across `gardenctl` project, the desired outcome would be sth like
[code]
to display different level of message, also there would be an global switch e.g. `gardenctl -v` to display `log.debug()`, in normally if `-v` is not specified only `log.info()` and `log.error()

[2020-07-28 14:57] neo-liang-sap commented on #234
/assign

[2020-07-29 01:00] tedteng commented on #233
/assign

[2020-07-29 01:13] neo-liang-sap commented on #232
Hi @petersutter , thanks for your previous comments, i totally agree.

Another question regarding the design logic:

Say `seed.gardener.cloud/eu-access` related warning msg is `upper` level message, and `eu-access-for-cluster-addons` / `eu-access-for-cluster-nodes` are lower level message.

If upper level msg will not show due to key/value not match , then lower level msg will neither show (despit

[2020-07-29 01:42] neo-liang-sap opened #235 "Export a script / file that can be sourced to provide the credentials for the native clients"
Per some discussion i'm opening this issue for `Export a script / file that can be sourced to provide the credentials for the native clients `

This is for `Add feature to the Infrastructure commands`

Say currently when operating against openstack  gardener shoot, we can use `gardenctl openstack xxxx`, the desired outcome of this issue is we can generate sth like `admin.rc` via some `gardenctl op

[2020-07-29 02:10] tedteng commented on #233
HI  @petersutter @DockToFuture  to achieve the goal, Can you help me identify is related with cluster role binding somewhere or depend on that the issue https://github.com/gardener/gardener/issues/1724 Thanks.

[2020-07-29 02:51] tedteng opened #236 "Use Gardener libraries for interacting with Hyperscalers"
**Describe the bug**

come from with colleagues yesterday one of a topic is calling native gardener function.
one example here the native gardener already supports create VM in AWS/GCP/az/OpenStack by providers.  It will be always updated base on different purpose day by day, eg, need to follow a security policy when creating VM or other compliance as needed. So calling directly from a native gard

[2020-07-29 02:54] tedteng commented on #236
/assign

[2020-07-29 03:14] neo-liang-sap commented on #235
/assign

[2020-07-29 09:03] petersutter commented on #233
Hi @tedteng afaik gardener/gardener#1724 is not related. Also it should not be necessary for `gardenctl` to list all shoots (cluster wide) when a project is on the target stack.

[2020-07-29 09:11] petersutter commented on #232
Hi @neo-liang-sap this is a good question.
If the `upper` level message is not shown (which means there is no key/value match), then also no `lower` level message should be shown (even if the key/value would match).

[2020-07-29 11:03] neo-liang-sap commented on #234
@danielfoehrKn @DockToFuture @plkokanov , my understanding correct? feel free add more points here as i'm extremely poor network during discussion so may miss sth here....

[2020-07-29 13:33] jfortin-sap commented on #235
/assign

[2020-07-29 13:40] jfortin-sap commented on #235
@DockToFuture What is the command arg you propose to generate the cloud provider creds?
gardenctl dump-creds? and it will be generated based on the shoot selected?

[2020-07-29 13:53] DockToFuture commented on #235
I would propose `gardenctl get creds`. Yes it would be based on the selected target.

[2020-07-30 06:47] neo-liang-sap commented on #232
Hello @petersutter , do we have any shoot cluster i can test against? e.g. some shoot in `dev` landscape
Thanks!
-Neo

[2020-07-30 07:52] petersutter commented on #232
Yes you can just modify the yaml. For new clusters, when you set the `spec.seedSelector.matchLabels` property of course it will have an affect on which seed the shoot is scheduled and if no seed has this label the shoot will stay in create pending state. However this does not matter if you just want to try it out. It won't break anything

[2020-07-31 02:22] tedteng opened #238 "fix ssh Operation timed out"
**Describe the bug**
SSH gardener@18.159.92.22 => gardener@ip-10-250-7-211.eu-central-1.compute.internal
Connection closed by 18.159.92.22 port 22

the SSH ConnectionAttempts retry seems scope on bastion => node , not user => bastion

**To Reproduce**
Steps to reproduce the behavior:
1.  'gardenctl ssh node'

**Expected behavior**

**Screenshots**
If applicable, add screenshots to help explain you

[2020-07-31 02:23] tedteng commented on #238
/assign

[2020-07-31 05:05] neo-liang-sap commented on #208
Hi @jfortin-sap , as after discussion we opened several sub-tasks to break down this issue, shall we close this central one or you would like to use this issue to track feature implementation?
/cc @tedteng @dansible
Thanks.
-Neo

[2020-07-31 06:24] #238 closed

[2020-07-31 08:56] neo-liang-sap commented on #232
Hi @petersutter / @DockToFuture

I met one issue which might need to upgrade `gardener/gardener` version of `gardenctl`.

When i was trying to get shoot labels which contains `seed.gardener.cloud/eu-access`, previous i was thinking `shoot.GetLabels()` would work but now i found `shoot.GetLables()` is getting `shoot.metadata.labels` but what i actually need is `shoot.spec.seedSelector.matchLabels`

[2020-07-31 09:11] petersutter commented on #232
I leave the answer up to @DockToFuture but I believe you need to update it

[2020-07-31 10:27] danielfoehrKn opened #240 "SSH unstable"
**Describe the bug**

I am unsuccessful in trying to use `gardenctl ssh` with the version from the master branch (has [latest commit included]()).

**To Reproduce**
 - on an AWS VM in region `eu-north-1` using instance type t3.xLarge

[code]
The command is hanging indefinitely because the internal command is not succeeding and no timeout is configured:

[code]

To make it worse, when killing the p

[2020-07-31 11:21] neo-liang-sap opened #241 "upgrade gardener/gardener version to at least v1.5.0 for gardenctl"
from discussion [here](https://github.com/gardener/gardenctl/issues/232#issuecomment-667014548) , currently in gardenctl the gardener version is v1.1.6, in issue https://github.com/gardener/gardenctl/issues/232 we need to utilize some api in gardener/gardener >= v1.5.0, so we need to upgrade g/g to at least v1.5.0 in gardenctl

[2020-07-31 13:26] jfortin-sap commented on #235
@DockToFuture I am having second thoughts about this feature. Security wise I think it's not a good idea that we store customer shoot creds on the local filesystem. I think it would be preferable to refactor the existing feature to simply execute the cloud provider cli with the credentials passed as arguments.

[2020-08-03 07:19] #241 closed

[2020-08-03 13:32] dansible commented on #240
Hi @danielfoehrKn it appears this issue has already been fixed in this PR: https://github.com/gardener/gardenctl/pull/239

Are you still having issues?

[2020-08-03 14:32] jfortin-sap commented on #235
Closing this ticket, and creating a new one to pass cloud provider creds as arguments (to avoid local fs storage)

[2020-08-03 15:01] #235 closed

[2020-08-03 15:05] neo-liang-sap opened #243 "[Security] Access cloud provider cli by passing creds as args (avoid local fs storage)"
this issue is follow up from https://github.com/gardener/gardenctl/issues/235 - we'd like to close original one and open a new one here.

We would consider security risk we if store cloud providers locally in a clear text file, the preferable method would be store them in memory.
Also we'd like to implement we can pass creds as args to gardenctl cli to access cloud provider resources.

[2020-08-03 15:06] neo-liang-sap commented on #243
@jfortin-sap , enjoy! feel free ping me regarding the description and i will edit it.

[2020-08-03 17:41] jfortin-sap commented on #243
@neo-liang-sap  @tedteng PR opened https://github.com/gardener/gardenctl/pull/244

[2020-08-04 00:52] tedteng commented on #240
/assign

[2020-08-04 01:18] tedteng commented on #240
Thanks for the feedback @danielfoehrKn  I will take a look. The ssh service in AWS EC2 sometimes as "BlackBox" the behavior unpredictable

[2020-08-04 05:26] neo-liang-sap commented on #234
will use github.com/gardener/gardener/pkg/logger in gardener, previously i was intend to use https://github.com/sirupsen/logrus then i found we have an wrapper for this mod ;)
in future we could use log like this
[code]

[2020-08-06 02:34] tedteng commented on #233
Hi @wiegandf Can you help me elaborate more information which make my environment more closer to your scenario.
in `~/.garden/config`  which kubeconfig file you are using, the one from My Account page or Service Accounts from Members page? thanks.

- name: dev
  kubeConfig: ~/clusters/dev/kubeconfig.yaml
- name: prod
  kubeConfig: ~/clusters/prod/kubeconfig.yaml

[2020-08-06 06:40] tedteng opened #248 "Node SSH security group enhance"
**Describe the bug**
Current, The Bastion Server only allows user's Public IP to access now.  shoot-node create security group open port 22 0.0.0.0/0 to allow Bastion Server access when using `gardenctl ssh`.

However, the SSH security group may remain in shoot-node when `gardenctl ssh` unexpected exit. which means no restriction to access shoot-node.

What about use Internal IP of Bastion Server

[2020-08-06 06:41] tedteng commented on #248
/kind/enhancement

[2020-08-06 06:42] tedteng commented on #248
Please leave the ticket un-assignee. I will check with @jfortin-sap

[2020-08-06 12:23] petersutter commented on #233
@tedteng it should behave the same if both have the same privileges (project admin) and ideally both scenarios should work

[2020-08-07 02:00] tedteng commented on #233
The verify Process here, let me know if I am missing something
~/.garden/config
[code]

[code]

[2020-08-07 12:33] dansible commented on #208
I think we can close this issue

[2020-08-07 12:33] neo-liang-sap commented on #208
/close

[2020-08-07 12:34] #208 closed

[2020-08-07 12:36] #240 closed

[2020-08-07 12:40] jfortin-sap commented on #248
@DockToFuture Thoughts here?

[2020-08-07 12:57] #234 closed

[2020-08-07 13:19] wwatson13 opened #251 "Gardenctl unable to target a seed with manually deployed gardenlet"
**Describe the bug**
When trying to target a seed where the gardenlet was manually deployed to an external cluster managed outside of gardener, gardenctl throws an error.

**To Reproduce**
Steps to reproduce the behavior:
1. Which target was set 'gardenctl get target' gardenctl --garden <value> --seed <value>
2. Which command was entered [e.g. 'gardenctl show vpn-seed']
3. What was the output of t

[2020-08-07 13:30] neo-liang-sap commented on #251
/assign

[2020-08-07 13:31] neo-liang-sap commented on #251
Hi @wwatson13 , i will ping me in private for this issue

[2020-08-07 16:03] jfortin-sap commented on #248
@tedteng I guess we are using 0.0.0.0/22 because we cannot determine the IP of the gardenctl client host. Maybe we can use the public IP gathered from "http://ifconfig.co"?

[2020-08-10 00:32] tedteng commented on #248
Take AWS as an example, SSH local => Bastion => Host node

Bastion security group already change to only allow Public IP access now.
https://github.com/gardener/gardenctl/blob/b7303bd65d5ac37c64c791e25f4fa4bf52eeaf90/pkg/cmd/ssh_aws.go#L179

on Host node which is port 22 and  0.0.0.0/0
https://github.com/gardener/gardenctl/blob/b7303bd65d5ac37c64c791e25f4fa4bf52eeaf90/pkg/cmd/ssh_aws.go#L184

I su

[2020-08-10 01:54] tedteng opened #252 "List orphaned resources"
**Describe the feature**
"unwanted" Infrastructure resource blocked the cluster deletion flow during the troubleshooting sometimes which also come from the latest discuss meeting `- usage e.g. gardenctl aws forceCleanupInfrastructure(String vpcId)`

what about use gardenctl  help us to check, list, and force cleanup which "unwanted" infrastructure resource blocked the process instead of using a co

[2020-08-10 01:57] tedteng commented on #252
/kind/enhancement

[2020-08-10 02:00] tedteng commented on #252
/kind/discussion

[2020-08-10 02:07] tedteng commented on #233
/needs/review

[2020-08-10 10:12] neo-liang-sap commented on #251
email communicated with @wwatson13 , as i can't reproduce this problem locally, meanwhile the seed `preprod-us-gov-west-1 ` is in restricted area/network hence can't provide access to me, pending customer internal discussion on how to proceed on this issue

[2020-08-10 21:34] jfortin-sap commented on #248
@tedteng I agree, working on it

[2020-08-10 21:34] jfortin-sap commented on #248
/assign

[2020-08-10 21:43] jfortin-sap commented on #252
@tedteng Maybe to keep it simple for this iteration we can simply write the force delete logic, and improve on it later. We also need to write the logic in the cloud provider extension and call it from gardenctl. What's your thoughts on this? Lastly, we can auto-detect what cloud provider to use based on the shoot targeted so I don't think we need to specify "aws" before the function.

[2020-08-11 00:07] tedteng commented on #252
no issues for me, we can simply write the force delete logic first.   the `aws` just an example, because we have az/gcp as well.  I am assuming the force delete logic compatible aws/az/gcp/ali

[2020-08-11 06:25] tedteng commented on #236
some updates,
As manual apply yaml testing, It seems workable use MCM.  I am able to create/delete the machine.

![image](https://user-images.githubusercontent.com/42234376/89864068-e1c10480-dbdd-11ea-93ab-5b6c0299c0ca.png)

however, the create/delete security group and Public IP not handled by MCM after checking with @prashanth26
besides, some Note provider from Prashanth

[code]
will continuing

[2020-08-11 06:35] tedteng commented on #233
as confirmed with @wiegandf he can target the shoot after patch the fixing for verifying.  but new issue leak of permission for `ssh`, `log`  after target shoot.  he will open a new ticket then I will working on that later.

[2020-08-11 06:39] tedteng commented on #233
/reviewed/do-not-merge

[2020-08-11 06:42] wiegandf opened #253 "As non garden admin I am not able to get logs or ssh into a node"
**Describe the bug**
I am not an admin in this garden but wanted to use gardenctl to manage the shoots in my project. With the fix in https://github.com/gardener/gardenctl/pull/249 I am able to target my shoot, but I can't do anything with it like ssh into a node or retrieving logs.

**To Reproduce**
Steps to reproduce the behavior:
1. Which target was set 'gardenctl get target'
[code]
2. Which co

[2020-08-11 06:43] wiegandf commented on #233
https://github.com/gardener/gardenctl/issues/253 for the lack of permissions to ssh into nodes in the shoot cluster + retrieving logs.

[2020-08-11 06:45] tedteng commented on #253
/assign

[2020-08-11 15:39] jfortin-sap commented on #248
@tedteng PR opened https://github.com/gardener/gardenctl/pull/254

[2020-08-11 20:58] jfortin-sap commented on #252
@tedteng How the flow would look like to implement forceCleanupInfrastructure(String vpcId)? We need to implement it in https://github.com/gardener/gardener-extension-provider-aws i suppose and call it from there?

[2020-08-12 19:55] jfortin-sap commented on #252
@tedteng @neo-liang-sap  Great, First I am going to attempt to call an existing example function in https://github.com/gardener/gardener-extension-provider-aws from "gardenctl forceDeleteShoot". If this works fine, I will create a PR for the extension provider.

[2020-08-13 05:51] tedteng commented on #253
Hi @petersutter, regarding `gardenctl ssh`,   I did some experiments ，as non-admin user can't get machine information due to lack of permission access seed. Do you have any idea is there any ways we can fetch the machine info?  Thanks

// fetch seed kubeonfig and list machines
https://github.com/gardener/gardenctl/blob/b7303bd65d5ac37c64c791e25f4fa4bf52eeaf90/pkg/cmd/ssh.go#L150-L160

// fetch see

[2020-08-13 09:45] vlerenc commented on #54
What are we doing with this ticket @DockToFuture?

[2020-08-13 09:47] danielfoehrKn opened #256 "Gardenctl does not open SSH port 22 in AWS"
**Describe the bug**
Gardenctl does not add the required inbound rule on the target ec2 instance on AWS.

**To Reproduce**

`gardenctl ssh <target-node-name>`

**Expected behavior**
Inbound rule opening port 22 in the security group of the target instance is added.

[code]

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Gardenctl Version (please complete the follow

[2020-08-13 10:30] DockToFuture commented on #54
We introduced the garden runtime secret in the past in https://github.wdf.sap.corp/kubernetes/landscape-setup/commit/e3416cd2c7ed05170e57a1903987bf7a5cc88c3c. We need to adapt `gardenctl` to make use of the runtime secrets. Therefore I will leave this ticket open and we might tackle it after the extension is done.

[2020-08-13 12:20] tedteng commented on #256
Hi Daniel, I can't reproduce it in region eu-north-1 (Stockholm). It seems all good.

![image](https://user-images.githubusercontent.com/42234376/90133549-4200a380-dda2-11ea-98e2-cdbb35b0c69f.png)
![image](https://user-images.githubusercontent.com/42234376/90133559-44fb9400-dda2-11ea-9761-4d45327b9a6d.png)

[2020-08-13 12:22] tedteng commented on #256
Hi Daniel, I can't reproduce it in region eu-north-1(Stockholm) It seems all good.

![image](https://user-images.githubusercontent.com/42234376/90133754-9c99ff80-dda2-11ea-8b80-e232efe806f7.png)
![image](https://user-images.githubusercontent.com/42234376/90133781-a58ad100-dda2-11ea-9fa1-fbfac29f5483.png)

[2020-08-13 12:45] danielfoehrKn commented on #256
I realised that in my local setup the infrastructure CRD was constantly reconciling, thus  it is constantly removing the security group.
Thanks.

[2020-08-13 12:45] #256 closed

[2020-08-13 13:57] #248 closed

[2020-08-13 13:57] #243 closed

[2020-08-17 01:00] tedteng opened #257 "Bastion host IP missing"
**Describe the bug**
Bastion IP missing which cause security group create failure.

[code]

**To Reproduce**
gardenctl ssh hostname

**Expected behavior**
gardenctl ssh bastion host

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Gardenctl Version (please complete the following information):**
 - Version/Commit [latest master]

**Additional context**
Add any other

[2020-08-17 01:00] tedteng commented on #257
/bug

[2020-08-17 01:04] tedteng commented on #257
revert PR https://github.com/gardener/gardenctl/pull/258

[2020-08-17 01:14] tedteng commented on #257
Hi @jfortin-sap  Please take a look. I think the line 67 want to create host security group, but the bastion IP generated at line 73. which cause the issue host security group failure due to a.bastion IP null in line 67
https://github.com/gardener/gardenctl/blob/a8dd668f063df995355d39a9f6cc6964c868f00a/pkg/cmd/ssh_aws.go#L66-L73

maybe move
https://github.com/gardener/gardenctl/blob/a8dd668f063df9

[2020-08-17 12:03] jfortin-sap commented on #257
@tedteng I see, I will fix

[2020-08-17 12:12] petersutter commented on #253
I'm not aware of any other way (without having access to the seed)
cc @prashanth26

[2020-08-17 12:26] jfortin-sap commented on #257
@tedteng I think it is an ordering issue and we should consider moving the function "a.createBastionHostSecurityGroup()" after a.createBastionHostInstance() because we can only retrieve the BastionIP once the instance is created.

[2020-08-17 12:42] tedteng commented on #253
Thanks. @petersutter and @prashanth26 let me know if there anywhere which I can reference the information.

so far the solution I working on is getting node from shoot kubeconfig, and use aws cli as well, to fetch necessary information from the cloud directly etc, instance id, security group id etc.

[2020-08-17 13:19] neo-liang-sap opened #259 "Add an option for Gardenctl to enable global log level"
In https://github.com/gardener/gardenctl/issues/234, gardenerLogger is introduced, the log level could be specified via:
[code]

We would like to check whether it is possible to add an option for gardenctl commandline e.g. `gardenctl -v=info` to specify globally the log level.

[2020-08-17 13:19] neo-liang-sap commented on #259
/assign

[2020-08-17 14:09] danielfoehrKn opened #260 "Cannot get shell to node if cluster is waking up"
**Describe the bug**

Cannot get shell to a node if the Shoot  is waking up.

**To Reproduce**
Steps to reproduce the behavior:
1. Which target was set 'gardenctl get target'
2. Which command was entered [e.g. 'gardenctl show vpn-seed']
3. What was the output of the command

1. Wake up a Shoot (not 100 % reconciled yet)
- Shoot.Spec.hibernation.enabled=false
- Shoot.Status.hibernated = true

2. Tr

[2020-08-17 14:59] jfortin-sap commented on #257
PR opened https://github.com/gardener/gardenctl/pull/261

[2020-08-17 14:59] jfortin-sap commented on #257
@tedteng  @neo-liang-sap  PR opened https://github.com/gardener/gardenctl/pull/261

[2020-08-17 15:06] jfortin-sap commented on #257
/assign

[2020-08-18 00:40] tedteng commented on #260
/assign
will have a look

[2020-08-18 06:41] danielfoehrKn commented on #260
Thanks!

[2020-08-18 07:57] tedteng commented on #260
sorry for later reply due to working on that issue today, The `gardenctl shell` will create pod then schedule to a certain node. that's mean it will highly depend on the Kubernetes cluster. If a node can't join the cluster, the pod will not schedule to that issue node to check kubelet log.  we have to use traditional way `gardenctl ssh` which use cloud client, eg `aws cli` interaction with cloud t

[2020-08-18 08:08] danielfoehrKn commented on #260
I think there are two use cases
 - waking up fails (but worker nodes already joined)
 - there are multiple worker pools with in my case different OS.
   One pool was unable to join but I wanted to get a shell to the health pool due to testing purposes. I see though that this is an edge case that I only needed due to testing.

Overall I think this is more of an edge case so I am open to close it fo

[2020-08-19 04:31] tedteng commented on #233
@petersutter @wiegandf welcome any feedback as PR https://github.com/gardener/gardenctl/pull/263

[2020-08-19 04:31] tedteng commented on #253
@petersutter @wiegandf welcome any feedback as PR https://github.com/gardener/gardenctl/pull/263

[2020-08-19 04:36] tedteng commented on #253
@wiegandf for `logs` it seems not able to access it due to that required seed permission as most of key pods (kube-api etc.) schedule in master node (Seed). You can't check pod log from Seed now. but you will have `ssh` feature at this point which allows you access your node to check system log eg kubelet log  if you need

[2020-08-19 18:32] jfortin-sap commented on #252
@tedteng @neo-liang-sap Spoke to @dansible and we think the initial idea is too bloated. WDYT if we keep it simple and implement"gardenctl infra orphan list" to list infra resources not tracked by terraform as a first iteration, then afterwards maybe we can implement "gardenctl infra orphan delete" to remove them automatically.

[2020-08-19 19:51] petersutter commented on #253
@tedteng just wanted to let you know that I'm currently reviewing the PR. Will continue with the review on friday (after my vacation tomorrow)

[2020-08-19 20:23] danielfoehrKn commented on #260
Closing this as there are more important issues to work on.
If we see more demands in this direction we can open it again.

/close

[2020-08-19 20:24] #260 closed

[2020-08-19 20:25] danielfoehrKn commented on #259
It would be nice if logging on the debug level would include verbose output for the `ssh` command itself (not only gardenctl ssh)

[2020-08-20 00:32] tedteng commented on #259
will take care of that. I already enable this in my local code will open PR for that.

[2020-08-20 01:20] tedteng commented on #259
@danielfoehrKn  Please have a look PR: check https://github.com/gardener/gardenctl/pull/264. I was also want to set the global flag before, but working on another allow non-operator ssh node ticket doesn't have time working on that. Base on the global flag concept,  two enhance in this PR.
1. ssh  Verbose mode

2. Error msg enhance
I try adopt `logger.Debugf` but not too much useful information as

[2020-08-20 01:33] #232 closed

[2020-08-20 01:39] #259 closed

[2020-08-20 02:17] tedteng opened #265 "It would be nice if logging on the debug level would include verbose output for the `ssh` command itself (not only gardenctl ssh)"
It would be nice if logging on the debug level would include verbose output for the `ssh` command itself (not only gardenctl ssh)

_Originally posted by @danielfoehrKn in https://github.com/gardener/gardenctl/issues/259#issuecomment-676657325_

[2020-08-20 02:18] tedteng commented on #265
@danielfoehrKn  Please have a look PR: check https://github.com/gardener/gardenctl/pull/264. I was also want to set the global flag before, but working on another ticket which allow non-operator ssh node via gardenctl, doesn't have time working on that. Base on the global flag concept,  two enhance in this PR.
1. ssh  Verbose mode
[code]

2. Error msg enhance
I try adopt `logger.Debugf` but not to

[2020-08-21 05:37] tedteng commented on #236
Currently, we use cloud clients to create VM,  if adopt Gardener libraries whether mean it highly depends on Garden status to create VM in hyperscalers?

[2020-08-21 05:45] tedteng commented on #265
/assign

[2020-08-21 13:12] petersutter opened #266 "Use go API instead of local command execution where possible"
In the code you often see stuff like
- `ExecCmdReturnOutput("bash", "-c", "curl <something>")`
- `ExecCmdReturnOutput("bash", "-c", "export KUBECONFIG="+currentConfig+"; kubectl <something>")`
etc.

Instead of using `curl` and `kubectl`, use go APIs where possible

[2020-08-21 14:25] petersutter opened #267 "Sanitize user input when executing local commands"
User input should be sanitized before local command execution, otherwise there is a possibility for command injection.

E.g. see this code
https://github.com/gardener/gardenctl/blob/3ff05d6244a4cc19d618a55037dfd0ac1b9b31b8/pkg/cmd/ssh_alicloud.go#L202

a.MyPublicIP is determined by calling an external service
https://github.com/gardener/gardenctl/blob/3ff05d6244a4cc19d618a55037dfd0ac1b9b31b8/pkg/c

[2020-08-24 01:25] tedteng opened #269 "remove getSeed from targetShoot"
**Describe the bug**
current `targetShoot` method mix with operation get seed information.

I think `target shoot` maybe only focus on pure shoot method?  During the code development and code review @petersutter and @dansible aware of this phenomenon as well.

so I am planning to move get seed out of targetShoot method eg start from L564.

It may be some history reasons or convenience (get seed lo

[2020-08-24 01:26] tedteng commented on #269
/kind/cleanup
/kind/discussion
/assign

[2020-08-24 02:02] neo-liang-sap commented on #269
see my comments in https://github.com/gardener/gardenctl/pull/270/commits/663bc2eac319070fbf1ffd002969c326b09d5cde#r475304808

[2020-08-24 02:04] neo-liang-sap commented on #251
/close
close as no response from customer for two weeks.
@wwatson13 feel free ping me when you can grant me access for your env to reproduce your problem, thanks!

[2020-08-24 02:04] #251 closed

[2020-08-24 02:10] tedteng opened #271 "This is not related to this PR, but should be improved (can be in a different PR):"
This is not related to this PR, but should be improved (can be in a different PR):
The if-else blocks in the middle of this function looks like a lot of duplicate code
[code]

_Originally posted by @petersutter in https://github.com/gardener/gardenctl/pull/263#r473270079_

[2020-08-24 02:11] tedteng commented on #271
/close as duplicated

[2020-08-24 02:11] #271 closed

[2020-08-24 02:12] tedteng commented on #269
https://github.com/gardener/gardenctl/pull/263#discussion_r473270079

[2020-08-24 08:30] petersutter commented on #269
somehow this link does not work for me, hence I copy the content here:

The if-else blocks in the middle of this function looks like a lot of duplicate code
[code]

[2020-08-24 11:05] tedteng commented on #257
/close as PR merge to master

[2020-08-24 11:05] #257 closed

[2020-08-24 13:20] dansible opened #272 "Allow creation of bastion using Worker YAML by default"
Follow up from https://github.com/gardener/gardenctl/issues/236, we would like to use the MCM by default to create the bastion worker resource. If the MCM is not available, we can keep the exiting hyperscaler VM creation as a backup (by using a flag like `gardenctl ssh <NODE> --hyperscaler`)

[2020-08-24 13:21] dansible commented on #236
Closing in favor of smaller scope issue: https://github.com/gardener/gardenctl/issues/272

[2020-08-24 13:30] dansible commented on #267
Some comments on this in a related issue: https://github.com/gardener/gardenctl/pull/263/files#r473192089

[2020-08-24 13:36] neo-liang-sap commented on #267
/unassign

unassign as:
- not started working yet, @jfortin-sap if you have more insight and availability on this feel free take it ;)
- pending other PRs , see comment above

[2020-08-24 13:38] dansible commented on #266
It may be good to evaluate how many times we are using curl/kubectl and evaluate if we need to split this into two tasks

[2020-08-24 13:56] #236 closed

[2020-08-25 01:58] neo-liang-sap opened #273 "refactor `ExecCmdReturnOutput` usage of `curl` to use API access"
This is a sub-issue for https://github.com/gardener/gardenctl/issues/266
the refactor of curl part will be logged here

`ExecCmdReturnOutput("bash", "-c", "curl <something>")`

[2020-08-25 01:58] neo-liang-sap commented on #266
i will work on `curl` part in https://github.com/gardener/gardenctl/issues/273

[2020-08-25 12:38] tedteng commented on #266
will working on `ExecCmdReturnOutput("bash", "-c", "export KUBECONFIG="+currentConfig+"; kubectl <something>")`
etc.

[2020-08-25 13:30] neo-liang-sap commented on #273
test
/invite @dansible

[2020-08-26 02:12] tedteng opened #275 "ipv4 check after get public IP"
**Describe the bug**
in some rare case public ip return ipv6.

[code]

**To Reproduce**
gardenctl ssh node

**Expected behavior**
ipv4 return

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Gardenctl Version (please complete the following information):**
 - Version/Commit [latest version]

**Additional context**
Add any other context about the problem here.

[2020-08-26 02:12] tedteng commented on #275
/assign

[2020-08-26 02:50] tedteng commented on #266
/assign

[2020-08-26 09:38] petersutter commented on #275
`aws ec2 authorize-security-group-ingress` should also work with ipv6 addresses according to the documentation, doesn't it? However the command slightly needs to be adapted in case of ipv6 addresses

[2020-08-26 11:21] tedteng commented on #275
sure not doubt that

[2020-08-26 19:57] jfortin-sap commented on #252
@tedteng  @neo-liang-sap PR opened https://github.com/gardener/gardenctl/pull/278

Usage:
go run ./cmd/gardenctl/main.go infra orphan list
(12) aws infra resources found: [vpc-0d62ce92ae70a2595 dopt-0ed0607052a170f0f subnet-0a3018d8725ce4a5a subnet-043a2f3b6305cd400 subnet-00200229c6231f6e8 sg-08c5a062596a9909c rtb-0f329835a7f9c5103 rtb-05ddd3cf5fc981e35 igw-07616a70668609fe3 nat-0cc6ccb5a12a162c7

[2020-08-26 19:59] jfortin-sap commented on #252
/review

[2020-08-27 00:45] tedteng commented on #252
@jfortin-sap  I did one testing, `infra orphan list` after creating one bastion. I expect it should be bastion t2.nano instance, security group for bastion and public IP for the bastion, security group ssh-access for node host.  Maybe I am on the wrong testing scenario. correct me if I missing thing.

![image](https://user-images.githubusercontent.com/42234376/91370479-0dc8c080-e841-11ea-80c9-4d31

[2020-08-27 04:34] tedteng opened #279 "bug target --server"
**Describe the bug**
[code]
[code]

not sure whether a bug if I add new kubeconfig under config, then always pick up my kubeocnfig instead of canary-virtual
[code]

**To Reproduce**
to reproduce target any other garden first. then use `--server`

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain you

[2020-08-27 05:58] neo-liang-sap commented on #279
not able to reproduce this bug locally, say i have a new config named `neo` under `staging`
![image](https://user-images.githubusercontent.com/42594392/91394243-06b7a780-e86d-11ea-862e-a1d6d3266656.png)

i can still target staging clusters via `gardenctl target --server xxxxx`

![image](https://user-images.githubusercontent.com/42594392/91394630-41b9db00-e86d-11ea-9a5f-e08ad5f22e94.png)

from your

[2020-08-27 07:45] tedteng commented on #273
/open

[2020-08-27 07:48] tedteng commented on #273
got some issue, not sure just in my local env.

gg ssh ip-10-250-6-9.eu-central-1.compute.internal

Warning:
Be aware that you are entering an untrusted environment!
Do not enter credentials or sensitive data within the ssh session that cluster owners should not have access to.

[code]
![image](https://user-images.githubusercontent.com/42234376/91412664-acbede00-e87c-11ea-9da3-5b7b34eca8e7.png)

[2020-08-27 08:01] neo-liang-sap commented on #273
Hi @petersutter , i think here we need to remove `url.QueryEscape()`.
if we have url.QueryEscape(), the url would be "https%3A%2F%2Fapi.ipify.org%3Fformat%3Dtext"
without url.QueryEscape(), the url would be "https://api.ipify.org?format=text", this is what we want

[2020-08-27 08:32] petersutter commented on #273
hi @neo-liang-sap yes see also my comment here https://github.com/gardener/gardenctl/pull/274/files#r478248871

[2020-08-27 08:36] #273 closed

[2020-08-27 08:44] petersutter commented on #275
I also don't know, maybe @DockToFuture knows.
But I guess it makes sense to add support for ipv6 if we don't already have it so that we do not `os.exit` in case it's not an ipv4 address as in #276

[code]

[2020-08-27 20:21] jfortin-sap commented on #252
@tedteng I will add a fix to collect the bastion resources by the tag "shoot--<shoot-tag>-bastions"

[2020-08-28 02:02] tedteng commented on #275
fixed, Please have a look and the testing result

![image](https://user-images.githubusercontent.com/42234376/91512779-5baef880-e915-11ea-8f1a-6959b2b4d776.png)

[2020-08-28 04:20] tedteng opened #281 "refactor `kubectl` use go APIs as possible"
**Describe the bug**
this is sub-issue for https://github.com/gardener/gardenctl/issues/266 , refactor [PR#263](https://github.com/gardener/gardenctl/pull/263) as discuss a few of `kubectl` need replace using go APIs as possible.

[code]

[2020-08-28 04:27] tedteng commented on #281
/assign

[2020-08-28 04:41] tedteng commented on #279
/close as not occur again.

[2020-08-28 06:50] tedteng commented on #281
will waiting https://github.com/gardener/gardenctl/pull/263 merge

[2020-08-28 12:08] neo-liang-sap commented on #12
@ialidzhikov , we went through historical comments of this issue and saw your last comment at  https://github.com/gardener/gardenctl/issues/12#issuecomment-503439134, is there any update on this or is this requirement still valid?
meanwhile i will open another issue to track whether it's possible to remove `--` from command line
Thanks
-Neo

[2020-08-28 12:19] neo-liang-sap commented on #32
lint check is done.
for tests:
- identify test cases we are missing
- whenever new code is introduced, the definition of done should also require test cases.

[2020-08-28 12:27] neo-liang-sap commented on #54
we will put this on hold until gardener ring is implemented

[2020-08-28 12:28] neo-liang-sap commented on #53
/close
close per discussion

[2020-08-28 12:28] #53 closed

[2020-08-28 12:33] neo-liang-sap commented on #90
/close
close as after discussion this could be achieved via providing a kubeconfig to operate against "plant resources"

[2020-08-28 12:33] #90 closed

[2020-08-28 12:35] neo-liang-sap commented on #32
/assign

[2020-08-28 12:48] neo-liang-sap opened #282 "investigate whether it's possible to remove `--` from gardenctl cli"
follow up from https://github.com/gardener/gardenctl/issues/12
will investigate whether it's possible to remove `--` from gardenctl cli

[2020-08-28 16:48] jfortin-sap commented on #252
PR opened https://github.com/gardener/gardenctl/pull/284

[2020-08-28 16:48] jfortin-sap commented on #252
@tedteng Fixed. It will detect if a bastion host is present.

[2020-08-28 21:26] ialidzhikov commented on #12
Some time ago I wanted to try out the kubectl approach as I see that gardenctl-like tools are all kubectl plugins. In general kubectl extensibility evolved much after gardenctl was out. I hope that with the kubectl plugin approach there will be a possibility to get some functionality for free - for example the cluster access, I assume that the framework has already functionality to check for the `

[2020-08-31 00:41] tedteng commented on #279
/open

[2020-08-31 00:42] tedteng commented on #279
It happened again
![image](https://user-images.githubusercontent.com/42234376/91673261-e423d800-eb65-11ea-8dce-08146a237544.png)

[2020-08-31 02:13] tedteng commented on #279
to reproduce target any other garden first. then use `--server`

[2020-08-31 03:07] neo-liang-sap commented on #279
again this didn't reproduce locally , please check my comments https://github.com/gardener/gardenctl/issues/279#issuecomment-681582210

The reason why i suggest this, `--server` function relies on dashboardUrl
![image](https://user-images.githubusercontent.com/42594392/91679133-06bfec00-eb7a-11ea-80bf-33ce7914f56d.png)

[2020-08-31 05:42] tedteng commented on #279
I think `dashboardUrl` is for `--dashboardUrl`  if I understanding correctly, not the case in here `--server`

Besides, the result is the same,  I think your testing scenario may be different from mine. but somehow I don't where.

![image](https://user-images.githubusercontent.com/42234376/91686182-32010600-eb8f-11ea-9098-b7690d468ecc.png)

[2020-08-31 05:50] neo-liang-sap commented on #279
yes you are right, dashboardUrl is for --dashboardUrl, server is for --server.
somehow still i can't reproduce this issue in my local env - following your steps (1) target any other garden, 2)use --server to target another shoot)
![image](https://user-images.githubusercontent.com/42594392/91686797-d6d01300-eb90-11ea-8def-d3794582f81d.png)

[2020-08-31 06:01] tedteng commented on #279
try 1) target your garden  first (kubeconfig use any cluster kubeconfig or SA kubeconfig)
2) then user --server to target any normal garden.

[2020-08-31 06:07] neo-liang-sap commented on #279
that's exactly what i did , in my screenshot. My suspicion is that in your step 1) you are targeting a `abnormal garden` which is not actually a `garden`, you are using a shoot kubeconfig or SA kubeconfig to fake a garden, if i understand correctly.
I'm not sure whether this is root cause and if it is , not sure whether this is valid bug

[2020-08-31 13:51] dansible commented on #192
Closing this issue in favor of https://github.com/gardener/gardenctl/issues/252

[2020-08-31 13:54] dansible commented on #54
Closing for now. When Gardener Ring is implemented, we can re-open or create a new issue

[2020-08-31 13:55] #54 closed

[2020-08-31 13:56] vpnachev commented on #192
I disagree. This one is opened for enhancement to prevent resource leakage, while #252 is about handling of already leaked resources which would have been unnecessary if resources do not leak.

[2020-08-31 21:08] jfortin-sap commented on #252
new PR opened to include function testing
https://github.com/gardener/gardenctl/pull/288

[2020-08-31 21:09] jfortin-sap commented on #252
@tedteng I created a new PR and included infra_test.go but having issues with it. Do you know what is missing for infra_test.go for me to call my function? It seems it can't find getOrphanInfraResources

[2020-09-01 01:06] tedteng commented on #252
will take a look

[2020-09-01 01:14] #233 closed

[2020-09-01 01:14] #253 closed

[2020-09-01 01:15] #275 closed

[2020-09-01 01:25] neo-liang-sap opened #289 "`gardenctl download tf infra` reports error when current stack is garden+seed+namespace"
**Describe the bug**
say we have current target stack:
[code]
the command `gardenctl download tf infra` will report following error:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Which target was set 'gardenctl get target'
[code]
2. Which command was entered [e.g. 'gardenctl show vpn-seed']
`gardenctl download tf infra`
3. What was the output of the command
`[signal SIGSEGV: segmen

[2020-09-01 01:52] neo-liang-sap commented on #289
similar error also exist in `gardenctl logs vpn-seed`, so fixing them together
[code]

[2020-09-01 02:39] tedteng opened #291 "fix Public IP to4 and to6 logic return not valid"
**Describe the bug**

![image](https://user-images.githubusercontent.com/42234376/91787914-8a8edc80-ec3d-11ea-8c3d-c13f7baa677d.png)

**To Reproduce**
Steps to reproduce the behavior:
`gardenctl ssh node`

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Gardenctl Version (please c

[2020-09-01 02:58] tedteng commented on #291
/assign

[2020-09-01 03:04] tedteng opened #294 "enhance user role able to access GCP host"
as latest PR https://github.com/gardener/gardenctl/pull/263, user role able to access aws now. enhance user role able to access GCP host. refactor ssh gcp as well

[2020-09-01 06:37] neo-liang-sap commented on #32
currently we have testing for following commands:
- `gardenctl drop`
- `gardenctl get`
- `gardenctl info`
- `gardenctl ls`
- `gardenctl shell`
- `gardenctl ssh`
- `gardenctl target`
- `gardenctl terraform`
- `utils`

[2020-09-01 09:12] Kristian-ZH opened #295 "gardenctl `aws|gcp...` rely that project will be targeted"
**Describe the bug**
`gardenctl` expects that project will be targeted in cmd/operate.go
https://github.com/gardener/gardenctl/blob/master/pkg/cmd/operate.go#L47

In this way if `gardenctl aws ...` is called and the Path to the shoot is constructed by using its seed, the command will fail with
[code]

**To Reproduce**
g target garden... -> g target seed... -> g target shoot ...

**Expected behavio

[2020-09-01 14:05] neo-liang-sap commented on #295
/assign

[2020-09-02 00:01] tedteng commented on #295
Hi @Kristian-ZH, to suitable `user` role able to access aws|gcp as well, I currently working on `operate.go` part.  If I understanding correctly, You want to target shoot first then `gardenctl aws` right.
something like
`gardenct -g canary-virtual -p project -t shoot`
then
`gardenctl aws`  ?

[2020-09-02 00:28] neo-liang-sap commented on #295
@Kristian-ZH is DOD and have same acccess/role with SRE, this issue has nothing to do with role, i'm currently work on it.

[2020-09-02 06:45] tedteng commented on #294
/assign

[2020-09-02 06:52] #295 closed

[2020-09-02 13:47] dansible opened #299 "No error message when cloud client is not present"
**Describe the bug**
When the cloud provider client is not installed, `gardenctl` should error to explain that it is missing. Currently it just exits silently

**To Reproduce**
Steps to reproduce the behavior:
1. Target a shoot
2. Make sure `aws | az | gcloud | openstack` is not installed
3. Run `gardenctl <aws|az|gcloud|openstack> -- --help`

**Expected behavior**
`gardenctl` should return with a

[2020-09-02 13:50] neo-liang-sap commented on #299
good catch! i will fix this!
/assign

[2020-09-03 02:03] neo-liang-sap opened #301 "github action - bug fix and improvement between g/gardenctl and g/homebrew-tap"
Week ago we had some discussion and collaboration between @neo-liang-sap @dansible @zanetworker @ccwienk on auto integration between g/gardenctl and g/homebrew-tap, i'm using this ticket to track issues and improvement for this github action:
- [ ] github action to auto build binaries of gardenctl
- [ ] to calculate sha256sum of these two binaries
- [ ] pass these two sha256sums to g/homebrew-tap

[2020-09-03 02:03] neo-liang-sap commented on #301
currently on it, will call a mtg to PoC or demo after done

[2020-09-03 05:46] tedteng opened #302 "enhance user role able to access Azure host"
as latest PR #263, user role able to access AWS now. enhance user role able to access GCP host. refactor ssh Azure as well

[2020-09-03 05:46] tedteng commented on #302
/assign

[2020-09-04 01:15] jfortin-sap commented on #252
@tedteng @neo-liang-sap PR https://github.com/gardener/gardenctl/pull/304 opened with AWS/Azure support, please test.

[2020-09-04 01:56] #301 closed

[2020-09-04 01:57] #291 closed

[2020-09-04 02:01] #289 closed

[2020-09-04 07:12] tedteng commented on #272
/assign
seems all `user` role part completed will working on this.

[2020-09-07 01:35] tedteng commented on #281
/close done

[2020-09-07 01:35] #281 closed

[2020-09-07 01:44] tedteng commented on #265
done
ssh verbose in AWS PR :https://github.com/gardener/gardenctl/pull/264
GCP: https://github.com/gardener/gardenctl/pull/297
AZURE: https://github.com/gardener/gardenctl/pull/305

[2020-09-07 09:33] #302 closed

[2020-09-07 09:34] #294 closed

[2020-09-07 13:39] neo-liang-sap opened #306 "add test case for `gardenctl download` command"
add test case for `gardenctl download` command

[2020-09-07 13:40] neo-liang-sap commented on #306
sub issue from https://github.com/gardener/gardenctl/issues/32

[2020-09-08 00:56] #299 closed

[2020-09-08 02:54] neo-liang-sap opened #307 "[refactor] remove deprecated `ReadTarget(pathTarget, &target)` and use `target := targetReader.ReadTarget(pathTarget)`"
there are lots of occurrence across the project while reading the target
[code]
however this method is deprecated
[code]
the recommend usage to read target is
1) pass a `TargetReader ` to any command
2) in the command, use following to read the target
[code]

[2020-09-08 02:55] neo-liang-sap commented on #307
will use this issue to track progress across project refactor

[2020-09-09 02:26] neo-liang-sap opened #309 "[refactor] limit user target stack to be prevented from `garden/seed/shoot` when user role is user"
see discussion from https://github.com/gardener/gardenctl/pull/308#discussion_r484738092
when user role is user, should not generate target file containing seed as user don't have seed information.
will refactor `target.go` to achieve this

[2020-09-09 07:41] #265 closed

[2020-09-09 07:42] #306 closed

[2020-09-14 06:16] tedteng commented on #279
/close the issue as the scenario may not suitable for either `user` role or `operator` role, unless mix they together.

[2020-09-14 06:16] #279 closed

[2020-09-14 06:18] tedteng commented on #267
/assign

[2020-09-14 06:34] tedteng commented on #272
after testing, from creating VM perspective The MCM fetching information from YAML [aws-class](https://github.com/gardener/machine-controller-manager/blob/master/kubernetes/machine_classes/aws-machine-class.yaml) and [machine.yaml](https://github.com/gardener/machine-controller-manager/blob/master/kubernetes/machine_objects/machine.yaml) using https://github.com/aws/aws-sdk-go as core code to mana

[2020-09-14 13:05] dansible commented on #272
closing as we are re-using the same methodology for creating the vms. The deletion process is already part of the ssh flow in gardenctl - no need to use mcm

[2020-09-14 13:05] #272 closed

[2020-09-15 02:20] neo-liang-sap commented on #282
/close
close per discussion as didn't find feasible solution and in low prioirty

[2020-09-15 02:20] #282 closed

[2020-09-15 06:05] schrodit opened #312 "Gardenctl ssh fails when targeting a non unique shoot name"
**Describe the bug**

Gardenctl is unable to ssh into a node if there are multiple shoots in one gardener instance with the same name.
When running `gardenctl ssh` on a shoot with a non unique name, gardenctl is unable to determine the correct context and tries to access the seed of the other shoot: `Error: stat /Users/xxx/.garden/cache/live/seeds/other-seed/kubeconfig.yaml: no such file or direct

[2020-09-15 06:59] tedteng commented on #312
/assign

[2020-09-15 07:03] tedteng commented on #312
how about if using `gardenctl -g garden -p project_name -t shoot`  ?

[2020-09-15 07:17] schrodit commented on #312
we tried that but with the same outcome.

[2020-09-15 07:18] tedteng commented on #312
thanks, I am checking on that.

[2020-09-15 07:57] tedteng commented on #312
@schrodit  fixed now If you need you can cheery-pick from the PR #315 to build it on local before we release the new version

[2020-09-16 03:12] tedteng commented on #269
to make sure the quality dependence auto test completed https://github.com/gardener/gardenctl/issues/32 before removing duplicate code in case any unknow issue.

[2020-09-16 03:27] neo-liang-sap commented on #269
cleaning duplicate code as comment is https://github.com/gardener/gardenctl/issues/269#issuecomment-678987072 is absolutely good and correct.

As discussed time and time again, please make sure `gardenctl target -g xxx -s xxx -t xxx` still working after this PR, this is admin function , see history discussion https://github.com/gardener/gardenctl/pull/270/commits/663bc2eac319070fbf1ffd002969c326b0

[2020-09-16 06:24] schrodit commented on #312
@tedteng thanks for the quick fix. Will try it out as soon as we need it again

[2020-09-16 06:43] #309 closed

[2020-09-21 01:07] tedteng commented on #269
/assign

[2020-09-21 02:47] tedteng commented on #32
[code]

The test case result very hard to identify which test case failure.

[2020-09-21 05:53] neo-liang-sap commented on #307
some of the old method has been refactored, some didn't due to limitations (the new method needs a TargetReader injection and not suits for all occasion e.g. target.go)
/close

[2020-09-21 05:53] #307 closed

[2020-09-21 11:47] dansible opened #320 "Enable `gardenctl logs gardenlet`"
It would be great if we could get the logs of the gardenlet component (operator only) using `gardenctl logs`

[2020-09-21 14:08] tedteng commented on #320
/assign

[2020-09-21 15:25] petersutter commented on #267
/reopen

is every occurence really fixed now?

[code]
the `ExecCmd` function should not be called with a cmd string and instead the caller should pass the name and arguments directly for `exec.Command`, otherwise an attacker could sneak in arguments

[2020-09-22 06:41] neo-liang-sap commented on #320
Hi @tedteng , have you ever begin working on this issue? currently i see you have three issues opening (except this one) and two PRs ongoing (one of them in draft), as we discussed before in planning mtg, it would be much better to keep an issue unassigned unless you started working on this, hence other people with availability / bandwidth could work on this.
what do you think?
cc @dansible @jfort

[2020-09-22 06:50] neo-liang-sap opened #322 "gardenctl ssh returns `Error parsing parameter '--filters': Expected: '=', received: 'EOF' for input:` for AWS shoot cluster"
**Describe the bug**
say we have a sample AWS cluster
use gardenctl ssh to one of the node
![image](https://user-images.githubusercontent.com/42594392/93851391-9c1a5000-fce2-11ea-8615-ad2fea5fd6cc.png)

**To Reproduce**
Steps to reproduce the behavior:
1. Which target was set 'gardenctl get target'
[code]
2. Which command was entered [e.g. 'gardenctl show vpn-seed']
`gardenctl ssh ip-10-250-27-0.e

[2020-09-22 06:55] tedteng commented on #320
yes just working on that today.

Three issues opening (except this one) and two PRs ongoing (one of them in draft),
for those two issue tickets one under review status, one dependence the ticket which under review (some new method need using)

I think the two PRs ongoing you mention, one is draft which belong is the dependence ticket, and another one is ticket under review status.

[2020-09-22 07:03] tedteng commented on #320
besides, I think we also have new issue open on the epic you can take a look if you are interesting.
https://github.com/gardener/gardenctl/issues/267#issuecomment-696187590

[2020-09-22 07:10] neo-liang-sap commented on #320
i see in this issue you are assignee - if you don't plan to continue work on this , could you please change it to unassign? this might be confusing for other people to know whether you are still workin on this

[2020-09-22 07:21] neo-liang-sap opened #323 "[EPIC] santize user input in `ExecCmd ` function"
see discussion in https://github.com/gardener/gardenctl/issues/267#issuecomment-696187590

I will use this issue to track all `ExecCmd` refactor work, and will list files i refactored here (to be appended as i'm continue working)

[code]

[2020-09-22 07:26] tedteng commented on #320
sure, np. The issue reopens yesterday. Like me carete the ticket. you can assign it.

[2020-09-22 07:30] tedteng opened #325 "Sanitize user input in download.go"
**Describe the bug**

Sanitize user input when executing local commands as much as possible

This is one of sub-task for ticket https://github.com/gardener/gardenctl/issues/267

[2020-09-22 07:31] neo-liang-sap commented on #323
- [ ]  `drop.go` - https://github.com/gardener/gardenctl/pull/324

[2020-09-22 07:32] tedteng opened #326 "Sanitize user input in logs.go"
**Describe the bug**

Sanitize user input when executing local commands as much as possible

This is one of the sub-task for ticket https://github.com/gardener/gardenctl/issues/267

[2020-09-22 07:33] tedteng opened #327 "Sanitize user input in drop.go"
**Describe the bug**

Sanitize user input when executing local commands as much as possible

This is one of the sub-task for ticket https://github.com/gardener/gardenctl/issues/267

[2020-09-22 07:34] tedteng opened #328 "Sanitize user input in ls.go & operate.go"
**Describe the bug**

Sanitize user input when executing local commands as much as possible

This is one of the sub-task for ticket https://github.com/gardener/gardenctl/issues/267

[2020-09-22 07:35] neo-liang-sap commented on #327
duplicate with my PR https://github.com/gardener/gardenctl/pull/324

[2020-09-22 07:36] tedteng opened #329 "Sanitize user input in ssh_alicloud.go"
**Describe the bug**

Sanitize user input when executing local commands as much as possible

This is one of the sub-task for ticket https://github.com/gardener/gardenctl/issues/267

[2020-09-22 07:38] tedteng commented on #267
/epic Please do not close this ticket which as epic ticket tracking all the sub-tasks.

[2020-09-22 07:46] tedteng commented on #327
I think this ticket is more about sanitize `bash -c`

and the issue ticket you are working is seems more about refacot the `ExecCmd` function itself , but you can check with Peter for more information.

`ExecCmd should not be called with a cmd string and instead the caller should pass the name and arguments directly for exec.Command, otherwise an attacker could sneak in arguments`

[2020-09-22 07:50] neo-liang-sap commented on #327
totally not getting your point, for my PR i'm refactoring `ExecCmdReturnOutput` in drop.go

[2020-09-22 07:56] tedteng commented on #327
so you are not working on refactor ExecCmd function right  https://github.com/gardener/gardenctl/issues/267#issuecomment-696187590.  I will create new issue ticket for that

[2020-09-22 08:05] neo-liang-sap commented on #323
close this issue as @tedteng has built many sub issue to track this
i will track my work and effort in different PR (each PR for one refactor)
/close

[2020-09-22 08:06] #323 closed

[2020-09-22 08:13] neo-liang-sap opened #330 "getRole() function is not returning correct role"
**Describe the bug**
i'm admin in both landscapes (sorry i can't say the names here but ping me in private to get the names)
but getRole() function returns i'm `user`

**To Reproduce**
Steps to reproduce the behavior:
1. insert fmt.Println(getRole()) in `target.go`, `targetShoot` function
2. build the gardenctl
3.target some shoot
![image](https://user-images.githubusercontent.com/42594392/9385816

[2020-09-22 09:31] neo-liang-sap commented on #327
/close
as pr merged

[2020-09-22 09:31] #327 closed

[2020-09-22 09:38] petersutter commented on #330
@neo-liang-sap when you target the garden cluster and run `kubectl auth can-i get secrets`, what is returned?

[2020-09-22 09:41] neo-liang-sap commented on #330
Hi @petersutter , thanks for comments, i got `yes` in both env
![image](https://user-images.githubusercontent.com/42594392/93866852-cd9f1580-fcfa-11ea-92cf-4a62cc623bfc.png)

[2020-09-22 09:45] neo-liang-sap opened #333 "Santize user input in show.go"
sub issue from https://github.com/gardener/gardenctl/issues/267
Santize `ExecCmdReturnOutput` in `show.go`

[2020-09-22 11:27] petersutter commented on #330
can you debug the getRole function?

[code]

what are the values of
- `ssar.Status.Denied`
- `ssar.Status.Reason`
- `ssar.Status.EvaluationError`
- `ssar.Status.Allowed` is obviously false..

[2020-09-22 11:46] neo-liang-sap commented on #330
Hi @petersutter , i add debug information in getRole() and here's return
![image](https://user-images.githubusercontent.com/42594392/93878164-2fb44680-fd0c-11ea-937e-804c4a019ff8.png)
`ssar.Status.Reason` and `ssar.Status.EvaluationError` are empty

Here's code snippet i used in getRole() to get these values
[code]

[2020-09-22 11:59] petersutter commented on #330
Can you figure out if really the correct kubeconfig is used.
`clientset, err := target.K8SClientToKind("garden")`

E.g. print out `pathToKubeconfig` (somewhere deep in `target.K8SClientToKind("garden")`). Then use this kubeconfig to for your local kubectl and run the command from above again.

[2020-09-22 12:22] neo-liang-sap commented on #330
Hi @petersutter ,
I tried to print `pathToKubeconfig ` in `target.K8SClientToKind("garden")` but it seems to be an empty string "".
I step into `target.K8SClientToKind()` and in `clientToTarget` i print out the `[]byte kubeconfig`, the value is the centralized kubeconfig with OIDC enabled (Donka sent an email to everyone for the content, i can't share the content here but i believe definitely you

[2020-09-22 13:06] neo-liang-sap commented on #330
in offline discussion with @petersutter

[2020-09-22 13:32] tedteng commented on #330
It seems no issue in my place.  It return operator

![image](https://user-images.githubusercontent.com/42234376/93888800-0cdd5e80-fd1b-11ea-9083-72e193c70a6c.png)

[2020-09-22 13:44] neo-liang-sap commented on #330
@tedteng , what's your content of /Users/ixxxx/gardener_kubeconfig/canary/garden-gke/kubeconfig? is this the centralized one with OIDC enabled (sent by Donka) or the traditional one (before OIDC enabled)?
i believe yours is the old one because if you are using the new one, you will have to `gardenctl target canary`, not `gardenctl target canary-virtual`
FYI i had a half hour screensharing debuging

[2020-09-22 13:46] petersutter commented on #330
I could reproduce it, it has indeed something to do with the oidc configuration in the kubeconfig

[2020-09-22 13:48] tedteng commented on #330
sure, Thanks guys, so the issue will not related with getRole() right ?

[2020-09-22 13:51] neo-liang-sap commented on #330
it definitely related to getRole() - OIDC has been force enabled for quite a long time and getRole() is not working under OIDC env

[2020-09-22 14:38] neo-liang-sap commented on #333
/close
as https://github.com/gardener/gardenctl/pull/334 merged

[2020-09-22 14:38] #333 closed

[2020-09-22 14:40] neo-liang-sap opened #336 "using traits to trigger auto update for https://github.com/gardener/ops-toolbelt/"
each gardenctl release , the version number of https://github.com/gardener/ops-toolbelt/blob/master/dockerfile-configs/gardenctl-components.yaml#L22 needs to be updated.
will investigate this issue to use traits to trigger auto update for https://github.com/gardener/ops-toolbelt/

[2020-09-22 14:41] #330 closed

[2020-09-22 17:56] petersutter commented on #336
@neo-liang-sap updating ops-toolbelt once a new gardenctl release is done should already be possible with https://gardener.github.io/cc-utils/traits/update_component_deps.html (using `Upgrade Pull Requests`). In case you have questions you can also ping the cc-utils maintainers

[2020-09-23 03:03] neo-liang-sap commented on #322
@tedteng @jfortin-sap Hello, could any of you take a look at this issue when available?

[2020-09-23 03:04] #320 closed

[2020-09-23 03:14] neo-liang-sap commented on #252
Hi @jfortin-sap , i merged https://github.com/gardener/gardenctl/pull/304 and CI reports error
[code]

so i reverted your PR in https://github.com/gardener/gardenctl/pull/337

Could you please take a look at this PR again when available?
Thanks

[2020-09-23 03:33] neo-liang-sap commented on #336
thanks @petersutter , i never know this before, i reached @AndreasBurger offline in email to know more details.

[2020-09-23 06:55] neo-liang-sap commented on #322
Hi @tedteng ,
I did a step-by-step debug on this issue, with latest code from master branch , when `gardenctl ssh` the error is
[code]

From my debuging the error pops up from `getTechinicalID` in https://github.com/gardener/gardenctl/blob/master/pkg/cmd/miscellaneous.go#L361

As i saw you have an opening PR to refactor `getTechinicalID` in https://github.com/gardener/gardenctl/pull/319 , i'm not

[2020-09-23 08:03] petersutter commented on #322
I think this should be fixed with the new refactoring.. ( to be verified :) )

[2020-09-23 11:42] tedteng commented on #322
Haven't got the time to check today, will fix take look the new refactoring. but as an alternative you can use `-p -t `which without any issues to ssh.

![image](https://user-images.githubusercontent.com/42234376/94007876-a9b00280-fdd4-11ea-90a6-c2bd5dcced5f.png)

[2020-09-23 13:47] dansible opened #338 "Add node tolerations for gardenctl shell"
When nodes have specific taints, `gardenctl shell` is not able to schedule a pod on those nodes. We would like to add generic tolerations that will allow the pod to run on any node

See the toolbelt hack for info: https://github.com/gardener/ops-toolbelt/blob/master/hacks/ops-pod

Once this is added, it would be great if we can remove the `ops-toolbelt` script so that we aren't duplicating code

[2020-09-23 13:51] dansible opened #339 "Allow specifying log verbosity using gardenctl logs"
It would be great if we can specify different verbosity levels for `gardenctl logs` for each component (`info|warn|error`) so that only those logs are shown for each sub component

[2020-09-23 14:08] neo-liang-sap commented on #322
![image](https://user-images.githubusercontent.com/42594392/94022883-239db700-fde8-11ea-9a31-c4546ff63e1d.png)
![image](https://user-images.githubusercontent.com/42594392/94022921-30220f80-fde8-11ea-8a8a-3d85ad422d79.png)
Hi @tedteng ,

it's not working in `gardenctl target -g xxx -p xxx -t xxx` as in the screenshot.

The reason why your environment is working is that you are not using kubeconfig

[2020-09-23 14:16] neo-liang-sap commented on #338
/assign
i will work on this one

[2020-09-23 18:43] dansible opened #341 "Remove support for elasticsearch logs"
As Gardener is now using Loki for logs it no longer requires elasticsearch. We would like to remove the elasticsearch functions from `gardenctl logs`

https://github.com/gardener/gardenctl/blob/master/pkg/cmd/logs.go

[2020-09-24 01:49] neo-liang-sap commented on #341
/assign

[2020-09-24 03:48] tedteng commented on #322
Hi @neo-liang-sap after investigation

1) The issues not related to `getTechinicalID` , and the task about rerfacting https://github.com/gardener/gardenctl/pull/319 either which @petersutter and I working on. also OIDC or non-OIDC(old way) either. The OIDC enable only for operator to access landscape so far. and the kubeconfig for SA  or kubeconfig for customer cluster still using non-OIDC so far.

[2020-09-24 03:48] tedteng commented on #322
/assign

[2020-09-24 04:39] neo-liang-sap commented on #322
Hi @tedteng

1.

I didn't get your point here,  in comment https://github.com/gardener/gardenctl/issues/322#issuecomment-697172031 i proves the error comes up from `getTehinicalID`.

In https://github.com/gardener/gardenctl/issues/322#issuecomment-697309084 SSH is working in your environment (old kubeconfig approach without OIDC) and is **NOT** working in OIDC kubeconfigs https://github.com/garden

[2020-09-24 05:27] tedteng commented on #322
To simple answer your question,  firstly as I showing the snapshot the `gardenctl` version v0.21 which I use . In that code there no anything related `getTehinicalID` or other new features we developing now. If we are rollback everything, it will back to version v.0.21 code which most of people use or below this version currently.
You can get more infromation from release notes https://github.com/

[2020-09-24 05:34] neo-liang-sap commented on #322
in this issue description i clearly stated that i found this issue in following git commit, and this git commit contains `getTehinicalID`
i don't see any reason why you try to reproduce this problem in v0.21.0
![image](https://user-images.githubusercontent.com/42594392/94104890-b848f900-fe6a-11ea-9fb1-5892e14400ba.png)

[2020-09-24 05:44] tedteng commented on #322
to avoid disturbing code, I am using v0.21.0 to investgation. The issue that occurred in v0.21.0 will definitely impact the version after right, if not fixed.

[2020-09-24 07:00] tedteng commented on #322
PR for a quick fix https://github.com/gardener/gardenctl/pull/344

[2020-09-24 07:08] neo-liang-sap commented on #322
see my comments in https://github.com/gardener/gardenctl/pull/344

[2020-09-24 15:38] dansible opened #345 "Add `gardenctl logs all` target"
It would be great if we could add a `gardenctl logs all` target that gathers logs for all components in a specified period (`10m` by default?) and downloads them to a folder.

[2020-09-24 15:42] dansible opened #346 "Allow users to view logs for components on seed"
With Loki, we should be able to allow non-operators to access the logs of the seed components by querying loki directly. This should be the default method for getting logs to standardize the operation for both admins and regular users

https://github.com/gardener/gardenctl/blob/58485f94bb9a4bc95f51039f2ba6e2829f0d1e6c/pkg/cmd/logs.go#L323

[2020-09-25 08:51] tedteng opened #347 "replace target.Target[index].Name"
base on issues https://github.com/gardener/gardenctl/pull/319#discussion_r494179780 . this is one of following tasks to remove  replace all occurences of target.Target[index].Name
[code]

[2020-09-25 08:54] tedteng opened #348 "remove showKibana from show.go"
**Describe the bug**
remove showKibana from show.go as not use anymore

[2020-09-25 10:25] #341 closed

[2020-09-25 11:54] petersutter commented on #347
In addition: replace checks like len(target.Target) == integer with more descriptive getters

Example:
[code]

instead, something like
[code]
makes the code more readable

There are a lot of such occurrences
<img width="722" alt="Screenshot 2020-09-25 at 13 53 12" src="https://user-images.githubusercontent.com/5526658/94264149-7b4a3880-ff36-11ea-8c9c-c159e6e2f175.png">

[2020-09-25 11:55] tedteng opened #350 "show alertmanager not working"
`show alertmanger` not working but not sure whether still needed?

"The code in here maybe lack of maintenance, I found the alert manager is not working.

k get ingress -n shoot--i333878--aws-users-role -o name
ingress.extensions/dashboard-terminal-kube-apiserver
ingress.extensions/grafana-operators
ingress.extensions/grafana-users
ingress.extensions/prometheus"

_Originally posted by @tedteng in

[2020-09-28 01:53] tedteng opened #352 "ExecCmd function refactor"
/reopen

is every occurence really fixed now?

[code]
the `ExecCmd` function should not be called with a cmd string and instead the caller should pass the name and arguments directly for `exec.Command`, otherwise an attacker could sneak in arguments

_Originally posted by @petersutter in https://github.com/gardener/gardenctl/issues/267#issuecomment-696187590_

[2020-09-28 07:43] tedteng opened #354 "enhance SSH feature avoid oidc disturb msg"
**Describe the bug**

The implement PR https://github.com/gardener/gardenctl/pull/221 block SSH feature since start from gardenctl v19,v21. v22(master)

So far the impcat we can aware of is SSH feature, not sure others. if the user use SSH feature with ODIC, it will break SSH feature which not able to access host.
![image](https://user-images.githubusercontent.com/42234376/94404014-e26b2580-01a0-1

[2020-09-28 07:45] tedteng commented on #322
PR https://github.com/gardener/gardenctl/pull/353 for rollbak change getTechnical in SSH
new ticket enhanced SSH avoid disturb msg from oidc https://github.com/gardener/gardenctl/issues/354

[2020-09-28 07:46] tedteng commented on #354
I am working on AWS currently

[2020-09-28 10:16] petersutter commented on #322
see my comment in https://github.com/gardener/gardenctl/pull/353#pullrequestreview-497314399

The fact that when something is printed to std.out by gardenctl will break something else should ring a bell.
As I stated before in my reviews it's always a good idea to question they way something was implemented in the past: do NOT use this pattern to get the output of the called binary

[code]

Simply,

[2020-09-28 18:23] jguipi opened #355 "Enable `gardenctl logs vpn-seed`"
Enable the logs of the vpn-seed

[2020-09-28 18:36] jguipi commented on #355
/assign

[2020-09-28 20:16] jguipi opened #358 "Enable `gardenctl logs vpn-shoot`"
Enable `gardenctl logs vpn-shoot`

[2020-09-28 20:16] jguipi commented on #358
/assign

[2020-09-29 01:04] #348 closed

[2020-09-29 01:56] tedteng commented on #322
`operate("aws", arguments)`  loading kubeconfig the fetch config and credentials from the garden. which caused the issue. This method use config and credentials executed the aws/gcp/azure/alicloud cli.  we can also bring value return refactoring the `operate` method directly which I currently working.  https://github.com/gardener/gardenctl/issues/354

yes I definitely like the idea about `github.c

[2020-09-29 07:41] tedteng commented on #354
During the refactoring operate method also lead to ExecCmd. which we have another issue https://github.com/gardener/gardenctl/issues/352.
I will not use ExecCmd in operate.go , refactoring `case aws`  in draft PR. continue refactoring ssh_aws.go

[2020-09-29 08:05] petersutter commented on #322
But it's not the real root cause. It's the fact that the output is captured for some time instead of calling the binary and getting the output directly from `exec.Command`.

I'm not sure on what you are exactly working on in #354 but I hope it's not working around the `capture()` `captured()` pattern.

You want to run a regexp on the captured output to remove the warning message? Why are you think

[2020-09-29 09:54] tedteng commented on #322
I think there are some misunderstandings here. as mention https://github.com/gardener/gardenctl/issues/354. I am refactoring `operate` method to return the exec.Command output and take care error handling in this method as well. In ssh_aws.go it will look like this after refactoring
[code]

and for regexp part. I am more thinking about this regexp each Aws Instance Attribute individually eg.
[code

[2020-09-30 06:41] tedteng commented on #269
recently we have a lot of change and new methods add in from #319 , put on hold

[2020-09-30 06:49] tedteng commented on #322
/unassing it as nothing related to this ticket after the root cause has been found. more information refactoring will in the ticket #354

[2020-10-01 12:14] dansible commented on #252
Reopening to track remaining work for Openstack and Alicloud

[2020-10-05 13:57] jfortin-sap commented on #252
Openstack and Alicloud PR's merged

[2020-10-05 13:58] jfortin-sap commented on #252
OpenStack and Alicloud support PRs submitted.

[2020-10-06 11:49] #252 closed

[2020-10-07 00:32] neo-liang-sap commented on #252
This issue is closed due to merge of https://github.com/gardener/gardenctl/pull/367 , i think all cloud providers are supported? Apology if i close this by mistake, @dansible @jfortin-sap
thanks!

[2020-10-07 06:26] tedteng commented on #354
I am planning work on GCP

[2020-10-07 08:50] neo-liang-sap commented on #312
/reopen

[2020-10-08 07:53] #312 closed

[2020-10-08 08:07] tedteng commented on #354
AWS, GCP, Azure all done and pass. will verify `aliyun` and `openstack` whether had impacted due to operte.go refactoring.

[code]

[2020-10-09 01:22] tedteng opened #372 "alicloud ssh key not accessible"
**Describe the bug**
[code]

**To Reproduce**
Steps to reproduce the behavior:
ssh alinode

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Gardenctl Version (please complete the following information):**
gardenctl:
                version     : v0.21.0
                build date

[2020-10-09 02:22] tedteng opened #373 "SSH openstack nodes failure"
**Describe the bug**

According to the information from DOD

``Could not make SSH connection to nodes due to sgs enforced policies. This has an impact on how/which issues we can debug, should access to node is required to proceed.``

Meanwhile, I met this issue when I access openstack nodes as well
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Which target was set 'gardenctl get tar

[2020-10-09 02:33] tedteng commented on #354
I think the ticker ready review as https://github.com/gardener/gardenctl/issues/373 openstack not able to ssh and alicloud failure ssh either.  https://github.com/gardener/gardenctl/issues/372.
So far AWS, GCP, Azure all good ssh after refactor

[2020-10-09 02:50] tedteng commented on #347
- [ ] miscellaneous.go

[2020-10-12 00:50] #358 closed

[2020-10-12 00:50] #355 closed

[2020-10-12 00:52] #354 closed

[2020-10-12 02:49] neo-liang-sap commented on #372
/assign

[2020-10-12 02:50] neo-liang-sap commented on #372
[code]
actually the key is /Users/i352986/.garden/cache/canary/projects/garden/alicloud-eu1/key,  missing a `/`
will investigate why key for alicloud missing a `/` in path

[2020-10-12 05:19] neo-liang-sap commented on #338
i checked ops-pod source code file https://github.com/gardener/ops-toolbelt/blob/master/hacks/ops-pod#L121-L124
in `gardenctl shell` we already have similar tolerations https://github.com/gardener/gardenctl/blob/master/pkg/cmd/shell.go#L227-L233
so this issue is already code ready?
@dansible

[2020-10-12 05:22] neo-liang-sap commented on #322
/close as fix included in https://github.com/gardener/gardenctl/issues/354 and https://github.com/gardener/gardenctl/pull/368

[2020-10-12 05:22] #322 closed

[2020-10-12 06:59] tedteng commented on #372
I think there two issues in alicloud, but I don't have time to check ssh issue deeply at that time when I open the issue.
one is `\` missing and another is ssh connection failure.
[code]

issue one
[code]
issue two
[code]

[2020-10-12 07:04] neo-liang-sap opened #379 "gardenctl ssh alicloud node returns timed out issue"
**Describe the bug**

gardenctl ssh alicloud node returns timed out issue
see discussion in https://github.com/gardener/gardenctl/issues/372#issuecomment-706915929

**To Reproduce**
gardenctl ssh to a alicloud node

**Expected behavior**
gardenctl ssh to alicloud should success

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Gardenctl Version (please complete the f

[2020-10-12 07:04] neo-liang-sap commented on #372
yes you are absolutely right, i opened https://github.com/gardener/gardenctl/issues/379 to track your issue two, thanks for reminding!

[2020-10-12 08:35] neo-liang-sap commented on #379
/assign

The security group is not created at all

[code]

from aliyun cli
[code]

[2020-10-13 11:39] andrei-panov opened #381 "printout namespaces with api call instead of kubectl call"
Replace this method https://github.com/gardener/gardenctl/blob/master/pkg/cmd/ls.go#L349-L356 with API call.

Related to https://github.com/gardener/gardenctl/issues/266

[2020-10-13 11:40] andrei-panov commented on #381
/assign

[2020-10-13 13:25] #372 closed

[2020-10-13 13:26] #379 closed

[2020-10-14 01:15] tedteng commented on #373
Thanks, for verify again, I think the issue which I occured due to LB network unstable issue from the openstack side last week.  Maybe we can close the ticket

[2020-10-14 05:18] neo-liang-sap commented on #373
/close

[2020-10-14 05:18] #373 closed

[2020-10-14 14:02] dansible opened #383 "Implement gardenctl ssh for openstack"
We would like to implement support for `gardenctl ssh` to openstack nodes in the same way as the other cloud providers are configured
https://github.com/gardener/gardenctl/blob/d31cfb2632d5ed0ffececd05f96f2c54762af631/pkg/cmd/ssh.go#L99

[2020-10-15 02:03] neo-liang-sap commented on #383
/assign

[2020-10-15 11:46] dansible commented on #338
Is it possible to add a more generic toleration for all nodes that have `NoSchedule`/`NoExecute` effects regardless of key? ie:

from:
[code]

to:
[code]

[2020-10-15 11:47] dansible commented on #338
If not, then yes, let's close this issue 👍

[2020-10-15 11:58] dansible opened #385 "Remove OIDC warning message"
The warning message we receive from gardenctl when using a kubeconfig with an `exec` arg (for OIDC) can be confusing and is not needed. GKE/EKS, and many other K8s platforms rely on similar kubeconfigs using an `exec` argument and do not display such warnings. Can we remove the OIDC warning message when using a kubeconfig with an `exec` arg?

[2020-10-15 12:03] neo-liang-sap commented on #385
Hi @dansible , this warning message is required by dev esp from security perspective and introduced in PR https://github.com/gardener/gardenctl/pull/221, you can see more discussion in https://github.com/gardener/gardenctl/pull/221#issuecomment-658239370

Some background:
1) original gardenctl doesn't allow kubeconfig contains `exec`
2) with OIDC enabled, we have to accept `exec` in kubeconfigs us

[2020-10-15 12:05] petersutter commented on #385
see also https://banzaicloud.com/blog/kubeconfig-security/

[2020-10-15 12:19] neo-liang-sap commented on #338
Hi @dansible , please see my PR and comments in https://github.com/gardener/gardenctl/pull/386

[2020-10-15 16:12] jguipi opened #387 "Make logPodSeed output logs from all replicas"
We found that when there are more than 1 replicas of  the `kube-api` pod. The command will only output the log of one of the replicas while the expected behaviour is to output the logs from all of them.

[2020-10-15 16:13] jguipi opened #388 "Make logPodSeed use the current context"
We want to make `logPodSeed` function to use the current context if there's one available.

[2020-10-16 12:11] neo-liang-sap opened #389 "v0.22.0 gardenctl unable to operate against aws/gcp/azure cloud providers"
**Describe the bug**

This bug is introduced in https://github.com/gardener/gardenctl/pull/368
Now the issue is (same for aws/gcp/azure):

1) when run some cloud provider command e.g. `gardenctl aws ec2 describe-instances`, the actually command running is `gardenctl aws aws ec2 describe-instances`, so the `aws` command will exit with error code.
The problem code is https://github.com/gardener/gard

[2020-10-16 12:24] neo-liang-sap commented on #389
Per discussion with @dansible i'm providing an ugly hotfix https://github.com/gardener/gardenctl/pull/390/

[2020-10-16 12:27] neo-liang-sap commented on #389
/reopen
the fix i provided is a temp/ugly/quick fix, if anyone has better refactor idea feel free re-design the fix

[2020-10-16 13:57] tedteng commented on #389
PR for the subcommand https://github.com/gardener/gardenctl/pull/391. maybe we can revoke #390

[2020-10-16 14:00] tedteng commented on #389
Its all good for

AWS:
[code]

some network issue gcp/azure testing onging

[2020-10-16 14:01] neo-liang-sap commented on #389
https://github.com/gardener/gardenctl/pull/390 is already merged and released in v0.23.0, if you would like to revert https://github.com/gardener/gardenctl/pull/390 please include the revert code in this PR, thanks

[2020-10-16 14:14] tedteng commented on #32
- [ ] add Unit case for subcommand AWS/GCP/AZ/....

[2020-10-16 14:20] tedteng opened #392 "add tesing case for subcommand AWS/GCP/AZ/...."
**Describe the bug**
add tesing case for subcommand AWS/GCP/AZ/....

Currently we don't have any aws.go az.go gcloud.go command testing to check the code quality

[2020-10-19 00:49] tedteng opened #393 "lack of tests for currently gardenctl"
**Describe the bug**
To make sure the code quality we need add more tests to cover the gardenctl code as much as we can

the following exist testing which I check only covers test invalid number args, or shoot targeted check. no any foundation test or unit test inside.

- [ ] download_test.go

- [ ] logs_test.go

- [ ] show_test.go

- [ ] ssh_test.go

the following command lack of any test case

-

[2020-10-19 01:38] neo-liang-sap commented on #393
for `kubectl` / `kubectx` / `terraform` i used to work on their tests and had a discussion with @dansible , for these commands we only needs to confirm the `$?` is `0`, so we should focus on other tests esp the function we designed.
@dansible , what do you think?
Thanks.
-Neo

[2020-10-19 05:27] tedteng commented on #393
To make sure the quality, I think we are need focus on the tests as much as we can. for the new feature defintely we need new tests to case, for the exist one which I list in the above we are missing and not fully cover. we need increase the test case to cover it.  I think currently all the issue we occured caused by we are missing tests for exist code during our refactoing.

The command you menti

[2020-10-19 06:20] cds-otterbots opened #394 "Gardenctl ssh with aws doesn't work"
**Describe the bug**
Gardenctl ssh with aws doesn't work. During step 1/4 of sshing to the node via gardenctl, it fails due to wrong aws-cli usage.

**To Reproduce**
Steps to reproduce the behavior:
1. Which target was set 'gardenctl get target'
I targeted a shoot for whose project I am admin
2. Which command was entered [e.g. 'gardenctl show vpn-seed']
`gardenctl ssh <node_name>`
3. What was the

[2020-10-19 06:27] tedteng commented on #394
Thanks will take a look

[2020-10-19 06:35] tedteng commented on #389
The hotfix #390  break AWS/GCP/AZ SSH feature https://github.com/gardener/gardenctl/issues/394

PR to fix SSH and subcommand aws/gcp/az https://github.com/gardener/gardenctl/pull/391

[2020-10-19 07:01] tedteng commented on #394
close it as user will create new one with personal user account

[2020-10-19 07:01] #394 closed

[2020-10-19 07:02] wiegandf opened #395 "Gardenctl ssh with aws doesn't work"
**Describe the bug**
Gardenctl ssh with aws doesn't work. During step 1/4 of sshing to the node via gardenctl, it fails due to wrong aws-cli usage.

**To Reproduce**
Steps to reproduce the behavior:
1. Which target was set 'gardenctl get target'
I targeted a shoot for whose project I am admin
2. Which command was entered [e.g. 'gardenctl show vpn-seed']
`gardenctl ssh <node_name>`
3. What was the

[2020-10-19 07:21] tedteng opened #396 "gcloud subcommand error - An account is required when using .p12 keys"
**Describe the bug**
gcloud cli subcommand error

**To Reproduce**
./gardenctl-darwin-amd64 gcloud compute instances list
ERROR: (gcloud.auth.activate-service-account) Missing required argument [ACCOUNT]: An account is required when using .p12 keys
![image](https://user-images.githubusercontent.com/42234376/96413127-c39b0480-121d-11eb-9d9a-f976b29ae974.png)

**Expected behavior**
A clear and conci

[2020-10-19 07:30] tedteng commented on #389
for short summary, PR #391 will fix all the issues except the new issue I found https://github.com/gardener/gardenctl/issues/396 (v21)

I haven't found the suitable case to achieve the automation test for aws.go gcp.go az.go yet. That why the PR with [WIP], but The PR ready merge to fix most of the issues.  that depend on decided from @gardenctl-maintainers

[2020-10-19 08:52] neo-liang-sap commented on #396
/assign

Hi @tedteng , could you please share which cluster you are testing with? i randomly picked two gcp clusters but seems ok

![image](https://user-images.githubusercontent.com/42594392/96423042-627a2d80-122b-11eb-9845-3b0960bf5e6e.png)
![image](https://user-images.githubusercontent.com/42594392/96423076-6d34c280-122b-11eb-8fb4-0f97eaff25f6.png)

Thanks!
-Neo

[2020-10-19 12:26] dansible commented on #385
Yes, I understand the issue and the background for it, however, constantly producing warnings whenever using an OIDC kubeconfig is distracting and can also be confusing. When we look at other platforms like GKE or EKS, they both use executable kubeconfigs but don't produce any such warnings. `kubectl` itself also doesn't provide any warnings when using these kubeconfigs. It should be the responsib

[2020-10-19 12:37] dansible commented on #393
@tedteng  you're totally right that we need to focus on adding more comprehensive testing but I agree with @neo-liang-sap regarding the subcommands - anything that directly calls a 3rd party component just needs to be verified that it returns successfully.

`kubectl` / `kubectx` / `terraform` / `aws` / `gcloud` / ... all of these are external components with their own test suites. We don't need to

[2020-10-19 13:42] andrei-panov commented on #381
Seems like too many efforts compared to the outcome.
Just for the info: here the required headers which make API-call return results with "AGE" column.
`Accept:application/json;as=Table;v=v1;g=meta.k8s.io,application/json;as=Table;v=v1beta1;g=meta.k8s.io,application/json`

[2020-10-19 13:45] andrei-panov commented on #381
Instead, I will write the proper test for it against our integration-test cluster.

[2020-10-19 14:10] #389 closed

[2020-10-19 14:10] #395 closed

[2020-10-20 00:34] tedteng commented on #396
I got the same error even ` gardenctl gcloud -- -v`, It maybe my local env issue. will take a look today.

[2020-10-20 00:54] tedteng commented on #393
I think I miss the point at the beginning from neo he mentions about test kubectl/kubectx/taerraform itself. I am not talking about testing for subcommand itself, my point same as you guys we don't need test  `kubectl` / `kubectx` / `terraform` / `aws` / `gcloud` / itself,  they have their own test suits.  It's not necessary for us.

the only test case we need is the subcommand which involved by g

[2020-10-20 01:08] tedteng commented on #392
/close PR https://github.com/gardener/gardenctl/pull/391

[2020-10-20 01:08] #392 closed

[2020-10-20 12:33] dansible commented on #393
For the temporary testing, those are good 👍  The same can apply for `kubectx`, `terraform` and `kubectl`

[2020-10-20 12:54] #383 closed

[2020-10-21 05:56] neo-liang-sap commented on #336
PR - https://github.com/gardener/ops-toolbelt/pull/35

[2020-10-21 06:41] tedteng opened #403 "refactor functions and add test case in miscellaneous.go and miscellaneous_test.go and others which impacted"
**Describe the bug**
After a series of different experiments, to compatible the existing go test suits (*_test.go) and use it in the future test case. I have to refactor `isTargeted`,`getTargetName`,`getSeedObject`,`getShootObject`,`getProjectObject`

meanwhile, also test add new test cases for those methods in miscellaneous_test.go or others as much as I can. add more local integration tests to v

[2020-10-21 06:44] neo-liang-sap commented on #350
/assign
ingress alertmanager not exist any more, will remove the code
![image](https://user-images.githubusercontent.com/42594392/96682823-ee1ac800-13ab-11eb-8a5e-84904e28b9d5.png)

[2020-10-21 15:52] jfortin-sap opened #406 "ssh using machine cloud provider id"
**Feature**
ssh using machine cloud provider id when not available from (g ssh).

[2020-10-22 01:20] #350 closed

[2020-10-22 09:23] andrei-panov commented on #381
close it as not relevant

[2020-10-22 09:23] #381 closed

[2020-10-22 11:13] andrei-panov commented on #328
/assign

[2020-10-22 13:00] dansible commented on #396
closing as local issue

[2020-10-22 13:00] #396 closed

[2020-10-22 13:12] #338 closed

[2020-10-22 13:28] neo-liang-sap opened #407 "implement `gardenctl diag` like what we have in gardener-robot `./diag shoot_url`"
in gardener-robot we have ./diag shoot_url and shoot information is displayed, we would like to implement sth like this in gardenctl

[2020-10-23 01:59] tedteng commented on #325
/close as no bash after check

[2020-10-23 01:59] #325 closed

[2020-10-26 15:56] wwatson13 opened #411 "If the seed resource is missing the secretRef block to point to the seed access credentials, gardenctl panic errors when trying to target seed"
**Describe the bug**
When creating an external seed, the instructions did not specify to include the block secretRef in the spec for the seed or create the appropiate seed secret. This does not create any issues with the operation of the seed, however it impacts the ability of to use gardenctl to target the seed.  Gardenctl does not properly handle the error of the missing secret reference or the

[2020-10-26 23:26] neo-liang-sap commented on #411
/assign

[2020-10-26 23:44] neo-liang-sap commented on #411
Hi @wwatson13 , could you please provide more details:
- which garden you are targeting
- which seed you are targeting
- after targeting the seed, what command line you run and met the problem

[2020-10-28 01:50] neo-liang-sap commented on #345
/assign

[2020-10-28 02:36] tedteng opened #414 "remove KubernetesDashboard from logs.go"
**Describe the bug**
found KubernetesDshboard no long exist from UI and `kube-system`

![image](https://user-images.githubusercontent.com/42234376/97383784-55cf9680-1909-11eb-9c8d-5af452a989b8.png)

https://github.com/gardener/gardenctl/blob/f14cfa407aceea27d9d8a9579c5532e245a8e455/pkg/cmd/logs.go#L426-L461

**To Reproduce**
Steps to reproduce the behavior:
1. Which target was set 'gardenctl get t

[2020-10-28 03:13] tedteng commented on #393
Thanks, @dansible . for those subcommands go files it invokes the different third commands eg (kubeclt, kubectx, terraform etc), the third commands only installed on our local machine. I guess ginkgo may not able to mock it and failure in concourse either.  maybe this is the only way we can test our subcommand. welcome any new solutions.

Therefore, I suggest we create a docker image which contain

[2020-10-28 07:36] petersutter commented on #414
The kubernetes dashboard is an addon. Most likely this addon is not enabled on your cluster

[2020-10-28 14:16] andrei-panov opened #415 "setup grafana dashboard and submit gardenctl version on execution"
It might give us some insights if we start collecting information about gardenctl usage in terms of version number.

Like it happened recently with releasing the broken version it was not clear how urgent we should release a bugfix or it's fine to wait until the next release.

[2020-10-28 15:29] petersutter commented on #415
One can still go back to a previous released `gardenctl` version if it's super urgent. The problem should be tracked in an issue of course.
I would vote against such a central tracking feature for this open source component

[2020-10-28 15:45] andrei-panov opened #416 "setup environment for integration tests execution"
It would beneficial to setup an environment that we can use for integration tests when we call for the subcommands like kubectl and others.
As the first step, I would offer do not to concentrate on the output of the executed subcommands but mainly on validating the strings which we pass down. Exit code and might be very broad check for some Headers in the output or something.

The goal here not to

[2020-10-29 02:01] neo-liang-sap commented on #407
investigate whether it's easier to use gardener-robot docker image

[2020-10-29 02:03] neo-liang-sap opened #417 "Allow passing custom arguments to gardenctl ssh <openstack_node>"
It would be great to be able to run commands on the remote host (ie `gardenctl ssh to <openstack_node> echo true  && exit`)

[2020-10-29 02:25] neo-liang-sap commented on #407
Hi @dansible ,
i checked whether it's more easy to use gardener-robot image to implement the diag command.

if i understand correctly, the image url is `eu.gcr.io/sap-se-gcp-scp-k8s/gardener/robot:latest`

i tried run this image but found several problems:

1) python2 needs to be uninstalled otherwise error looks like these
![image](https://user-images.githubusercontent.com/42594392/97517585-76165

[2020-10-29 05:21] tedteng commented on #414
Thanks for the information and /close it

[2020-10-29 05:22] #414 closed

[2020-10-29 06:21] tedteng commented on #385
I have one feasible solution(only on Mac),  What about adding one method at the begging of `ValidateClientConfig ` display the full Warning message when the function invoked, then bring an option to the user asking whether need to display the Warning message all the time, or dismiss 3 day

if Yes create one tmp file under /tmp folder on local for checking. Warning message will skips if tmp file ex

[2020-10-29 10:38] andrei-panov commented on #326
/assign

[2020-10-29 10:45] petersutter commented on #385
If the user confirms that the kubeconfig is safe you could create a hash of the kubeconfig and update the garden config. As long as the hash stays the same of the kubeconfig you do not need to bother the user to check it again
[code]

[2020-10-29 12:06] dansible opened #418 "Allow passing custom arguments to gardenctl ssh <aws_node>"
To be able to run commands on the remote host (ie `gardenctl ssh to <aws_node> echo true  && exit`

[2020-10-29 12:07] dansible opened #419 "Allow passing custom arguments to gardenctl ssh <azure_node>"
It would be great to be able to run commands on the remote host (ie `gardenctl ssh to <azure_node> echo true  && exit`)

[2020-10-29 12:08] dansible opened #420 "Allow passing custom arguments to gardenctl ssh <gcp_node>"
It would be great to be able to run commands on the remote host (ie `gardenctl ssh to <gcp_node> echo true && exit`)

[2020-10-29 12:42] neo-liang-sap commented on #407
will follow up to make the output looks like a table

[2020-10-29 14:45] jfortin-sap commented on #406
PR opened https://github.com/gardener/gardenctl/pull/421

[2020-10-30 03:07] tedteng opened #422 "improve/simplify validations"
It's better now but I still think it's hard to understand and extend. I think these validations started simple but with added functionality started to get more and more complex. I do not have a concrete proposal now but I'm sure this can be expressed simpler. Maybe something to improve/simplify in a different PR

_Originally posted by @petersutter in https://github.com/gardener/gardenctl/pull/404#

[2020-10-30 03:08] tedteng commented on #422
[code]

[2020-11-02 06:29] tedteng commented on #418
[code]

[2020-11-02 06:31] tedteng commented on #418
also add `flag -c` invoke `cleanupAwsBastionHost` to remove bastion host.

[2020-11-02 07:06] tedteng commented on #419
[code]

[2020-11-02 07:08] tedteng commented on #419
[code]

[2020-11-02 07:14] tedteng commented on #420
[code]

[2020-11-02 07:20] tedteng commented on #420
[code]

[2020-11-02 14:54] andrei-panov commented on #415
closed since looks not relevant

[2020-11-02 14:54] #415 closed

[2020-11-03 10:15] stoyanr commented on #192
Is there any progress on this issue? As part of DoD activities we are still seeing clusters that could not be deleted because of `gardenctl` resources that leaked and prevent the deletion of VPC resources by Terraform.

[2020-11-05 02:00] neo-liang-sap opened #426 "some `gardenctl logs xxx` commands failed in oidc env due to missing permissions"
**Describe the bug**
In OIDC enabled env, `gardenctl logs` command failed at (at least, not fully verified for other commands) follow three parameter

`gardenctl logs gardener-apiserver`
`gardenctl logs gardener-controller-manager`
`gardenctl logs gardener-dashboard`

**To Reproduce**
Steps to reproduce the behavior:
1. Which target was set 'gardenctl get target'
[code]
2. Which command was entere

[2020-11-05 14:42] vpnachev commented on #192
/ping @dansible

[2020-11-06 03:28] tedteng opened #427 "calling `aws/gcloud/az/openstack/kubectl` directly without useing `--` to parse the flags"
**Describe the bug**
to use the flag of the third commands,  we need to parse the flag after using  `--` in cli command

eg
`gardenctl aws -- --version`
`gardenctl aws describe-instances -- --instance-id i-08380c99266ed233f `
`gardenctl kubectl -- -n garden get pod`

now  I like to remove `--`

[code]

- [x] aws
- [x] gcloud
- [x] az
- [x] openstack
- [x] kubectl

[2020-11-06 04:37] tedteng commented on #427
verify AWS
![image](https://user-images.githubusercontent.com/42234376/98326731-dcccef00-202c-11eb-8757-e2d829e640aa.png)

[2020-11-06 05:28] tedteng commented on #427
verify kubectl

![image](https://user-images.githubusercontent.com/42234376/98329795-ff163b00-2033-11eb-83c6-fd900fc3428e.png)

[2020-11-06 16:56] jguipi opened #429 "Fix Deploy gardener cluster pipeline"
It would be necessary to fix the execution of the `Deploy gardener cluster` pipeline that failed after the merge to master.

[2020-11-06 20:02] jguipi commented on #387
This was an error on the command  `ga logs vpn-seed`  code side.
The expected behaviour is already present [Here](https://github.com/gardener/gardenctl/blob/master/pkg/cmd/logs.go#L226)

[2020-11-06 20:02] #387 closed

[2020-11-09 00:58] #429 closed

[2020-11-09 01:47] tedteng opened #432 "show grafana return `Cmd wa unsuccessful`"
**Describe the bug**
During my testing `show grafana` return `Cmd was unsuccessful` which return break(`os.exit(1)`)  in my local test suits

**To Reproduce**
`gardenctl target -g ggg -p ppp -t ttt`
`gardenctl show grafan`

**Expected behavior**
[code]
expected not ` Cmd was unsuccessful` return

**Screenshots**

![image](https://user-images.githubusercontent.com/42234376/98491597-57398100-2270-11

[2020-11-09 05:54] neo-liang-sap opened #433 "--loki flag is not working in some of gardenctl logs command"
**Describe the bug**
--loki flag is not working in some of gardenctl logs command

**To Reproduce**
Steps to reproduce the behavior:
1. Which target was set 'gardenctl get target'
[code]
2. Which command was entered [e.g. 'gardenctl show vpn-seed']
`gardenctl logs api --loki`
3. What was the output of the command
`
exit status 1
`
the backend `kubectl` command exit with status `1`
[code]
**Expecte

[2020-11-09 06:03] neo-liang-sap commented on #336
/close
as PR https://github.com/gardener/ops-toolbelt/pull/35 already merged

[2020-11-09 06:03] #336 closed

[2020-11-09 16:24] dansible opened #434 "Resolve golint recommendations for fmt.Fprintf (S1038)"
We are getting the following warnings when running `golangci-lint`. It would be great if we can update the the code to align with the linting recommendations:

https://staticcheck.io/docs/checks#S1038

[code]

[2020-11-09 17:00] dansible commented on #192
I'm not sure I follow. We've already put in place the code to remove the bastion/sg resources once `gardenctl ssh` terminates. The only instance I know of where this can still cause a resource to leak is if the user abruptly exits the process (with something like `^C` before `gardenctl ssh` finishes the cleanup). In this case I'm not sure how we can handle this through gardenctl. Any ideas?

This

[2020-11-09 21:48] vpnachev commented on #192
Sure

Ref: https://github.com/gardener/gardenctl/issues/192#issue-604064287:

Well, this can happen unintentionally, so we should have a prevention mechanism that at least can keep track of these resources, not simply letting them exist forever or till they block the deletion of a shoot cluster.

[2020-11-09 21:56] neo-liang-sap commented on #434
/assign

[2020-11-10 01:36] #407 closed

[2020-11-10 01:38] #418 closed

[2020-11-10 01:38] #419 closed

[2020-11-10 01:38] #420 closed

[2020-11-10 01:38] #417 closed

[2020-11-10 01:39] #427 closed

[2020-11-10 15:57] dansible opened #436 "Logs for controlplane components should not require a shoot to be targeted"
When getting logs for the apiserver, etcd, and other control plane components, `gardenctl` requires you to have a shoot targeted. If users are already targeting the controlplane, it should be possible to get logs for anything running on the seed without needing to target a shoot

List of logging components on the seed:
- ~~gardener-controller-manager~~ existing logic doesn't require shoot to be ta

[2020-11-10 19:42] petersutter commented on #411
@tedteng: With the introduction of the [gardenlet](https://github.com/gardener/gardener/releases/tag/v0.33.0) the `spec.secretRef` is optional on the seed resource.

In case a shoot is used as seed, the flag `with-secret-ref` has to be added to the `shoot.gardener.cloud/use-as-seed` annotation so that the `spec.secretRef` is set on the seed.

[2020-11-11 01:38] neo-liang-sap commented on #411
Hi @petersutter i guess you were about to mentioning me :) Chinese names looks alike ;)
Thanks for explanation, i will modify code to make `spec.secretRef` to be optional

[2020-11-11 01:56] neo-liang-sap commented on #436
/assign

[2020-11-11 01:56] neo-liang-sap commented on #436
will work on this one after https://github.com/gardener/gardenctl/pull/437 close

[2020-11-11 09:17] petersutter commented on #411
whoops, I was answering from the phone and got things mixed up, sorry @neo-liang-sap :)

I don't think you will be able to access such seeds if the `secretRef` is missing. If it should be accessible, the operator has to either set the `spec.secretRef` on the `Seed` and provide the secret or add the flag to the annotation as written above in case it's a shoot.

cc @rfranzke anything I missed?

[2020-11-11 09:32] neo-liang-sap commented on #411
Ah thanks @petersutter @rfranzke for explanation, then i will add some logic to check when `spec.secretRef` is unavailable, gardenctl will exit and error msg like "the seed is inaccessiable xxxxx"... thanks for explanation!
-Neo

[2020-11-12 00:44] wwatson13 commented on #411
Sorry, missed the earlier question.  This is for NS2 gardener environments and we have a number of seeds that are not Shooted Seeds.  I can not provide access to the gardens as they are controlled.  However the scenario should be easy to recreate.

[2020-11-12 01:27] tedteng commented on #347
https://github.com/gardener/gardenctl/pull/404/files

[2020-11-12 12:43] andrei-panov commented on #393
If I understand it correctly here the image https://github.com/gardener/ops-toolbelt
Only the credentials part is missed.

[2020-11-12 14:43] andrei-panov commented on #433
/assign

[2020-11-13 15:28] dansible opened #442 "gardenctl ssh <aws_node> fails with `InvalidParameterValue`"
**Describe the bug**
`gardenctl ssh <aws_node>` fails with `InvalidParameterValue` (using `gardenctl/gctl-aws` cluster)

**To Reproduce**
Using 52235f2f with a test cluster gives:

[code]

Using just the nostname:

[code]

**Gardenctl Version (please complete the following information):**
 - Version/Commit 52235f2f

[2020-11-13 17:09] dansible opened #443 "gardenctl ssh <gcp_node> fails with `Cmd was unsuccessful`"
**Describe the bug**
`gardenctl ssh <gcp_node>` fails with `Cmd was unsuccessful` (using `gardenctl/gctl-gcp` cluster)

**To Reproduce**
Using 52235f2f with a test cluster gives:

[code]

**Gardenctl Version (please complete the following information):**
 - Version/Commit 52235f2f

[2020-11-13 18:14] dansible opened #444 "gardenctl ssh <openstack_node> fails with `Operation timed out`"
**Describe the bug**
`gardenctl ssh <openstack_node>` fails with `Cmd was unsuccessful` (using `gardenctl/gctl-os` cluster)

**To Reproduce**
Using 52235f2f with a test cluster gives:

[code]

Unfortunately, this also doesn't return an error because the cleanup operation succeeded. It would be great to also expose the error code to the end user (even if the cleanup was successful)

**Gardenctl Ver

[2020-11-16 01:23] neo-liang-sap commented on #444
/assign

[2020-11-16 02:20] neo-liang-sap commented on #444
PR submitted for review https://github.com/gardener/gardenctl/pull/445

[2020-11-16 02:26] neo-liang-sap commented on #443
/assign

[2020-11-16 02:40] neo-liang-sap commented on #443
seems working from my side - the only thing i need to do is connecting to PHILA VPN server as shanghai vpn server can't connect to google services....

![image](https://user-images.githubusercontent.com/42594392/99207028-dfcb9a80-27f7-11eb-86b7-6eff209165e0.png)
![image](https://user-images.githubusercontent.com/42594392/99207131-1bfefb00-27f8-11eb-95da-5042afc932b8.png)

[2020-11-16 02:44] neo-liang-sap commented on #442
/assign

[2020-11-16 05:34] neo-liang-sap commented on #442
Hi @dansible , i was unable to reproduce your problem but i found some issue in current ssh_aws.go
i submitted a PR https://github.com/gardener/gardenctl/pull/446 , i added some detailed information why i propose this PR in https://github.com/gardener/gardenctl/pull/446 , please review it when you have time.

BTW i upgraded my `aws` in local and here's my version
[code]
Thanks!
-Neo

[2020-11-16 14:48] #326 closed

[2020-11-17 01:31] tedteng opened #447 "executed the test_local from github action"
**Describe the bug**
I like to execute the test_local for e2e testing from GitHub action when any new commit push. the action which able to handle ssh testing in test_local and others eg `gardenctl` execution. and need feasible solution handle configuration file(garden dev kubeconfig)

[2020-11-17 08:24] tedteng commented on #447
so far I am able to execute the action to check when PR changed.
but

![image](https://user-images.githubusercontent.com/42234376/99364700-44b6eb80-28f1-11eb-9f5c-6a736cc8679f.png)

[2020-11-17 13:31] neo-liang-sap opened #448 "implement a netcat method to check whether the IP is accessible"
During investigation of `gardenctl ssh openstack_node`, we need to confirm whether the FIP will be accessible, i would like to add some try catch logic to check whether ip is accessible e.g. 5 times.
Also refactor this method to public method , for other usage in other scenario.
/assign

[2020-11-17 13:44] #345 closed

[2020-11-18 01:05] #434 closed

[2020-11-18 01:15] neo-liang-sap opened #450 "implement `gardenctl wakeup` to wake up a shoot cluster and `gardenctl hibernate` to hibernate a shoot cluster after shoot targeted"
as titled.
After shoot is targeted,

If the shoot is hibernated, `gardenctl wakeup` will wakeup the shoot, wait until shoot waked up.
If the shoot is not hibernated, print out msg indicating the shoot status.

If the shoot is not hibernated, `gardenctl hibernate` will hibernate the shoot, wait until shoot hibernated.
If the shoot is hibernated, print out msg indicating the shoot status.
/assign

[2020-11-18 01:46] neo-liang-sap commented on #448
PR together in https://github.com/gardener/gardenctl/pull/445

[2020-11-18 01:59] neo-liang-sap commented on #411
PR - https://github.com/gardener/gardenctl/pull/451

[2020-11-18 02:10] tedteng opened #452 "PR conflicts not watched"
**Describe the bug**
The PRs may affected by one PR merged.  however, the conflict msg never notice the owner either mail or github comment.

I want to use an action to watch the PR conflict and mention the owner in the comment when conflict occurs.

![image](https://user-images.githubusercontent.com/42234376/99473253-2e5a6f80-2985-11eb-8088-69165d066eb7.png)

[2020-11-18 06:49] tedteng commented on #452
before meger conflict PR
![image](https://user-images.githubusercontent.com/42234376/99494947-d172af80-29ac-11eb-9155-8860581ce701.png)

conflict check - remove all labels and tag `PR: need rebase`
![image](https://user-images.githubusercontent.com/42234376/99494967-dafc1780-29ac-11eb-9b2d-c1d56cc38e3a.png)

also email notify
![image](https://user-images.githubusercontent.com/42234376/99495027-f5c

[2020-11-18 08:15] tedteng commented on #452
@dansible  currently I had achieved conflict detected and notify code owner by action and the test result looks well from my personal github repo.

during the research, I also achieved the auto-approved action before merge PR.  when numbers of `lgtm` comment reaches require times from the dedicated group person. the status becomes to approve.

The next steps, I am planning to look for auto-merge a

[2020-11-18 08:43] neo-liang-sap commented on #32
/unassign
/kind/epic

[2020-11-18 08:44] neo-liang-sap commented on #32
unassign as this is an epic, progress has been tracked in different separate sub-tasks

[2020-11-19 00:51] #403 closed

[2020-11-19 01:23] #411 closed

[2020-11-19 13:23] dansible commented on #452
Very nice, Ted. For the auto-merge after approval, I would hold off on that feature. I think the merging should be a deliberate action taken by the person who created the PR once it is approved, rather than an automated process as it gives people the opportunity to revise and make changes in case something is missed

[2020-11-19 13:46] dansible commented on #443
Unfortunately i'm still not able to have an ssh session succeed on GCP. Both on or off the Philiddelphia VPN, I get this:

[code]

Debug mode (`-d`) does not provide any more info. This is the same with the released `gardenctl` (`v0.23.1`)

[2020-11-19 20:42] dansible commented on #443
Thanks @neo-liang-sap, I reinstalled my gcloud command line and was able to resolve the issue :+1:

[2020-11-19 20:42] #443 closed

[2020-11-19 21:41] dansible commented on #444
It seems the cleanup process doesn't finish successfully:

[code]

[2020-11-20 01:13] tedteng commented on #452
Thanks, I will not implement the auto-merge feature.

[2020-11-20 01:28] #388 closed

[2020-11-20 03:39] neo-liang-sap commented on #444
Hi @dansible , maybe could you please try with this PR? (https://github.com/gardener/gardenctl/pull/446) i guess the exit status 1 is not returned by clean up function but from the `CheckIPPortReachable ` function
![image](https://user-images.githubusercontent.com/42594392/99755130-f12ce380-2b24-11eb-981d-e26b5d43cb38.png)
from my testing using above PR this is OK
If you still meet problem let's h

[2020-11-20 04:02] neo-liang-sap opened #455 "pkg/cmd/logs.go:583:22: undefined: getFromTargetInfo"
**Describe the bug**

When i was checking concourse CI build log i found following error:
[code]
https://concourse.ci.gardener.cloud/builds/2410#L5fb7906d:49

This issue is introduced in https://github.com/gardener/gardenctl/pull/431/commits/42c02e6866e7c1ec2ff27a21e164dbfb2e06939b#diff-59f23253994b1605ea49a120ea68de0c2ee3a4240c2825bb741f7b707695211fR582

the method `getFromTargetInfo(string)` has